{% extends "admin-base.html" %}

{% block content %}
			<div class="notification gold">
				<div class="columns partners">
					<div class="column">
						<div class="tabs proposal is-toggle has-text-weight-bold">
						  <ul>
						    <li class="is-active">
						      <a>
						        <span class="icon is-small"><i class="fas fa-plus" aria-hidden="true"></i></span>
						        <span class="proposal">New</span>
						      </a>
						    </li>
						    <li>
						      <a>
						        <span class="icon is-small"><i class="fas fa-ellipsis-h" aria-hidden="true"></i></span>
						        <span class="prop">Ongoing</span>
						      </a>
						    </li>
						    <li>
						      <a>
						        <span class="icon is-small"><i class="fas fa-check" aria-hidden="true"></i></span>
						        <span>Completed</span>
						      </a>
						    </li>
						  </ul>
						</div>
					</div>

					<div class="column">
						<article class="media">
						  	<figure class="media-left"> 
						  		<button class="button add">
						  		<a href="{{url_for('admin.proposals_create')}}" ><i class="fas fa-plus-circle"> </i>&nbsp Add</button>
						  	</figure>
						</article>
					</div>

					<div class="column is-3">
						<div class="field has-addons has-addons-centered">
							<p class="control">
							    <input class="input" type="text" placeholder="Search">
							</p>
							<p class="control">
							    <a class="button search">
							      Search
							    </a>
							</p>
						</div>
					</div>
				</div>
			</div>

			    <div class="columns is-gapless">
			    	<div class="column is-2">
			    		<div class="notification filter">
			    			<p class="title is-size-5">Filter</p>

			    			<div class="columns">
			    				<div class="column">
			    					<div class="select is-fullwidth">
									    <select>
									      <option>Please choose</option>
									      <option>All</option>
									      <option>Organizations</option>
									      <option>Departmental</option>
									      <option>Partners</option>
									    </select>
								 	</div>
			    				</div>
			    			</div>

			    			<div class="columns">
			    				<div class="column">
			    					<div class="select is-fullwidth">
									    <select>
									      <option>Please choose</option>
									      <option>All</option>
									      <option>Organizations</option>
									      <option>Departmental</option>
									      <option>Partners</option>
									    </select>
								 	</div>
			    				</div>
			    			</div>

			    			<div class="columns">
			    				<div class="column">
			    					<div class="select is-fullwidth">
									    <select>
									      <option>Please choose</option>
									      <option>All</option>
									      <option>Organizations</option>
									      <option>Departmental</option>
									      <option>Partners</option>
									    </select>
								 	</div>
			    				</div>
			    			</div>
						 	
			    		</div>
			    	</div>
			    	<div class="column">
			            <div class="card box">
			            	<div class="card-header">
							<p class="card-header-title">Proposals</p>
						</div>
						<div class="card-content">
							<table class="table is-fullwidth">
								<thead>
								    <tr>
								      <th class="newlist">Title</th>
								      <th class="newlist">Venue</th>
								      <th class="newlist">Date</th>
								      <th class="newlist">Actions</th>
								    </tr>
								</thead>

							  	<tbody>
								    <tr class="plist">
								      <td>Tree Planting</td>
								      <td>San Sebastian College-Recoletos de Cavite, Cavite City</td>
								      <td>January 10, 2019</td>
								      <td>
								      	<div class="dropdown is-hoverable">
											<div class="dropdown-trigger">
												<button class="button">
													<span>Actions</span>
													<span class="icon">
														<i class="fa fa-angle-down"></i>
													</span>
												</button>
											</div>
											<div class="dropdown-menu">
												<div class="dropdown-content">
													<a class="dropdown-item">
														<span class="icon">
															<i class="fas fa-eye"></i>
														</span>
														View
													</a>
													<a class="dropdown-item">
														<span class="icon">
															<i class="fa fa-archive"></i>
														</span>
														Archive
													</a>
												</div>
											</div>
										</div>
								      </td>
								    </tr>
								</tbody>
							</table>
						</div>
			            </div>
					</div>
				</div>
{% endblock %}