{% extends "registered-base.html" %}

{% block content %}

    <div class="notification gold"> 
      <div class="columns is-centered">
        <div class="column">
          <a href="{{url_for('registered.referral_users')}}" class="button refer is-warning">
            <span class="has-text-weight-bold">Do you know someone can help us?</span>
          </a>
        </div>
        <div class="column search-box">
            <div class="field has-addons has-addons-centered is-pulled-right">
              <p class="control">
                  <input class="input" type="text" placeholder="Search">
              </p>
              <p class="control">
                  <a class="button search">
                    Search
                  </a>
              </p>
            </div>
        </div>
      </div>
    </div>

    <div class="columns">
      <div class="column is-2">
        <div class="filter-btn is-size-5" onclick="filtershrink()">
          <i class="fas fa-filter"></i>&nbspFilter
        </div>
        <div class="notification filter" id="filterDIV">
          <div class="columns">
            <div class="column">
              <p class="title is-size-5">Thrust</p>
              <div class="field">
                <div class="control">
                  <div class="select is-warning">
                    <select class="filter-dropdown">
                        <option>All</option>
                        <option>Educational</option>
                        <option>Environment</option>
                        <option>Health</option>
                        <option>Livelihood</option>
                        <option>Socio-Political</option>
                        <option>Spiritual</option>
                      </select>
                    </div>
                  </div>
                </div>
                
                <p class="title is-size-5">Type</p>

                <div class="field">
                  <div class="control">
                    <div class="select is-warning">
                      <select class="filter-dropdown">
                          <option>All</option>
                          <option>Institutional</option>
                          <option>Outside</option>
                      </select>
                    </div>
                  </div>
                </div>
            </div>
          </div>
          
        </div>
      </div>

      <div class="column">
        <div class="columns padding-el is-multiline">
          {% for linkage in linkages %}
            {% include 'registered/linkages/_linkages.html' %}
          {% endfor %}
        </div>
      </div>  
  </div>

{% endblock %}