<!DOCTYPE html>
<html>

    <head>
        {% if title %}
        <title>{{ title }} | ReCOP-ComEx</title>
        {% else %}
        <title>ReCOP-ComEx</title>
        {% endif %}

        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="../../../static/css/bulma-0.7.2/css/bulma.css">
        <link rel="stylesheet" href="../../../static/css/fontawesome-5.5.0/css/all.css">
        <link rel="stylesheet" href="../../../static/css/recop-comex-style/css/style.css">
        <script type="text/javascript" src = "../../../static/scripts/base.js" ></script>   

    </head>

    <body>

        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="{{url_for('communities.index')}}">
                    <img src="../../../static/images/logo-menu.png">
                </a>

                <span class="navbar-burger burger" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </span>
            </div>

            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{url_for('communities.index')}}">
                        <strong>Home</strong>
                    </a>
                    <a class="navbar-item" href="{{url_for('communities.events')}}">
                        <strong>Events</strong>
                    </a>
                    <a class="navbar-item" href="{{url_for('communities.reports')}}">
                        <strong>Reports</strong>
                    </a>
                    <a class="navbar-item" href="{{url_for('communities.contactus')}}">
                        <strong>Contact Us</strong>
                    </a>
                    <a class="navbar-item" href="{{url_for('communities.termsandconditions')}}">
                        <strong>Terms & Conditions</strong>
                    </a>
                </div>
                <div class="navbar-end">
                    <a href="#" class="navbar-item">
                        <span class="icon is-small has-text-white">
                            <i class="fas fa-bell"></i>
                        </span>
                    </a>
                    <a href="#" class="navbar-item">
                        <span class="icon is-small has-text-white">
                            <i class="fas fa-question-circle "></i>
                        </span>
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link">
                            <div>
                                <i class="fas fa-user-circle fa-2x"></i>
                            </div>
                        </a>

                        <div class="navbar-dropdown is-right">
                            <a class="navbar-item" href="{{url_for('communities.profile_about', user=current_user.username)}}">
                                My Profile
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{{url_for('unregistered.logout')}}">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
		</nav>
        
		{% block content %} {% endblock %}

	</body>

    <script type="text/javascript" src = "../../../static/scripts/communities.js" ></script>
    <script type = "text/javascript" src="../../../static/scripts/sweetalert2.all.min.js"></script>


    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
             <script>
                Swal.fire({
                    title: "{{message}}", 
                    type: "{{category}}",
                    customClass: "modal",
                    buttonsStyling: false,
                    allowOutsideClick: false,
                    heightAuto: false,
                    confirmButtonClass: 'button is-medium submit'
                })
            </script>
            {% endfor %}
        {% endif %}
    {% endwith %}

</html>