 	.modal-card-head{
	  background-color: #072000;
	}

	.card-content.show-modal{
	    padding: 0rem;
	    margin: 0;
	}

	.circular-event-modal{
		width: 150px;
		height: 150px;
		border-radius: 50%;
		position: relative;
		left: 55%;
		margin-top: 6%;
		transform: translateX(-50%);
		overflow: hidden;
		text-align: center;
	}

	.circular-event-modal img{
		min-width: 100%;
		min-height: 100%;
		width: auto;
		height: auto;
		position: absolute;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
	}

	.modal-show{
	  	width: 100%;
	}

  	.overlay-card-modal{
	  background-color:#ecad00;
	  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23fdfcff' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
	  min-height: 200px;
	  max-height: 270px;
	  padding-top:20px;
	  padding-bottom: 20px;
	}

	.modal-media{
		padding-left: 20px;
		padding-right: 20px;
	}
	
	.modal-text{
		margin-top: 7%;
	}


	@media screen and (max-width: 530px) {
		.modal-card-title{
			font-size: 18px;
		}
	}

	.tag.status-tag{
		background-color: #092d01;
		color: white;
	}

.rate {
	float: left;
    margin-bottom:5%;
    margin-right: 2%;
}

.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1.1em;
    overflow:hidden;
    cursor:pointer;
    color:black;
}

.rate > input:checked ~ label {
    color: orange;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: orange;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #ffb901;
}
