  body{
    font-family: Century Gothic;
    color: black;
  }

/*	------NAVIGATION BAR------	*/
  .navbar, .navbar-dropdown, .navbar-menu{
      background-color: #072000; 
  }

  .nav-text{
      color: #ffb901;
      font-size: 25px;
  }

  .navbar-item, a.navbar-link, .navbar-end{
      color: white;
      font-weight: bold;
  }

  a.navbar-item:hover, a.navbar-item.is-active, .nav-icons:hover, .navbar-dropdown a.navbar-item:hover, .navbar-item.has-dropdown.is-hoverable:hover .navbar-link, .navbar-item.has-dropdown.is-active .navbar-link{
      background-color: #092d01;
      color: #ffb901; 
  }

  .burger{
      color: white;
  }

  img.nav-icons{
    border-radius: 50%;
  }
/*	------NAVIGATION BAR END------	*/


/*  ------BACKGROUND AND UPPER NAV------  */
	.hero{
		background-color: #efeeee;
	}

	.list{
		border:0px;
		margin:1%;
	}

	.notification.gold{
		background-color:#ecad00;
		text-decoration: none;
		margin-bottom: 0;
		border-radius: 0;
	}

	.notification.filter{
		background-color: white;
	}

  .select.is-warning select{
    border-color: #ecad00;
  }

  .filter-dropdown{
    width: 150px;
    border-color: black;
  }
/*  ------BACKGROUND AND UPPER NAV END------  */


/*  ------BUTTONS------		*/
	.button.submit, .button.send, .button.search, .button.add, .btn-follow:hover{
		background-color: #072000; 
		color: #ffb901;
		border-color: #072000;
	}

  .btn-follow{
    color: #072000;
  }

  .btn-follow:hover{
    background-color: transparent;
  }

	.button-back{
		position:absolute;
		margin: 1%;
	}

  .button.search{
    font-family: monospace;
  }

  .fas.fa-times-circle.x{
    background-color: transparent;
  }

  .fas.fa-times-circle.x:hover{
    color: white;
  }
/*  ------BUTTONS END------  */


/*  ------SEARCH RESULT------  */
  .search-show{
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: none;
  }

  .search-highlight, .fa-times-circle{
    color: white;
    border-radius: 7px; 
    background-color: #072000;
  }

  .search-highlight:hover, .fa-times-circle:hover{
    color: #ffb901;
  }


/* ------SEARCH RESULT END------  */


/* ------VIEW EVENT BUTTONS------   */
	a.button.viewbtn{
		background-color: #ecad00;
		color: #072000;
		border-color: #072000;
	}

	a.button.viewbtn:hover, a.button.viewbtn.is-active{
		background-color: #072000;
		color: #ffb901;
		border-color: #072000;
	}
/*	------VIEW EVENT BUTTONS END------	*/


/*  ------TABS------		*/
	.tabs.proposal.is-toggle li a, .tabs.feedbacks.is-toggle li a{
  	color: #ffb901;
  	background-color: #072000; 
  	border-color: #072000;
  	text-decoration: none;
  }

  .tabs.proposal.is-toggle li.is-active a, .tabs.proposal.is-toggle li a:hover, .tabs.feedbacks.is-toggle li.is-active a, .tabs.feedbacks.is-toggle li a:hover{
  	background-color: white;
  	color: #072000;
  	border-color: white;
  }

  @media only screen and (max-width: 600px) {
    /* For mobile phones: */
    span.proposal{
      display: none;
    }
  }
/*	------END------		*/


/* ------PROFILE------	*/
  .overlay-card{
	  background-color:#ecad00;
	  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23fdfcff' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
	  padding-top:25px;
	  min-height: 350px;
	}

	.circular{
	  width: 200px;
	  height: 200px;
	  border-radius: 50%;
	  position: relative;
	  left: 50%;
	  transform: translateX(-50%);
	  overflow: hidden;
	  text-align: center;
	  margin-bottom: 10px;
	}

	.circular img{
	  min-width: 100%;
	  min-height: 100%;
	  width: auto;
	  height: auto;
	  position: absolute;
	  left: 50%;
	  top: 50%;
	  -webkit-transform: translate(-50%, -50%);
	  -moz-transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
	  transform: translate(-50%, -50%);
	}

	.row-profile{
		padding-bottom: 15px;
	}

	.level.is-mobile{
		margin-bottom: 15px;
	}

	.card-content.profile{
		padding: 0rem;
	}

	.prof-icon, .prof-icon:hover{
		color: #072000;  
	}

	.active-prof-nav{
		padding-bottom: 4px;
		border-bottom: 3px solid white;
	}

	.active-prof-nav:hover{
		border-bottom: 3px solid #ffb901;
	}

  .panel-block > .media > .media-left{
    width: 180px;
  }

  .prof-panel-icon{
    display: none;
  }

  /* Change picture*/

 
  /* end change picture*/

  @media only screen and (max-width: 420px) {
    /* For mobile phones: */
    .prof-panel-icon{
      display: block;
      margin-top: 5px;
    }

    .panel-block > .media > .media-left{
      width: auto;
    }

    .panel-block > .media > .media-left > p{
      display: none;
     }
  }

/* ------PROFILE END------   */


/*	------ADMIN - PARTNERS - PROFILE------   */
	.backbtnprof, .btn-upload, .btn-upload:hover{
		background-color: #072000; 
		color: #ffb901;
		border-color: #072000;
	}

	.backbtnprof:hover{
		background-color: #ffb901;
		color: #072000; 
		border-color: #072000;
	}

/*	------ADMIN - PARTNERS - PROFILE - END------ */


/*  ------ADMIN - PROFILE - SETTINGS------ */
  .menu-label.settings:hover{
    background-color: whitesmoke;
    cursor: pointer;
  }

  .settings-dropdown{
    display: none;
  }
/*  ------ADMIN - PROFILE- SETTINGS - END------ */


/*	------STARS------		*/
	.checked {
		color: orange;

	}
/*	------ STARS END------		*/


/*  ------ALL VIEWS -  EVENTS------    */
  .padding-el{
    padding: 20px;
  }

	.upcoming-event{
		margin-bottom: 5px;
		padding: 10px;
	}

	a .upcoming-event:hover{
		background-color: whitesmoke;
	}

	.select-list{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
		transition: .2s;
		border-radius: 5px;
    height: 100%;
	}

	.select-list:hover{
		cursor: pointer;
    box-shadow: 0 4px 12px 0 #072000;
	}

  .card-content.all-view{
    display: flex; 
    flex-direction: column;
    height: 100%;
  }

  .event-btn{
    margin-top: auto;
  }

	.event-btn:hover{
		background-color: #072000;
		color: #ffb901; 
		border-color: #072000;
	}

	.overlay-card-event{
		  background-color:#ecad00;
		  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23fdfcff' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
		  min-height: 320px;
		  padding-top:25px;
	}

	.circular-event{
		  width: 150px;
		  height: 150px;
		  border-radius: 50%;
		  position: relative;
		  left: 50%;
		  transform: translateX(-50%);
		  overflow: hidden;
		  text-align: center;
		  margin-bottom: 20px;
	}

	.circular-event img{
		  min-width: 100%;
		  min-height: 100%;
		  width: auto;
		  height: auto;
		  position: absolute;
		  left: 50%;
		  top: 50%;
		  -webkit-transform: translate(-50%, -50%);
		  -moz-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
	}
/*  ------ALL VIEWS - EVENTS  END------    */


/*  ------ADMIN -  EVENTS ------     */
   .content-track {
    position: relative; 
    overflow-x: auto;
    padding: 0;
  }

	.tracker{
	  color: black;
	}

	.track-icon{
		display: block;
		margin-left: auto;
		margin-right: auto;
		color: gray;
	}

	@media only screen and (max-width: 768px) {
	  /* For mobile phones: */
	  .track-icon{
			width: 40%;
		}
	}

	.circles{
		padding-top: 20px;
		padding-bottom: 20px;
		color: gray;
	}

	.mark{
		color: #072000;
	}
/*   ------ ADMIN -  EVENTS END------   */


/*   ------LINKAGES PROPOSAL & ADD MEMBERS------   */
	.box.white{
		transform: translateX(6%);
		width: 90%;
	}

  .referral{
    margin-top: -160px;
  }

/*  ------LINKAGES PROPOSAL & ADD MEMBERS END ------  */


/*  ------  DONATE ------   */
	.responsive {
	  width: 100%;
	  height: auto;
	}

	.nav-gold{
    background-color: #ffb901;
    padding: 15px;
    border: 2px solid #072000;  
    color: #072000;
  }

  .box.person-details{
    box-shadow: none;
  }

  .overlay-card-donation{
	  background-color:#ecad00;
	  background-image: url("/static/images/donate.jpg");
	  height:320px;
	  padding-top:25px;
    background-attachment: fixed;
	  background-position: center; /* Center the image */
	  background-repeat: no-repeat; /* Do not repeat the image */
	  background-size: cover;
	  margin-bottom: -25px;
	}
/*   ------ DONATE  END ------    */


/*    ------ EVENTS ------    */
	.notification.event{
    background-color: white;
    padding: 0px;
    border-radius: 0px;
    border-top: 1px #e0e0e0;
    position: static;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
  .notification.date{
    border-radius: 0px;
    padding: 25px;
    height: 100%;
  }

  .content.event{
    padding: 10px;
  }
/* ------EVENTS  END------  */


/*  ------ ADMIN - TABLES------  */
  .table-responsive {
	  overflow-x: auto;
	}	

/*  ------ ADMIN -TABLE END ------  */


/*  ------ CONTACT US ------   */
  .hero-contact {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.3)), url("/static/images/sscrdc.jpg");
    min-height: 330px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

  .container-contact{
    margin-top: 70px;
  }
 /*   ------ CONTACT US END ------  */


/* ------SIGN UP------ */
  .color{
    color: #072000;
  }    
  
  .padding{
    padding: 10px;
  }

  .padding-signup{
    padding: 15px;
  }

  .card1:hover{ 
     box-shadow: 1px 8px 10px grey;
    -webkit-transition:  box-shadow .2s ease-in;
  }
   
  .hidden{
    display: none;  
  }

/*  ------LAZY LOAD STYLES  ------*/
.card1-image {
  display: block;
  background: #fff center center no-repeat;
  background-size: cover; 
  padding-top: 20%;
  padding-bottom: 15%;  
}
/*  ------LAYOUT STYLES ------ */


  .card1-list {
    display: block;
    margin: 1rem auto;
    padding: 0;
    font-size: 0;
    text-align: center;
    list-style: none;
  }

  .card1 {
    display: inline-block;
    width: 90%;
    max-width: 20rem;
    margin: 1rem;
    font-size: 1rem;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 0 3rem -1rem rgba(0,0,0,0.5);
    transition: transform 0.1s ease-in-out, box-shadow 0.1s;
  }

  .card1:hover {
    transform: translateY(-0.5rem) scale(1.0125);
    box-shadow: 0 0.5em 3rem -1rem rgba(0,0,0,0.5);
  }

  .card1-description {
    display: block;
    padding: 1em 0.5em;
    color: #515151;
    text-decoration: none;
  }

  .card1-description > h2 {
    margin: 0 0 0.5em;
  }

  .card1-description > p {
    margin: 0;
  }
/*  ------END SIGN UP ------ */


/*    ------HOME START ------  */
  .image_home{
    width: 100%;
    height: 250px;
    max-height:400px;
    padding: none;
  }

  .gold-footer{
		background-color: #ffb901; 
		height: 5px;
		width: auto;
		bottom: 0;
		top: 0;
	}

	.green{
	  background-color: #072000;
    padding-top: 20px;
    padding-bottom: 10px;
			
	}

	.green h4, .green h1{
		color: #ffb901;  
	}
	
  .padding{
		padding: 5px;
	}

/*  ------CONTENT OVERLAY ------*/
  .content {
    position: relative; 
    max-height:250px;
    overflow: hidden;
    padding: 0;
  }

  .content .content-overlay {
    position: absolute;
    height: auto;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -moz-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
  }

  .content:hover .content-overlay{
    opacity: 0.5;
    background-color:#072000;
  }

  .content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }

  .content:hover .content-details{
    top: 50%;
    left: 50%;
    opacity: 1;

  }

/*  ------COMMUNITIES  ------*/

.picture{
  padding: 5px;
  height: 180px;
  display: flex;
}

.refer{
  cursor: pointer;
  display: inline-block;
  transition: 0.5s;
}

.refer:after {
  content: '»';
  font-weight: bold;
  opacity: 0; 
  right: -20px;
  transition: 0.5s;
}

.refer:hover{
  padding-right: 15px;
  padding-left:8px;
}

.refer:hover:after {
  opacity: 1;
  right: 10px;
}
  

/**/

/*  ------cover image  ------*/
  
/*cover image*/
.cd-fixed-bg.cd-bg-1 {
  background-image: url("/static/images/bg1.jpg");
}

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body, html {
  /* important */
  height: 100%;
}

/* -------------------------------- 

Modules - reusable parts of our design

-------------------------------- */
.cd-fixed-bg {
  position: relative;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.container-h1{
  position: absolute;
  left: 50%;
  top: 42%;
  bottom: auto;
  right: auto;
  background-color:#072000;
  width: 100%;
  opacity: 0.9;
  width: 10px;
}


.cd-fixed-bg h1{
  position: absolute;
  left: 50%;
  top: 42%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 1170px;
  text-align: center;
  color:whitesmoke;
  font-size: 25px;
  padding: 10px;
     text-shadow: 2px 2px black;
     font-weight: bold;


}

@media only screen and (min-width: 900px) {
  .cd-fixed-bg {
    background-attachment: fixed;

  }
  .cd-fixed-bg h1{
    top: 38%;
    font-size: 60px;
     text-shadow: 4px 4px black;
     font-weight: bold;
  }
}


@media only screen and (max-width: 900px) {
  .cd-fixed-bg {
    background-attachment: fixed;
    
  }
  .cd-fixed-bg h1{
    top: 38%;
    font-size: 28px;
     text-shadow: 2px 2px black;
     font-weight: bold;
  }
}

/*bg2*/
.cd-fixed-bg2.cd-bg-2 {
  background-image: url("/static/images/sscrdc.jpg");
}
.cd-fixed-bg2 {
  position: relative;
  min-height: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg2 h1{
  position: absolute;
  left: 50%;
  top: 42%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 1170px;
  text-align: center;
  color:whitesmoke;
  font-size: 25px;
  padding: 10px;
     text-shadow: 2px 2px black;
     font-weight: bold;


}

@media only screen and (min-width: 500px) {
  .cd-fixed-bg2 {
    background-attachment: fixed;

  }
  .cd-fixed-bg2 h1{
    top: 38%;
    font-size: 65px;
     text-shadow: 4px 4px black;
     font-weight: bold;
  }
}


@media only screen and (max-width: 500px) {
  .cd-fixed-bg2 {
    background-attachment: fixed;
    
  }
  .cd-fixed-bg2 h1{
    top: 43%;
    font-size: 25px;
     text-shadow: 2px 2px black;
     font-weight: bold;
  }
}


/**/

/*bg3*/
.cd-fixed-bg3.cd-bg-3 {
  background-image: url("/static/images/sscrdc.jpg");
}
.cd-fixed-bg3 {
  position: relative;
  min-height: 40%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  z-index: 1;
}
.cd-fixed-bg3 h1{
  position: absolute;
  left: 50%;
  top: 42%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  width: 100%;
  max-width: 1170px;
  text-align: center;
  color:whitesmoke;
  font-size: 25px;
  padding: 10px;
     text-shadow: 2px 2px black;
     font-weight: bold;


}

@media only screen and (min-width: 500px) {
  .cd-fixed-bg3 {
    background-attachment: fixed;

  }
  .cd-fixed-bg3 h1{
    top: 38%;
    font-size: 65px;
     text-shadow: 4px 4px black;
     font-weight: bold;
  }
}


@media only screen and (max-width: 500px) {
  .cd-fixed-bg3 {
    background-attachment: fixed;
    
  }
  .cd-fixed-bg3 h1{
    top: 43%;
    font-size: 25px;
     text-shadow: 2px 2px black;
     font-weight: bold;
  }
}



/**/
.title-home{
  font-size: 40px;
}
.label-home{
  font-size: 22px;
}
.label-home p{
  font-size: 16px;
}

/**/

.getstarted
{

  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecad00;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: 10px; 
  border-color: #ecad00;  
}

.getstarted:hover
{

  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecad00;
  border-radius: 5px;
  opacity: 0.9;
  color: whitesmoke;
  border-color: #ecad00;

}


 @media only screen and (max-width: 900px) {

.getstarted
{

  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);    
  background-color: #ecad00;
  border-radius: 5px;
  color: whitesmoke;
  font-weight: 10px; 
  border-color: #ecad00;  
}

.getstarted:hover
{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ecad00;
  border-radius: 5px;
  opacity: 0.9;
  color: whitesmoke;
  border-color: #ecad00;
}

}

/*   ------HOME ENDS  ------*/


/*   ------LOGIN START ------*/
  .image {
		width: 300px;
		height: auto;
		padding: auto;
  }
/*  ------LOGIN ENDS  ------ */


/*  ------ALL USERS START ------  */
	/*  ------EVENTS  ------*/
	@media only screen and (max-width: 768px) {
		  /* For mobile phones: */
		  .view-icons, .search-box, .refer-center, .send, .tab-center{
				align-items: center;
        display: flex;
        justify-content: center;
			}
		}
  /*  ------ EVENTS END  ------*/


  /*  ------RESPONSIVE FILTER  ------*/
  @media only screen and (min-width: 600px) {
      /* For mobile phones: */
      .filter-btn{
        display: none;
      }
    }

  @media screen and (max-width: 768px) {
  /* For mobile phones: */
    /* FILTER */
      .filter-btn{
        display: block;
        background-color: #072000;
        padding: 10px;
        text-align: center;
        font-weight: bold;
        color: white;
        cursor: pointer;
      }

      .filter{
        display: none;
        position: absolute;
        z-index: 1;
        column-width: 100%;
        min-width: 1000px;
        max-width: 1500px;
      }

      #filterDIV{
        background-color: whitesmoke;
      }

      .select-list{
        position: relative;
      }

      .btn-join{
        margin-top: 10px;
      }
    }
   /*  ------RESPONSIVE FILTER END ------ */
/* ------ALL USERS START ------  */


/*   ------ERROR PAGE ------  */
  .error-page{
      padding: 20px;
      margin-top: 14%;
  }

  .margin-error{
      margin-left: 13%;
  }

  .image-error{
      width: 50%;
      height: auto;
  }

  .image-robot{
      width: 70%;
      height: auto;
  }

  .left{
    margin-left: -20%; 
  }

  @media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .error-page{
      padding: 20px;
      margin-top: 14%;
      text-align: center;
    }

    .margin-error{
      margin-left: 0;
    }

    .image-error{
        width: 70%;
        height: auto;
    }

    .image-robot{
        width: 50%;
        height: auto;
        margin-left: auto; 
      }  
  }
/*  ------ ERROR PAGE END ------  */



/*  ------DONATE------*/
  .donation-container{
    height:655px;
    background-color:whitesmoke; 
  }
  .donation-bottom{
    margin-bottom: 0;
  }

  .donate-image{
    background-image: url("/static/images/donate.jpg");
    height: 655px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
  }
  .donate{
    width: 455px;
    height: auto; 

  }
  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    color: whitesmoke;
  }
  .container-donate {
    position: relative;
    text-align: center;
    color: white;
  }
/* ------END ------*/


/* ------FOOTER START------*/
  .footer-distributed{
  background-color:#072000;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px;

  padding: 60px 60px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
  width: 40%;
}

/* The company logo */

.footer-distributed h3{
  color:  #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}

.footer-distributed h3 span{
  color:  #5383d3;
}

/* Footer links */

.footer-distributed .footer-links{
  color:  #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a{
  display:inline-block;
  line-height: 1.8;
  text-decoration: none;
  color:  inherit;
}

.footer-distributed .footer-company-name{
  color:  #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
  width: 35%;
}

.footer-distributed .footer-center i{
  background-color:#ffffff;
  color:#ecad00;
  font-size: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
 
}

.footer-distributed .footer-center i.fa-envelope{
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p{
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin:0;
}

.footer-distributed .footer-center p span{
  display:block;
  font-weight: normal;
  font-size:14px;
  line-height:2;
}

.footer-distributed .footer-center p a{
  color:  #5383d3;
  text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
  width: 20%;
}

.footer-distributed .footer-company-about{
  line-height: 20px;
  color:  #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span{
  display: block;
  color:  #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons{
  margin-top: 25px;
}

.footer-distributed .footer-icons a{
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  border-radius: 2px;
  font-size: 30px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 700px) {

  .footer-distributed{
    font: bold 14px;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-right{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }
  .footer-distributed .footer-center{
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: left;
    white-space: nowrap;
  margin-left: -23px; 
  }

  .footer-distributed .footer-center i{
    margin-left: 0;
  }

}

.footer-logo{
  width: 220px;
  height: auto;
}
.footer-margin-top{
  margin-top:50px;
}

/**/


        .nowrap{
            white-space: nowrap;
        }
        .green-donate{
            background-color: #072000;
            color: white;
            border-color: #072000;
        }

        .green-donate:hover{
            background-color: #07200;
            color: white;
            border-color: #072000;
            
        }
          .green-donate-button{
            background-color: #072000;
            color: white;
            border-color: #072000;
        }

        .green-donate-button:hover{
            background-color: #07200;
            opacity: 0.9;
            color: white;
            border-color: #072000;
            
        }
        .left-donate{
            text-align: left;
    
        }
        .padding-donation{
            padding: 5px;
        }
       
        .width-donate{
            width: 280px;
            margin-left: 5px;
        }
        .margin-top-donate{
            margin-top: 15px;
            
        }
        .gold-donate{
            background-color: #ecad00;
            color: white;
            border-color: #ecad00;
            padding: 10px 10px;

        }

        .gold-donate:hover{
            background-color: #ecad00;
            color: white;
            border-color: #ecad00;
            opacity: 0.9;
        }
        .image-donation{
            width: 400px;
            height: auto;
            padding: 0px 30px;
        }
 .margin-donate{
          margin-top:10px;
            
        }

/*NOTIFICATION*/
.toggleNotifications {
    position: relative;
    display: inline-flex;
  height: auto;
  width: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.toggleNotifications .show {
  flex: 1;
  margin: auto;
  height: auto;
  max-width: 10px;
  text-align: center;
  margin-top: -1px;  
  background: transparent;
  font-size: 18px;
  transition: all 0.2s;
}

.toggleNotifications .show i {
  line-height: 38px;
}

.count {
  position: absolute;
  top: 5px;
  right: 26px;
}
.count .num {
  position: absolute;
  top: -12px;
  left: 22px;
  background: #f22;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 17px;
  font-size: 11px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.2);
  transition: all 0.3s;
}

.notifications {
  position: absolute;
  top: 28px;
  right: 10px;
  width: 300px;
  background: #465;
  border: 1px solid #455;
  border-radius: 2px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

/*arrow na invisible*/
.notifications:after {
   position: absolute;
  top: -10px;
  right: 0px;
  width: 0px;
  height: 10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid white;
  pointer-events: none;
}
.notifications:before {

 content: ' ';
  position: absolute;
  top: -20px;
  right: 0px;
  width: 0px;
  height: 10px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  pointer-events: none;
}
.notifications .btnbar {
  position: relative;
  height: 60px;
  background: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.5));
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
.notifications .btnbar .text {
  line-height: 60px;
  padding: 0px 20px;
  position: absolute;
  top: 0px;
  transition: all 1s;
}

.notifications .note {
  padding: 0px 20px;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  transition: all 0.2s;
  overflow: hidden;
  max-height: 40px;
}
.notifications .note:first-of-type {
  margin-top: 0px;
}
.notifications .note.read {
  color: whitesmoke;
}
.notifications .note:hover {
  background: rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.notifications .note i {
  position: relative;
  top: -1px;
  margin-right: 5px;
  vertical-align: middle;
  color: white;
}

#navtoggle {
  display: none;
}
#navtoggle:checked ~ .toggleNotifications .notifications {
  opacity: 0;
}

/*fancy donate*/

h1 {
  font-size: 3em;
  text-align: center;
}
.subtitle {
  margin: 0 0 2em 0;
}
.fancy {
  line-height: 0.5;
  text-align: center;
}
.fancy span {
  display: inline-block;
  position: relative;  
}
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 0;
  width: 150px;
}
 @media only screen and (max-width: 600px) {
.fancy span:before,
.fancy span:after {
  content: "";
  position: absolute;
  height: 5px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  top: 0;
  width: 100px;
}
}

.fancy span:before {
  right: 100%;
  margin-right: 15px;
}
.fancy span:after {
  left: 100%;
  margin-left: 15px;
}
.amp {
  margin: 0 0 0.25em 0;
}
.amp span {
  font-size: 0.7em;
}
.width{
  width: 100%;
}
.mapouter{text-align:right;height:100%;width:100%;overflow: hidden;}
.gmap_canvas {overflow:hidden;background:none!important;height:100%;width:100%;}
.rep {
  overflow-y: scroll; 
  overflow-x: hidden; 
  height:  500px;
}