	/*		NAVIGATION BAR		*/
	.navbar, .navbar-dropdown, .navbar-menu{
        background-color: #072000; 
    }

    .nav-text{
        color: #ffb901;
        font-size: 25px;
    }

    .navbar-item, a.navbar-link, .navbar-end{
        color: white;
        font-weight: bold;
    }

    a.navbar-item:hover, a.navbar-item.is-active{
        background-color: #092d01;
        color: #ffb901; 
    }

    .burger{
        color: white;
    }
    /*		END		*/

	.hero{
		background-color: #e6e6e6;
	}

	.box.white{
		transform: translateX(6%);
		width: 90%;
	}

	.notification.gold{
		background-color:#ecad00;
		text-decoration: none;
		margin-bottom: 0;
		border-radius: 0;
	}

	.notification.filter{
		background-color: white;
	}


	/*		BUTTONS		*/
	.button.submit, .button.send, .button.search, .button.add{
		background-color: #072000; 
		color: #ffb901;
		border-color: #072000;
	}
	

	a.button.eventbtn{
		background-color: #ecad00;
		color: #072000;
		border-color: #ecad00;
	}

	a.button.eventbtn:hover, a.button.eventbtn.is-active{
		background-color: #ffb901;
		color: #072000;
		border-color: #ffb901;
	}
	/*		END		*/

	/*		TABS		*/
	.tabs.proposal.is-toggle li a{
    	color: #ffb901;
    	background-color: #072000; 
    	border-color: #072000;
    	text-decoration: none;
    }

    .tabs.proposal.is-toggle li.is-active a, .tabs.proposal.is-toggle li a:hover{
    	background-color: white;
    	color: #072000;
    	border-color: white;
    }
    /*		END		*/

    /*		PROFILE		*/
    .overlay-card{
		  background-color:#ecad00;
		  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='80' height='80' viewBox='0 0 80 80'%3E%3Cg fill='%23fdfcff' fill-opacity='0.1'%3E%3Cpath fill-rule='evenodd' d='M11 0l5 20H6l5-20zm42 31a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM0 72h40v4H0v-4zm0-8h31v4H0v-4zm20-16h20v4H20v-4zM0 56h40v4H0v-4zm63-25a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM53 41a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-30 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-28-8a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zM56 5a5 5 0 0 0-10 0h10zm10 0a5 5 0 0 1-10 0h10zm-3 46a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm10 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM21 0l5 20H16l5-20zm43 64v-4h-4v4h-4v4h4v4h4v-4h4v-4h-4zM36 13h4v4h-4v-4zm4 4h4v4h-4v-4zm-4 4h4v4h-4v-4zm8-8h4v4h-4v-4z'/%3E%3C/g%3E%3C/svg%3E");
		  height:350px;
		  padding-top:25px;
	}

	.circular{
		  width: 200px;
		  height: 200px;
		  border-radius: 50%;
		  position: relative;
		  left: 50%;
		  transform: translateX(-50%);
		  overflow: hidden;
		  text-align: center;
		  margin-bottom: 20px;
	}

	.circular img{
		  min-width: 100%;
		  min-height: 100%;
		  width: auto;
		  height: auto;
		  position: absolute;
		  left: 50%;
		  top: 50%;
		  -webkit-transform: translate(-50%, -50%);
		  -moz-transform: translate(-50%, -50%);
		  -ms-transform: translate(-50%, -50%);
		  transform: translate(-50%, -50%);
	}

	.panelbox{
		background-color: white;
	}

	.card-content.profile{
		padding: 0rem;
	}
	/*		END		*/

	/*		STARS		*/
	.checked {
		  color: orange;
	}
	/*		END		*/


	/* EVENT */

	.upcoming-event{
		margin-bottom: 5px;
		padding: 10px;
	}

	a .upcoming-event:hover{
		background-color: whitesmoke;
	}

	.select-list:hover{
	background-color: whitesmoke;
	cursor: pointer;
	}

	/* END */


	/*   LINKAGES PROPOSAL   */
	.fa-arrow-circle-left{
		color: #072000; 
	}

	.button.submit{
		background-color: #072000; 
		color: #ffb901;
		border-color: #072000;
	}
	/*   END   */

	/*    DONATE    */
	.responsive {
	  width: 100%;
	  height: auto;
	}

	.nav-gold{
      background-color: #ffb901;
      padding: 15px;
      border: 2px solid #072000;  
      color: #072000;
    }

    .box.person-details{
      box-shadow: none;
    }
    /*   END  */