										<tr class="table-row">
											<td>{{donation.id}}</td>
										    <td>
										    	{% if donation.sponsee_id==1 %}
										    	ReCOP Office
										    	{% else %}
										    	{{donation.sponsee}}
										    	{% endif %}
										    </td>
										    <td>
										    	{% for sponsor in sponsors %}
										    		{% if sponsor.did==donation.id %}
										    			{% if donation.sponsor_id==1 %}
										    				Anonymous
										    			{% else %}
										    				{{sponsor.name}}<br>({{sponsor.company_name}})
										    			{% endif %}
										    		{% endif %}
										    	{% endfor %}
										    </td>
										    <td>{% if donation.amount!='In kind' %}P {% endif %}{{donation.amount}}</td>
										    {% if status=='all' %}
										    <td>
										    	{% if donation.status=='R' %}
										    		Received
										    	{% elif donation.status=='N' %}
										    		New
										    	{% else %}
										    		Declined
										    	{% endif %}
											</td>
											{% endif %}
										    <td>{{donation.date_given.strftime('%B %e, %Y')}}</td>
										    <td>
												{% if donation.status=='R' and donation.amount=='In kind' %}
												<a class="button is-warning tooltip" data-tooltip="Items">
													<span class="icon">
														<i class="fas fa-box-open"></i>
													</span>
												</a>
												{% endif %}
												<a class="button is-warning tooltip" data-tooltip="Transaction Slip" onclick="show_slip('{{donation.id}}')">
													<span class="icon">
														<i class="fa fa-sticky-note"></i>
													</span>
												</a>
												{% if donation.status=='N' or donation.status=='D' %}
												<a class="button is-success tooltip" data-tooltip="Receive" href="{{url_for('admin.donation_action', action='receive', id=donation.id)}}">
													<span class="icon">
														<i class="fas fa-check"></i>
													</span>
												</a>
												{% endif %}
												{% if donation.status=='N' %}
												<a class="button is-danger tooltip" data-tooltip="Decline" href="{{url_for('admin.donation_action', action='decline', id=donation.id)}}">
													<span class="icon">
														<i class="fas fa-times"></i>
													</span>
												</a>
												{% endif %}
											</td>
										</tr>

	<div id={{donation.id}}_modal class="modal">
  		<div class="modal-background"></div>
  			<div class="modal-card">
    			<header class="modal-card-head">
      				<p class="modal-card-title has-text-white">Transaction Slip {{donation.id}}</p>
      				<button class="delete" onclick="close_slip('{{donation.id}}')"></button>
    		</header>
    		<section class="modal-card-body">
   				
   				<div class="container modal-show" id="info_div">
			      	<div class="card">
    					<figure class="image">
    						<img src='../../../{{donation.transaction_slip}}'>
    					</figure>
    				</div>
    			</div>

      		</section>
    	
    		<footer class="modal-card-foot buttons is-right">

    			<a href="{{url_for('admin.donation_action', action='trans_slip',id=donation.id)}}" target="_blank">
    				<button class="button is-primary"><i class="fas fa-download"></i>&nbsp;Download</button>
    			</a>

    		</footer>
  		</div>
	</div>
										