										<tr class="table-row">
											<td>{{donation.id}}</td>
										    <td>
										    	{% if donation.sponsee_id==1 %}
										    	ReCOP Office
										    	{% else %}
										    	{{donation.sponsee}}
										    	{% endif %}
										    </td>
										    <td>
										    	{% for sponsor in sponsors %}
										    		{% if sponsor.did==donation.id %}
										    			{% if donation.sponsor_id==1 %}
										    				Anonymous
										    			{% else %}
										    				{{sponsor.name}}<br>({{sponsor.company_name}})
										    			{% endif %}
										    		{% endif %}
										    	{% endfor %}
										    </td>
										    <td>{% if donation.amount!='In kind' %}P {% endif %}{{donation.amount}}</td>
										    {% if status=='all' %}<td>{{donation.status}}</td>{% endif %}
										    <td>{{donation.date_given.strftime('%B %e, %Y')}}</td>
										    <td>
												<a class="button is-warning tooltip" data-tooltip="View" href="">
													<span class="icon">
														<i class="fa fa-eye"></i>
													</span>
												</a>
												<a class="button is-success tooltip" data-tooltip="Verify" href="">
													<span class="icon">
														<i class="fas fa-check-circle"></i>
													</span>
												</a>
												<a class="button is-danger tooltip" data-tooltip="Reject" href="">
													<span class="icon">
														<i class="fas fa-times-circle"></i>
													</span>
												</a>
											</td>
										</tr>
										