<!DOCTYPE html>
<html>

    <head>
        {% if title %}
        <title>{{ title }} | ReCOP-ComEx</title>
        {% else %}
        <title>ReCOP-ComEx</title>
        {% endif %}

        <link rel="stylesheet" type="text/css" href="../../../static/css/bulma-0.7.2/css/bulma.css">
        <link rel="stylesheet" href="../../../static/css/fontawesome-5.5.0/css/all.css">

    </head>

    <body>
        <nav class="navbar is-warning" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="navbar-item" href="">
                    <img src="../../../static/images/logo-menu.png">
                </a>

                <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div class="navbar-menu">
                <a class="navbar-item" href="{{url_for('unregistered.index')}}">
                    <strong>Home</strong>
                </a>
                <a class="navbar-item" href="{{url_for('unregistered.events')}}">
                    <strong>Events</strong>
                </a>
                <a class="navbar-item" href="{{url_for('unregistered.partners')}}">
                    <strong>Partners</strong>
                </a>
                <a class="navbar-item" href="{{url_for('unregistered.contactus')}}">
                    <strong>Contact Us</strong>
                </a>
            </div>
            <div class="navber-end">
                <div class="navbar-item">
                    <div class="buttons">
                        <a class="button is-primary" href="{{url_for('unregistered.signup')}}">
                            <strong>Sign up</strong>
                        </a>
                        <a class="button is-light" href="{{url_for('unregistered.login')}}">
                            Log in
                        </a>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %} {% endblock %}
    </body>
  
</html>