<!DOCTYPE html>
<html>

    <head>
        {% if title %}
        <title>{{ title }} | ReCOP-ComEx</title>
        {% else %}
        <title>ReCOP-ComEx</title>
        {% endif %}

        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="../../../static/css/bulma-0.7.2/css/bulma.css">
        <link rel="stylesheet" href="../../../static/css/fontawesome-5.5.0/css/all.css">
        <link rel="stylesheet" href="../../../static/css/recop-comex-style/css/style.css">
        <link rel="stylesheet" href="../../../static/css/recop-comex-style/css/modal.css">
        <link rel="stylesheet" type="text/css" href="../../../static/css/Bulma-extensions/bulma-steps/bulma-steps.min.css">
        <link rel="stylesheet" type="text/css" href="../../../static/css/Bulma-extensions/bulma-carousel/bulma-carousel.min.css">
        <link rel="stylesheet" type="text/css" href="../../../static/css/Bulma-extensions/bulma-checkradio/bulma-checkradio.min.css">
        <script type="text/javascript" src = "../../../static/scripts/base.js" ></script>   

    </head>

    <body>

        <nav class="navbar" role="navigation" aria-label="main navigation">
            
            <div class="navbar-brand">
                <a class="navbar-item" href="{{url_for('unregistered.index')}}">
                    <img src="../../../static/images/logo-menu.png">
                </a>

                <span class="navbar-burger burger" data-target="navMenu">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </span>
            </div>

            <div id="navMenu" class="navbar-menu">
                <div class="navbar-start">
                    <a class="navbar-item" href="{{url_for('unregistered.index')}}">
                        <strong>Home</strong>
                    </a>
                    <a class="navbar-item" href="{{url_for('unregistered.events')}}">
                        <strong>Events</strong>
                    </a>
                    <a class="navbar-item" href="{{url_for('unregistered.linkages')}}">
                        <strong>Linkages</strong>
                    </a>
                    <a class="navbar-item" href=" {{url_for('unregistered.donate')}}">
                        <strong>Donate</strong>
                    </a>
                    <a class="navbar-item" href="{{url_for('unregistered.contactus')}}">
                        <strong>Contact Us</strong>
                    </a>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a class="button is-primary" href="{{url_for('unregistered.signup')}}">
                                <strong>Sign up</strong>
                            </a>
                            <a class="button is-light" href="{{url_for('unregistered.login')}}">
                                Log in
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %} {% endblock %}
    </body>

    <script type="text/javascript" src="../../../static/css/Bulma-extensions/bulma-steps/bulma-steps.min.js"></script>
    <script type="text/javascript" src="../../../static/css/Bulma-extensions/bulma-carousel/bulma-carousel.min.js"></script>
    <script type="text/javascript" src = "../../../static/scripts/unregistered.js" ></script>
    <script type = "text/javascript" src="../../../static/scripts/sweetalert2.all.min.js"></script>


    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
             <script>
                Swal.fire({
                    title: "{{message}}", 
                    type: "{{category}}",
                    customClass: "modal",
                    buttonsStyling: false,
                    allowOutsideClick: false,
                    heightAuto: false,
                    confirmButtonClass: 'button is-medium submit'
                })
            </script>
            {% endfor %}
        {% endif %}
    {% endwith %} 

    <footer class="footer green">
        <div class="content has-text-centered">
            <h4 class="subtitle is-6">
                ©Copyright 2019 ReCOP-ComEx 
            </h4>
        </div>
    </footer>
   
</html>