{% extends "unregistered-base.html" %}

{% block content %}

	<div class="notification gold">
      	<div class="columns is-centered">
	        <div class="column search-box">
	        	<a href="" class="button viewbtn is-active">
					<span class="icon">
						<i class="fa fa-list"></i>
					</span>
				</a>&nbsp
				<a href="{{url_for('unregistered.events_calendar')}}" class="button viewbtn">
					<span class="icon">
						<i class="fa fa-calendar-alt"></i>
					</span>
				</a>

				&nbsp&nbsp&nbsp

	          	<div class="field has-addons has-addons-centered is-pulled-right">
		            <div class="control">
		                <input class="input" type="text" placeholder="Search">
		            </div>
		            <p class="control">
		                <a class="button search">
		                  Search
		                </a>
		            </p>
	          	</div>
	        </div>
      	</div>
    </div>

    <div class="columns">
		<div class="column is-2">
			<div class="filter-btn is-size-5" onclick="filtershrink()">
				<i class="fas fa-filter"></i>&nbspFilter
			</div>
    		<div class="notification filter" id="filterDIV">
    			<div class="columns">
	                <div class="column">
	                	<p class="title is-size-5">Thrust</p>
	                  	<div class="field">
							<div class="control">
						    	<div class="select is-warning">
							    	<select class="filter-dropdown">
								        <option>All</option>
								        <option>Educational</option>
								        <option>Environmental</option>
								        <option>Health</option>
								        <option>Livelihood</option>
								        <option>Socio-Political</option>
								        <option>Spiritual</option>
							      	</select>
						    	</div>
						  	</div>
						</div>
	                	
	                	<p class="title is-size-5">Type</p>

	                  	<div class="field">
							<div class="control">
						    	<div class="select is-warning">
							    	<select class="filter-dropdown">
								        <option>All</option>
								        <option>Institutional</option>
								        <option>Outside</option>
							      	</select>
						    	</div>
						  	</div>
						</div>
	                </div>
	            </div>
			 	
    		</div>
    	</div>

		<div class="column">

			<div class="columns padding-el is-multiline">
				{% for event in events.items %}
					{% include 'unregistered/events/_events.html' %}
				{% endfor %}
			</div>
		</div>	
        <div class="card-content">
        {% if events.pages>1 %}
        <nav class="pagination" role="navigation" aria-label="pagination">
          <a class="pagination-previous"  {% if events.has_prev %}  href="{{url_for('unregistered.events', search=' ', page=events.prev_num|string)}}"{% else %} disabled {% endif %}>Previous</a>
          <a class="pagination-next" {% if events.has_next %} href="{{url_for('unregistered.events', search=' ', page=events.next_num|string)}}" {% else %} disabled {% endif %}>Next page</a>
          <ul class="pagination-list">
            Page {{events.page}} of {{events.pages}}
          </ul>
        </nav>
        {% endif %}
        </div>
	</div>
<div class="footer-margin-top"></div>


					
{% endblock %}