{% extends "unregistered-base.html" %}

{% block content %}

	<div class="notification gold">
      	<div class="columns is-mobile is-multiline is-centered">
        	<div class="column view-icons">
        		<article class="media">
				  	<figure class="media-left"> 
				  		<a href="" class="button viewbtn is-active">
							<span class="icon">
								<i class="fa fa-list"></i>
							</span>
						</a>
						<a href="" class="button viewbtn">
							<span class="icon">
								<i class="fa fa-calendar-alt"></i>
							</span>
						</a>
				  	</figure>
				</article>
       		</div>

	        <div class="column is-narrow">
	          	<div class="field has-addons has-addons-centered">
		            <p class="control">
		                <input class="input" type="text" placeholder="Search">
		            </p>
		            <p class="control">
		                <a class="button search">
		                  Search
		                </a>
		            </p>
	          	</div>
	        </div>
      	</div>
    </div>

    <div class="columns">
		<div class="column is-2">
			<div class="filter-btn is-size-5" onclick="filtershrink()">
				<i class="fas fa-filter"></i>&nbspFilter
			</div>
    		<div class="notification filter" id="filterDIV">
    			<div class="columns">
	                <div class="column">
	                	<p class="title is-size-5">Thrust</p>
	                  	<div class="field">
		                  	<input class="is-checkradio has-background-color is-warning" id="" type="checkbox" name="0" checked="checked">
		                    <label for="">All</label>
		                </div>
		                <div class="field">
		                  	<input class="is-checkradio has-background-color is-warning" id="1" type="checkbox" name="1">
		                    <label for="1">Educational</label>
		                </div>
		                <div class="field">
		                  	<input class="is-checkradio has-background-color is-warning" id="2" type="checkbox" name="2">
		                    <label for="2">Environmental</label>
		                </div>
		                <div class="field">
		                  	<input class="is-checkradio has-background-color is-warning" id="3" type="checkbox" name="3">
		                    <label for="3">Health</label>
		                </div>
		                <div class="field">
		                  	<input class="is-checkradio has-background-color is-warning" id="4" type="checkbox" name="4">
		                    <label for="4">Livelihood</label>
		                </div>
		                <div class="field">
		                  	<input class="is-checkradio has-background-color is-warning" id="5" type="checkbox" name="5">
		                    <label for="5">Socio-Political</label>
		                </div>
		                <div class="field">
		                  	<input class="is-checkradio has-background-color is-warning" id="6" type="checkbox" name="6">
		                    <label for="6">Spiritual</label>
		                </div>
	                	
	                	<p class="title is-size-5">Type</p>

	                  	<div class="field">
		                  	<input class="is-checkradio has-background-color is-warning" id="7" type="checkbox" name="7" checked="checked">
		                    <label for="7">All</label>
		                </div>
		                <div class="field">
		                  	<input class="is-checkradio has-background-color is-warning" id="8" type="checkbox" name="8">
		                    <label for="8">Institutional</label>
		                </div>
		                <div class="field">
		                  	<input class="is-checkradio has-background-color is-warning" id="9" type="checkbox" name="9">
		                    <label for="9">Outside</label>
		                </div>
	                </div>
	            </div>
			 	
    		</div>
    	</div>

		<div class="column">

			<div class="columns padding-el is-multiline">
				{% for events in events %}
					{% include 'unregistered/events/_events.html' %}
				{% endfor %}
			</div>
		</div>	
	</div>


					
{% endblock %}