<!DOCTYPE html>
<html>
	<head>
		<title>Event Approval | {{event.name}} </title>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="../../../static/css/recop-comex-style/css/style.css">
		<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

		<style type="text/css">
			.redirect{
				background-color: #092d01;
        		color: #ffb901; 
        		height: 50px;
        		padding: 5px;
        		align-items: center;
        		display: flex;
        		justify-content: center;
			}

			.login-btn{
				background-color:#0d3105;
				color: #feb801;
				}

			.redirect-logo{
				width: 250px;
				height: auto;
        		align-items: center;
        		display: flex;
        		justify-content: center;
			}
		</style>
	</head>
	<body>
		<nav class="redirect">
		    <a class="redirect-logo">
		        <img src="../../../static/images/logo-menu.png">
		    </a>
		</nav>
		<br>
			<div class="container">
			    <div class="columns">
			    	<div class="column is-7">
		    			<div class="card">
						  	<div class="card-content">
						    	<div class="media">
						      		<div class="media-content has-text-centered">
								        <p class="title is-5 has-text-weight-bold">Event Name</p>
						      		</div>
						    	</div>

							    <div class="media">
								  	<figure class="media-left">
								    	<p>Organizer</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>Company name</strong>
								      		</p>
								    	</div>
								  	</div>
								</div>
							
							    <div class="media">
								  	<figure class="media-left">
								    	<p>Description</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>Description</strong>
								      		</p>
								    	</div>
								  	</div>
								</div>
							
						    
							    <article class="media">
								  	<figure class="media-left">
								    	<p>Objective</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>objective</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							
						    
							    <article class="media">
								  	<figure class="media-left">
								  		<p>Proposed Budget</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>₱ 2,000</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							
						    
							    <article class="media">
								  	<figure class="media-left">
								    	<p>Location</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>Cavite City</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							
							    <article class="media">
								  	<figure class="media-left">
								  		<p>Target Date</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>date</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							
						    
							    <article class="media">
								  	<figure class="media-left">
								  		<p>Thrust</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>
								        			Health
								        		</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							
						    
							    <article class="media">
								  	<figure class="media-left">
								  		<p>Proposed On</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>
								        			date
								        		</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							
							    <article class="media ">
								  	<figure class="media-left">
								  		<p>Approved On</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>
								        			date
								        		</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							
						  	</div>
						</div>
			    	</div>

			    	<div class="column">
			    		<div class="card">
						<div class="card-content">
							<div class="columns">
								<div class="column">
									<div class="field has-text-centered">
										<label class="title is-3">LOGIN</label><br>
										<label class="size is-size-7 has-text-grey">Please login to proceed</label>
									</div>

									<br>
									<form action="" method="POST">
										{{form.hidden_tag()}}
										<div class="field">
											{{form.username.label(class_='label')}}
											<div class="control has-icons-left has-icons-right">
											    {{form.username(class_='input', placeholder='Username')}}
											    <span class="icon is-small is-left">
											      <i class="fas fa-user"></i>
											    </span>
											</div>
										</div>

										<div class="field">
											{{form.password.label(class_='label')}}
											<div class="control has-icons-left has-icons-right">
											    {{form.password(class_='input', placeholder='Username')}}
											    <span class="icon is-small is-left">
											      <i class="fas fa-key"></i>
											    </span>
											</div>
										</div>
										<hr>
										<div class="field has-text-centered">
											{{form.submit(class_='button login-btn', value=action.title())}}
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
			    	</div>
			    </div>
			</div>
	</body>

    <script type="text/javascript" src = "../../../static/scripts/unregistered.js" ></script>
    <script type = "text/javascript" src="../../../static/scripts/sweetalert2.all.min.js"></script>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
             <script>
                Swal.fire({
                    title: "{{message}}", 
                    type: "{{category}}",
                    customClass: "modal",
                    buttonsStyling: false,
                    allowOutsideClick: false,
                    heightAuto: false,
                    confirmButtonClass: 'button is-medium submit'
                })
            </script>
            {% endfor %}
        {% endif %}
    {% endwith %} 
</html>