{% extends "admin-base.html" %}

{% block content %}

    
	<div class="container padding" id='controls'>
		<article class="media">
			<figure class="media-left">
			    <a class="btn btn-follow btn-sm text-center" href="{{url_for('admin.events',status='all', page='1', search=' ')}}" role="button">
					<span class="back-icon">
				  		<i class="fas fa-arrow-circle-left fa-2x"></i>
				  	</span>
				</a>
			</figure>
		</article>
	    <div class="title has-text-centered">
	    	Conduct Event : {{event.name|title}}
		    <ul class="card1-list">
			    <li class="card1">
			        <a class="card1-image has-text-success" href="{{url_for('admin.event_attendance', id=event.id, search=' ')}}">
			            <span class="fas fa-users fa-10x color" aria-hidden="true"></span>
			        </a>
			        <a class="card1-description notification gold" href="{{url_for('admin.event_attendance', id=event.id, search=' ')}}">
			            <h2 class="title is-5">Attendance</h2>
			            
			        </a>
			    </li>

			    <li class="card1">
			        <a class="card1-image has-text-success" href="{{url_for('admin.event_evaluation', id=event.id, search=' ')}}">
			            <span class="fas fa-poll fa-10x color" aria-hidden="true"></span>
			        </a>
			        <a class="card1-description notification gold" href="{{url_for('admin.event_evaluation', id=event.id, search=' ')}}">
			            <h2 class="title is-5">Evaluation & Ratings</h2>         
			        </a>
			    </li>
			</ul>
			<a href='{{url_for('admin.event_finish', id=event.id)}}'><button class='button add is-large'>Finish Event</button><a>
		</div> 
	</div>

	<section class="hidden" id='eval_rating'>
		<div class="hero-body">
			<div class="box white">
				<div class="columns">
				   	<div class="column">
						<article class="media">
							<figure class="media-left">
			    				<a class="btn btn-follow btn-sm text-center" onclick="conduct_choose('back')" role="button">
									<span class="back-icon">
				  						<i class="fas fa-arrow-circle-left fa-2x"></i>
				  					</span>
								</a>
							</figure>
						</article>
				      </div>
				</div>
				<div class="columns">
				   	<div class="column">
				   		<p class="title has-text-centered">Evaluations & Ratings</p>
				  		<p class="subtitle has-text-centered">{{event.name|title}}</p>
				   	</div>
			    </div>
				<div class="columns">
					<div class="column">
						<div class="field">
							
						  	<div class="control">
							    
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="hidden" id='photos'>
		<div class="hero-body">
			<div class="box white">
				<div class="columns">
				   	<div class="column">
						<article class="media">
							<figure class="media-left">
			    				<a class="btn btn-follow btn-sm text-center" onclick="conduct_choose('back')" role="button">
									<span class="back-icon">
				  						<i class="fas fa-arrow-circle-left fa-2x"></i>
				  					</span>
								</a>
							</figure>
						</article>
				      </div>
				</div>
				<div class="columns">
				   	<div class="column">
				   		<p class="title has-text-centered">Photos</p>
				  		<p class="subtitle has-text-centered">{{event.name|title}}</p>
				   	</div>
			    </div>
				<div class="columns">
					<div class="column">
						<div class="field">
							
						  	<div class="control">
							    
						  	</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
