{% extends "admin-base.html" %}

{% block content %}
			<div class="notification gold">
				<div class="columns is-centered">
					<div class="column view-icons is-2">
						<article class="media">
						  	<figure class="media-left"> 
						  		<a class="button add" href="{{url_for('admin.events_create')}}" ><i class="fas fa-plus-circle"> </i>&nbsp Add</a>
						  		<a class="button viewbtn is-active" href="{{url_for('admin.events', status='all', page='1', search=' ')}}">
									<span class="icon">
										<i class="fa fa-list"></i>
									</span>
								</a>
								<a class="button viewbtn" href="{{url_for('admin.events_calendar')}}">
									<span class="icon">
										<i class="fa fa-calendar-alt"></i>
									</span>
								</a>
						  	</figure>
						</article>
					</div>

					<div class="column">
						<div class="tabs proposal is-toggle is-toggle-rounded has-text-weight-bold is-centered">
						  <ul>
						    <li {% if status=='all' %} class="is-active" {% endif %}>
						      <a href="{{url_for('admin.events', status='all', page='1', search=search)}}">
						        <span class="icon is-small"><i class="fas fa-list-ul" aria-hidden="true"></i></span>
						        <span class="proposal">All</span>
						      </a>
						    </li>
						    <li {% if status=='new' %} class="is-active" {% endif %}>
						      <a href="{{url_for('admin.events', status='new', page='1', search=search)}}">
						        <span class="icon is-small"><i class="fas fa-calendar-plus" aria-hidden="true"></i></span>
						        <span class="proposal">New</span>
						      </a>
						    </li>
						    <li {% if status=='pending' %} class="is-active" {% endif %}>
						      <a href="{{url_for('admin.events', status='pending', page='1', search=search)}}">
						        <span class="icon is-small"><i class="fas fa-file-signature" aria-hidden="true"></i></span>
						        <span class="proposal">Pending</span>
						      </a>
						    </li>
						    <li {% if status=='scheduled' %} class="is-active" {% endif %}>
						      <a href="{{url_for('admin.events', status='scheduled', page='1', search=search)}}">
						        <span class="icon is-small"><i class="fas fa-calendar-alt" aria-hidden="true"></i></span>
						        <span class="proposal">Scheduled</span>
						      </a>
						    </li>
						    <li {% if status=='declined' %} class="is-active" {% endif %}>
						      <a href="{{url_for('admin.events', status='declined', page='1', search=search)}}">
						        <span class="icon is-small"><i class="fas fa-calendar-minus" aria-hidden="true"></i></span>
						        <span class="proposal">Declined</span>
						      </a>
						    </li>
						    <li {% if status=='cancelled' %} class="is-active" {% endif %}>
						      <a href="{{url_for('admin.events', status='cancelled', page='1', search=search)}}">
						        <span class="icon is-small"><i class="fas fa-calendar-times" aria-hidden="true"></i></span>
						        <span class="proposal">Cancelled</span>
						      </a>
						    </li>
						    <li {% if status=='finished' %} class="is-active" {% endif %}>
						      <a href="{{url_for('admin.events', status='finished', page='1', search=search)}}">
						        <span class="icon is-small"><i class="fas fa-calendar-check" aria-hidden="true"></i></span>
						        <span class="proposal">Finished</span>
						      </a>
						    </li>
						  </ul>
						</div>
					</div>

					<div class="column search-box">
						<div class="field is-pulled-right has-addons has-addons-centered">
							<div class="control">
								<form action="" method="POST">
								{{form.hidden_tag()}}
						    		{{form.search(class_='input', placeholder='Search')}}
							</div>
							<p class="control">
						     	{{form.submit(class_='button search')}}
							</p>
							</form>
						</div>
					</div>
				</div>
			</div>

				<div class="column">
					<div class="card list">
						<div class="card-header">
							<p class="card-header-title">
								<span class="fas fa-poll-h"></span>&nbsp;
								{% if search!=' ' %}
								You searched for &nbsp;
								<span class="search-highlight">
									&nbsp;'{{search}}'
									<a href="{{url_for('admin.events', status=status, page='1',search=' ')}}"><span class="fas fa-times-circle"></span></a>&nbsp;
								</span>
								&nbsp; in
								{% endif %}
								{{status | title}} Events
							</p>
							<div class="is-pulled-right">
								<p class="card-header-title">
									Total: {{events.total}}
								</p>
							</div>
						</div>
						<div class="card-content">
							{% if events.items %}
							<div class="table-responsive">
								<table class="table is-fullwidth is-striped is-hoverable">
									<thead>
										<tr>
											<th class="newlist">ID</th>
										    <th class="newlist">Event Name</th>
										    <th class="newlist">Organizer</th>
										    <th class="newlist">Target Date</th>
										   	{% if status=='all' or status=='pending' %}<th class="newlist">Status</th>{% endif %}
										    <th class="newlist hidedesktop">Actions</th>
										 </tr>
										
									</thead>
									<tbody>

										{% for event in events.items %}
											{% include 'admin/events/_events.html' %}
										{% endfor %}
									</tbody>
								</table>
							</div>
						{% else %}
						<div class='field has-text-centered'>
							<span class='tag is-warning is-large'>No results found</span>
						</div>
						{% endif %}
							{% if events.pages>1 %}
							<nav class="pagination" role="navigation" aria-label="pagination">
  								<a class="pagination-previous"  {% if events.has_prev %}  href="{{url_for('admin.events', status=status, search=search, page=events.prev_num|string)}}"{% else %} disabled {% endif %}>Previous</a>
  								<a class="pagination-next" {% if events.has_next %} href="{{url_for('admin.events', status=status, search=search, page=events.next_num|string)}}" {% else %} disabled {% endif %}>Next page</a>
  								<ul class="pagination-list">
  									Page {{events.page}} of {{events.pages}}
								</ul>
							</nav>
							{% endif %}
						</div>
					</div>
				</div>	
			</div>
{% endblock %}