{% extends "admin-base.html" %}

{% block content %}

<style type="text/css">
	.tracker{
	  	color: black;
	}

	.track-icon{
		display: block;
		margin-left: auto;
		margin-right: auto;
		width: 70%
	}

	@media only screen and (max-width: 768px) {
	  /* For mobile phones: */
	  .track-icon{
			width: 30%;
		}
	}

	.circles{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	.fa-circle{
		color: #ffb901;
	}

	.mark{
		color: #072000;
	}
</style>

	
		<section class="hero">
			<div class="hero-body">
			    <div class="container">
			      	<div class="card">
						<header class="card-header has-background-light">
						    <p class="card-header-title">
						    Event Information
						    </p>
					  	</header>
					  	<div class="card-content profile">
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
								    	<p>Name</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>{{event.name}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
								    	<p>Organizer</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>{{event.company_name}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
								    	<p>Description</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>{{event.description}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
								    	<p>Objective</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>{{event.objective}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
								  		<p>{% if event.status!='A' %}
								    	Proposed Budget
								    	{% else %}
								    	Budget:
								  		{% endif %}</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>₱ {{event.budget}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
								    	<p>Location</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>{{event.location}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
								  		<p>{% if event.status!='A' %}
								    	Target Date
								    	{% else %}
								    	Date
								  		{% endif %}</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>{{event.event_date.strftime('%B %e, %Y')}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
								  		<p>Thrust</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>
								        			{% if event.thrust==1 %}
								        				Educational
								        			{% elif event.thrust==2 %}
								        				Environmental
								        			{% elif event.thrust==3 %}
								        				Health
								        			{% elif event.thrust==4 %}
								        				Livelihood
								        			{% elif event.thrust==5 %}
								        				Socio-Political
								        			{% elif event.thrust==6 %}
								        				Spiritual   
								        			{% endif %}
								        		</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
								  		<p>Proposed On</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>
								        			{{event.proposed_on.strftime('%B %e, %Y')}}
								        		</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
							{% if event.status=='A' %}
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
								  		<p>Approved On</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>
								        			{{event.approved_on.strftime('%B %e, %Y')}}
								        		</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
							{% endif %}
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
								  		<p>Status</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>
								        		{% if event.status=='N' %}
								        			For ReCOP Approval
								        		{% elif event.status=='O' %}
								        			{% if event.acad_signed %}
								        				For President's Signing
								        			{% elif event.fmi_signed %}
								        				For Academic's Signing
								        			{% elif event.recop_accepted %}
								        				For Finance's Signing
								       				{% endif %}
								        		{% elif event.status=="A" %}
								        			Approved
								        		{% endif %}
								        		</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						</div>
					</div>
			    </div>

			    <br>

			    <div class="card">
				  	<header class="card-header has-background-light">
					    <p class="card-header-title">
					      Event Status
					    </p>
					</header>
				  	<div class="card-content tracker">
					    <div class="content">
					        <div class="columns is-centered">
					          	<div class="column">
					          		<div class="has-text-centered">
					          			<picture><img src="https://cdn4.iconfinder.com/data/icons/document-26/64/document-512.png" class="track-icon"></picture>
					          			<label class="label">Proposed On</label>
					          			<p>January 29, 2019</p>
					          			<p>4:00PM</p>
					          		</div>
					          	</div>
					          	<div class="column has-text-centered">
					          		<div class="circles">
					          			<p>2 Day(s)</p>
					          			<span class="icon is-small"><i class="fas fa-circle mark" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle mark" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
					          		</div>
					          	</div>
					          	<div class="column">
					          		<div class="has-text-centered">
					          			<img src="https://cdn4.iconfinder.com/data/icons/document-26/64/document-512.png" class="track-icon">
					          			<label class="label">Recop Accepted</label>
					          			<p>January 29, 2019</p>
					          			<p>4:00PM</p>
					          		</div>
					          	</div>
					          	<div class="column has-text-centered">
					          		<div class="circles">
					          			<p>2 Day(s)</p>
					          			<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
					          		</div>
					          	</div>
					          	<div class="column">
					          		<div class="has-text-centered">
					          			<img src="https://cdn4.iconfinder.com/data/icons/document-26/64/document-512.png" class="track-icon">
					          			<label class="label">FMI Signed</label>
					          			<p>January 29, 2019</p>
					          			<p>4:00PM</p>
					          		</div>
					          	</div>
					          	<div class="column has-text-centered">
					          		<div class="circles">
					          			<p>2 Day(s)</p>
					          			<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
					          		</div>
					          	</div>
					          	<div class="column">
					          		<div class="has-text-centered">
					          			<img src="https://cdn4.iconfinder.com/data/icons/document-26/64/document-512.png" class="track-icon">
					          			<label class="label">Acad Signed</label>
					          			<p>January 29, 2019</p>
					          			<p>4:00PM</p>
					          		</div>
					          	</div>
					          	<div class="column has-text-centered">
					          		<div class="circles">
					          			<p>2 Day(s)</p>
					          			<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
						          		<span class="icon is-small"><i class="fas fa-circle" aria-hidden="true"></i></span>
					          		</div>
					          	</div>
					          	<div class="column">
					          		<div class="has-text-centered">
					          			<img src="https://cdn4.iconfinder.com/data/icons/document-26/64/document-512.png" class="track-icon">
					          			<label class="label">Approved On</label>
					          			<p>January 29, 2019</p>
					          			<p>4:00PM</p>
					          		</div>
					          	</div>
					        </div>
					        <div class="columns">
					        	<div class="column">
					        		<p class="subtitle has-text-centered has-text-black">Total Days: 30</p>
					        	</div>
					        </div>
					    </div>
				  	</div>
				</div>
				
			</div>
		</section>
{% endblock %}