
	<div class="column is-one-quarter">
		<div class="card select-list has-text-centered">
			<div class="card-content">
					<div class="level">
						<div class="level-item">
						<img class="image is-128x128" src="../../../static/images/gg.png">
					</div>
				</div>

	      		<div class="title is-5">{{ events.name }}</div>
	      		<p class="subtitle is-6">{{ events.event_date }}</p>

	      		<a class="button event-btn" onclick="show_event('{{events.id}}')">More Details</a>	

			</div>
		</div>
	</div>

	<div id={{events.id}}_modal class="modal">
  		<div class="modal-background"></div>
  			<div class="modal-card">
    			<header class="modal-card-head">
      				<p class="modal-card-title">{{events.name}}</p>
      				<button class="delete" onclick="close_event('{{events.id}}')"></button>
				</header>
    		<section class="modal-card-body">
    			
	  		</section>
    	
    		<footer class="modal-card-foot">

    			<a href="{{url_for('communities.event_participants', id = events.id )}}">
    				<button class="button"><i class="fas fa-users"></i> &nbsp; Participants</button>
    			</a>

    		</footer>
  		</div>
	</div>