{% extends "communities-base.html" %}

{% block content %} 

			<div class="notification gold">
				<div class="columns is-left">
					<div class="column view-icons">
						<article class="media">
						  	<figure class="media-left"> 
						  		<a class="button add" href="{{url_for('communities.events', page='1', status='all', search=' ')}}" ><i class="fas fa-arrow-alt-circle-left"> </i>&nbsp Back</a>
						  	</figure>
						  	<figure class="media-left"> 
						  		<span class='button add'>{{event.name}}</span>
						  		<p>Slots: {{joined}}/{{event.participant_no}}</p>
						  	</figure>
						</article>
					</div>
					<div class="column search-box">
						<div class="field is-pulled-right has-addons has-addons-centered">
							<div class="control">
								<form action="" method="POST">
								{{form.hidden_tag()}}
							    	{{form.search(class_='input', placeholder='Search')}}
							</div>
							<p class="control">
						     	{{form.submit(class_='button search')}}
							</p>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="columns is-gapless">

				<div class="column">
					<div class="card list">
						<div class="card-header">
							<p class="card-header-title">
							<span class="fas fa-poll-h"></span>&nbsp;
							Qualified Members
							</p>
							<div class="is-pulled-right">
								<p class="card-header-title">
									Total: {{participants|length}}
								</p>
							</div>
						</div>
						<div class="card-content">
							<div class="table-responsive">
								<table class="table is-striped is-fullwidth is-hoverable">
								{% if participants %}
								<thead>
									<tr>
									    <th class="newlist">Name</th>
									    <th class="newlist">Address</th>
									    <th class="newlist">Occupation</th>
									    <th class="newlist">Religion</th>
									    <th class="newlist hidedesktop">Actions</th>
									 </tr>
									
								</thead>

									{% for participant in participants %}
											{% include 'communities/events/_participants.html' %}
									{% endfor %}

								{% else %}

								<tbody>

									<tr class = "table-row">
										<td class = "has-text-centered">---Nothing to show---</td>
								 	</tr>
									
								</tbody>

								{% endif %}
							</table>
							</div>
						</div>
					</div>
				</div>
			</div>


{% endblock %}