{% extends "communities-base.html" %}

{% block content %}
	<div class="notification gold">
		<div class="columns is-centered">
	        <div class="column search-box">
		  		<a href="" class="button viewbtn is-active">
					<span class="icon">
						<i class="fa fa-list"></i>
					</span>
				</a>
				<a href="{{url_for('communities.events_calendar')}}" class="button viewbtn">
					<span class="icon">
						<i class="fa fa-calendar-alt"></i>
					</span>
				</a>
				&nbsp&nbsp&nbsp

	          	<div class="field has-addons has-addons-centered is-pulled-right">
		            <div class="control">
		                <input class="input" type="text" placeholder="Search">
		            </div>
		            <p class="control">
		                <a class="button search">
		                  Search
		                </a>
		            </p>
	          	</div>
	        </div>
      	</div>
	</div>

	<div class="columns">
		<div class="column is-2">
			<div class="filter-btn is-size-5" onclick="filtershrink()">
				<i class="fas fa-filter"></i>&nbspFilter
			</div>
    		<div class="notification filter" id="filterDIV">
    			<div class="columns">
	                <div class="column">
	                	<p class="title is-size-5">Thrust</p>
	                  	<div class="field">
			                <div class="control">
			                  	<div class="select is-warning">
				                    <select class="filter-dropdown">
				                        <option>All</option>
				                        <option>Educational</option>
				                        <option>Environmental</option>
				                        <option>Health</option>
				                        <option>Livelihood</option>
				                        <option>Socio-Political</option>
				                        <option>Spiritual</option>
				                      </select>
			                    </div>
			                </div>
			            </div>
			                
		                <p class="title is-size-5">Type</p>

		                <div class="field">
		                  	<div class="control">
		                    	<div class="select is-warning">
			                      <select class="filter-dropdown">
			                          <option>All</option>
			                          <option>Institutional</option>
			                          <option>Outside</option>
			                      </select>
		                    	</div>
		                  	</div>
			            </div>
	                </div>
	            </div>
			</div>
		</div>

		<div class="column">
			<div class="columns padding-el is-multiline">
				{% if events %}

						{% for event in events.item %}
							{% include 'communities/events/_events.html' %}
						{% endfor %}

				{% else %}
				<table class="table is-fullwidth">
					<thead></thead>
				<tbody>

					<tr class = "table-row">
						<td class = "has-text-centered">---Nothing to show---</td>
				 	</tr>
					
				</tbody>

				{% endif %}	
				</table>
			</div>
		</div>
	</div>
{% endblock %}