<!DOCTYPE html>
<html>

    <head>

        <title>| ReCOP-ComEx</title>

        <title>ReCOP-ComEx</title>
       

        <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" type="text/css" href="../../../static/css/bulma-0.7.2/css/bulma.css">
        <link rel="stylesheet" href="../../../static/css/fontawesome-5.5.0/css/all.css">
        <link rel="stylesheet" href="../../../static/css/recop-comex-style/css/style.css">
        <script type="text/javascript" src = "../../../static/scripts/base.js" ></script>
          
    </head>

    <body> 

    
	<div class="container padding">
	    <div class="title has-text-centered">
	    	Conduct Event
		    <ul class="card1-list">
			    <li class="card1">
			        <a class="card1-image has-text-success">
			            <span class="fas fa-user-check fa-10x color" aria-hidden="true"></span>
			        </a>
			        <a class="card1-description notification gold">
			            <h2 class="title is-5">Attendance</h2>
			            
			        </a>
			    </li>

			    <li class="card1">
			        <a class="card1-image has-text-success">
			            <span class="fas fa-user-tag fa-10x color" aria-hidden="true"></span>
			        </a>
			        <a class="card1-description notification gold" id = "2">
			            <h2 class="title is-5">Evaluation of Participants</h2>         
			        </a>
			    </li>

			    <li class="card1">
			        <a class="card1-image has-text-success">
			            <span class="fas fa-images fa-10x color" aria-hidden="true"></span>
			        </a>
			        <a class="card1-description notification gold">
			            <h2 class="title is-5">Photos</h2>
			        </a>
			    </li>  
			</ul>
		</div> 
	</div>

</body>
</html>
