{% extends "communities-base.html" %}

{% block content %}

    {% include 'communities/profile/settings/settings-base.html' %}

            <div class="column">
                <div class="columns padding">
                    <div class="column">
                        <div class="card box">
                            <form action ="" method = "POST">
                                {{form.hidden_tag()}}
                                <div class="card-header">
                                    <p class="card-header-title">Personal</p>
                                </div>

                                <div class="card-content">
                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{form.firstname.label(class_='label')}}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    {{form.firstname(class_='input', placeholder='First Name')}}
                                                    {% for error in form.firstname.errors %}
                                                    <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{form.middlename.label(class_='label')}}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    {{form.middlename(class_='input', placeholder='Middle Name')}}
                                                    {% for error in form.middlename.errors %}
                                                    <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{form.lastname.label(class_='label')}}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    {{form.lastname(class_='input', placeholder='Last Name')}}
                                                    {% for error in form.lastname.errors %}
                                                    <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{form.gender.label(class_='label')}}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control has-icon has-icon-right">

                                                    {% for subfield in form.gender %}
                                                        <label class = "radio">
                                                        {{subfield}}
                                                        {{subfield.label}}
                                                         </label>

                                                    {% endfor %}

                                                    {% for error in form.gender.errors %}
                                                    <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}
                                                    
                                                </div>
                                           </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{form.birthday.label(class_='label')}}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control has-icon has-icon-right">
                                                    {{form.birthday(class_='input', type='date')}}
                                                    {% for error in form.birthday.errors %}
                                                    <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{form.bio.label(class_='label')}}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control has-icon has-icon-right">
                                                    {{form.bio(class_='input', placeholder='Bio')}}
                                                    {% for error in form.bio.errors %}
                                                    <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="has-text-centered">
                                    {{form.submit(class='button is-primary')}}
                                    </div>
                                </div>
                            </form>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}