{% extends "unregistered-base.html" %}

{% block content %}

    <div class="container padding">
            <div class="columns is-centered">
                <div class="column is-7">
                    <div class="card">
                        <div class="card-content">
                            <div class="columns">
                                <div class="column is-half">
                                    
                                    <div class="level">
                                    <div class="level-item">
                                        <figure class="image">
                                    <img class="is-rounded" src="../../../static/images/logo.png">
                                        </figure>
                                    </div>
                                    </div>
                            
                                </div>
                                <div class="column">
                                    <div class="field has-text-centered">
                                        <label class="title is-3">Forgot your password</label><br>

                                    </div>
                                    <form action="" method="POST">
                                        {{form.hidden_tag()}}
                                        <div class="field">
                                            {{form.email.label(class_='label')}}
                                            <div class="control has-icons-left has-icons-right">
                                                {{form.email(class_='input', placeholder='Email Address')}}
                                                {% for error in form.email.errors %}
                                                <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                                <span class="icon is-small is-left">
                                                    <i class="fas fa-envelope"></i>
                                                </span>
                                            </div>
                                        </div>

                                        <div class="field has-text-centered">
                                            {{form.submit(class_='button submit')}}
                                        </div>

                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
<div class="footer-margin-top"></div>

<!-- WHO WE ARE ENDS -->

{% endblock %}