{% extends "linkages-base.html" %}

{% block content %}

		 <div class="columns">
    <div class="column is-12">
        <div class="box is-active">
          <div class="field">
              <div class="control"></div>
          </div>
          <div class="field is-horizontal">
              <p class="title is-size-5">TERMS & CONDITIONS</p>
          </div>
      </div>
    </div>
  </div>

  <div class="columns is-centered">
    <div class="column is-11">
      <div class="field">
        <div class="column">
            <label class="label">  Introduction</label>
            <p>  These Website Standard And Conditions written on this webpage shall manage your use of our website, Recop Comex accesible at https://www.sscr.edu/RecopComEx.</p> <br>

            <p>  These Terms will be applied fully and affect to your use of this website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this website if you disagree with any of these Website Standard Terms and Conditions. These Terms and Conditions have been generated over at the terms and conditions template website.</p> <br>

            <label class="label"> Intellectual Property Rights</label> <br>
            <p> Other than the content you own, under these terms, RecopComEx and/or its licensors own at all the intellectual property rights and materials contained in this website. </p> <br>
            <p> You are granted limited license only for purposes of viewing the material contained on this Website.</p> <br>

            <label class="label"> Restrictions</label> <br>
            <p> You are specifically restricted from all of the following:</p> 

            <p> 
              <div class="content">
                <ul type="1">
                  <li>Publishing any Website material in any other media;</li>
                  <li>selling sublincensing and/or otherwise commercializing any website material:</li>
                </ul>
              </div>
            </p> <br>
        </div>
      </div>
    </div>
  </div>

{% endblock %}