{% extends "unregistered-base.html" %}

{% block content %}

 <!--  -->
<div class="container padding">
 <div class="columns is-centered">
    <div class="column">

        <div class="level">
            <div class="level-item">
                <figure class="image-donation">
                    <img src="../../static/images/Logo.png">
                </figure>
            </div>
        </div>

        
    </div>

    <div class="column is-7 margin-top-donate">
        <div class="card">
            <div class="card-content">
        <form action ="" method = "POST" enctype="multipart/form-data">
        {{form.hidden_tag()}}
                
                        <h1 class="green-donate notification title is-4 has-text-centered">Bring Hope to the Community</h1>
                        <div class="field is-horizontal padding-donation nowrap left-donate">
                            <div class="field-label is-normal">
                                {{form.give_to.label(class_='label notification is-light')}}
                            </div>
                            <div class="field-body margin-top-donate">
                                <div class="field">
                                    <div class="control has-icon has-icon-right">
                                        {% for subfield in form.give_to %}
                                            <label class = "radio">
                                                {{subfield(onclick='donate_choose(this.value)')}}
                                                {{subfield.label}}
                                            </label>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="hidden" id='comm'>
                            <div class="field is-horizontal padding-donation nowrap left-donate">
                            <div class="field-label is-normal">
                                {{form.sponsee.label(class_='label notification is-light')}}
                            </div>
                            <div class="field-body margin-top-donate">
                                <div class="field">
                                    <div class="control has-icon has-icon-right">
                                        <div class="select width-donate left-donate">
                                        {{form.sponsee(class_='input', placeholder='Amount')}}
                                        {% for error in form.sponsee.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        <div class="hidden" id='events'>
                            {% if no_event==0 %}
                            <div class="field-label">
                                {{form.event.label(class_='label')}}
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <div class="control has-icon has-icon-right">
                                        {{form.event(class_='input')}}
                                        {% for error in form.event.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            {% else %}
                            <div class="field-body">
                                <div class="field">
                                    <p class="notification title is-6 gold-donate has-text-centered">Sorry there are no scheduled events as of the moment</p>
                                </div>
                            </div>{% endif %}
                        </div>
                        <div class="field is-horizontal padding-donation nowrap left-donate">
                            <div class="field-label is-normal">
                                {{form.type.label(class_='label notification is-light')}}
                            </div>
                            <div class="field-body margin-top-donate">
                                <div class="field">
                                    <div class="control has-icon has-icon-right">
                                        {% for subfield in form.type %}
                                            <label class = "radio">
                                                {{subfield(onclick='donate_type(this.value)')}}
                                                {{subfield.label}}
                                            </label>
                                            {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden" id = "amount_div">
                            <div class="field-label is-normal padding-donation nowrap left-donate">
                                {{form.amount.label(class_='label notification green-donate')}}
                            </div>
                            <div class="field-body margin-top-donate width-donate">
                                <div class="field">
                                    <div class="control has-icon has-icon-left">
                                        {{form.amount(class_='input width-donate', placeholder='Amount')}}
                                        {% for error in form.amount.errors %}

                                       <span style="color: red;">[{{ error }}]</span>
                                                {% endfor %}
                                                <span class="icon is-small is-left">
                                                   <i class="fas fa-money-bill-alt"></i>
                                                </span>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hidden" id = "trans_div">
                            <div class="field-label is-normal padding-donation nowrap left-donate">
                                {{form.trans_slip.label(class_='label nowrap notification is-light')}}
                            </div>
                            <div class="field-body margin-top-donate">
                                <div class="field">
                                    <div class="control has-icon has-icon-right">
                                        {{form.trans_slip(class_='input width-donate', placeholder='Amount')}}
                                        {% for error in form.trans_slip.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="columns has-text-centered padding-donation">
                    <div class="column">
                            <p class="control has-text-centered">
                                <strong class="has-text-grey">Note: Your donation will be sent as anonymous. If you want to be recognized, kindly click here.</strong>
                            </p>
                            <br>
                        <div class="field padding">
                            <p class="control">
                                {{form.submit(class='button gold-donate padding-donation is-pulled-right title is-6')}}
                            </p>
                        </div>
                        <br>
                    </div>
                </div>
         
                </div>
                
    </form>

</div>
</div>
</div>
<div class="footer-margin-top"></div>

{% endblock %}