	<tr class="table-row">
		<td>{{ item.name }}</td>
		<td>{{ item.in_stock }}</td>
		<td>{{ item.given }}</td>
		<td>{{ item.expired }}</td>
		<td>{{ '%0.2f'| format(((item.total-item.donations) / item.total) * 100) | float }} %</td>
		<td>{{ '%0.2f'| format((item.donations / item.total) * 100) | float }} %</td>
		<td>									   	
			<a class="button is-success" onclick="show_item('{{item.type_id}}')">
				<i class="fas fa-box-open"></i>
				&nbsp;
				Item Breakdown
			</a>
		</td>
	</tr>	

	<div id={{item.type_id}}_modal class="modal">
		<div class="modal-background"></div>
		<div class="modal-card">
		    <header class="modal-card-head">
		    	<p class="modal-card-title has-text-white">{{item.name}}</p>
		    	<button class="delete" onclick="close_item('{{item.type_id}}')"></button>
		    </header>
		    <section class="modal-card-body">

	    		<div class="card">
		           	<header class="card-header has-background-light">
			                
			            <div class="columns card-header-title">
			               	<div class="column is-3">
			               		Source
			               	</div>
			               	<div class="column">
			               		In Stock
			              	</div>
			               	<div class="column">
			               		Given
			               	</div>
			               	<div class="column">
			               		Expired
			               	</div>
			               	<div class="column is-3">
			               		Actions
			                </div>
		                </div>
			               
		            </header>

		    	{% for i in breakdown %}

		    		{% if i.type_id==item.type_id %}

		              	<div class="card-content profile">
             				<div class="columns card-header-title has-text-weight-normal">
			                	<div class="column is-3">
			                		{% if i.donation_id %}
			                			Donation #{{i.donation_id}}
			                		{% else %}
			                			ReCOP Office
			                		{% endif %}
			                	</div>
			                	<div class="column">
			                		{{i.in_stock}}
			                	</div>
			                	<div class="column">
			                		{{i.given}}
			                	</div>
			                	<div class="column">
			                		{{i.expired}}
			                	</div>
			                	<div class="column is-3">
			                		{% if i.in_stock!=0 %}
			                		<button class="button is-success tooltip" onclick="show_action(['{{i.id}}','{{i.type_id}}', 'give'])" data-tooltip='Give'><i class="fas fa-gift"></i></button>
			                		<button class="button is-danger tooltip" onclick="show_action(['{{i.id}}', '{{i.type_id}}','dispose'])" data-tooltip='Dispose'><i class="fas fa-trash"></i></button>
			                		{% else %}
			                			<span class='tag is-warning'>No stocks available</span>
			                		{% endif %}
			                	</div>
		                	</div>
			            </div>

		    		{% endif %}

		    	{% endfor %}

			    </div>

		    </section>

		    <footer class="modal-card-foot">
		    </footer>
	  	</div>
	</div>

{% for i in breakdown %}

	{% if i.type_id==item.type_id %}

	<div id={{i.id}}_action class="modal">
		<div class="modal-background"></div>
		<div class="modal-card">
		    <header class="modal-card-head">
		    	<p class="modal-card-title has-text-white" id={{i.id}}_head></p>
		    	<button class="delete" onclick="close_action(['{{i.id}}', '{{i.type_id}}'])"></button>
		    </header>
		    <section class="modal-card-body">

		    	<label class="label">Item Source: {% if i.donation_id %}Donation #{{i.donation_id}} {% else %}ReCOP Office{% endif %}</label>
			    <label class="label">Item Type: {{item.name}}</label>
			    <label class="label">In Stock: {{i.in_stock}}</label><br>  	

		    	<form action='' method='POST'>

		    		{{update.hidden_tag()}}
		    		{{update.action(hidden='True', id=i.id)}}
		    		{{update.source(value=i.id, hidden='True')}}
		    		<div class='field'>
		    			<label class='label'>{{update.quantity.label}}</label>
		    			{{update.quantity(class_='input', type='number')}}
		    		</div>

		    </section>

		    <footer class="modal-card-foot">
	    				<div class="column">
	    					<a href="" class="level-item">
			  					{{update.submit(class_='button add')}}
							</a>
	    				</div>	   
		    	</form> 		
		    </footer>
	  	</div>
	</div>

	{% endif %}
{% endfor %}