	<tr class="table-row">
		<td>{{ item.name }}</td>
		<td>{{ item.in_stock }}</td>
		<td>{{ item.given }}</td>
		<td>{{ item.expired }}</td>
		<td>									   	
			<a class="button is-warning" onclick="show_item('{{item.type_id}}')">
				<span class="icon">
					<i class="fa fa-eye"></i>
				</span> &nbsp;
				View
			</a>
		</td>
	</tr>	

	<div id={{item.type_id}}_modal class="modal">
		<div class="modal-background"></div>
		<div class="modal-card">
		    <header class="modal-card-head">
		    	<p class="modal-card-title has-text-white">{{item.name}}</p>
		    	<button class="delete" onclick="close_item('{{item.type_id}}')"></button>
		    </header>
		    <section class="modal-card-body">


	    		<div class="card">
		           	<header class="card-header has-background-light">
			                
			            <div class="columns card-header-title">
			               	<div class="column is-3">
			               		Source
			               	</div>
			               	<div class="column">
			               		In Stock
			              	</div>
			               	<div class="column">
			               		Given
			               	</div>
			               	<div class="column">
			               		Expired
			               	</div>
			               	<div class="column is-3">
			               		Actions
			                </div>
		                </div>
			               
		            </header>

		    	{% for i in breakdown %}

		    		{% if i.type_id==item.type_id %}

		              	<div class="card-content profile">
             				<div class="columns card-header-title has-text-weight-normal">
			                	<div class="column is-3">
			                		{% if i.donation_id %}
			                			Donation #{{i.donation_id}}
			                		{% else %}
			                			ReCOP Office
			                		{% endif %}
			                	</div>
			                	<div class="column">
			                		{{i.in_stock}}
			                	</div>
			                	<div class="column">
			                		{{i.given}}
			                	</div>
			                	<div class="column">
			                		{{i.expired}}
			                	</div>
			                	<div class="column is-3">
			                		<form action="" method="POST">
			                			{{update.hidden_tag()}}
			                		<div class="field">
			                			{{update.quantity(class_='input', type='number', placeholder='Quantity', value='')}}
			                			{{update.donation(hidden='True', value=i.donation_id)}}
			                		</div>
                                    {% for subfield in update.action %}
                                        <label class = "radio">
                                          {{subfield}}
                                          {{subfield.label}}
                                        </label>
                                    {% endfor %}
			                		{{update.submit(class_='button is-success is-small')}}
			                		</button>
			                		</form>
			                	</div>
		                	</div>
			            </div>

		    		{% endif %}

		    	{% endfor %}

			    </div>

		    </section>

		    <footer class="modal-card-foot">
		    </footer>
	  	</div>
	</div>