	<tr class="table-row">
		<td>{{ item.name }}</td>
		<td>{{ item.in_stock }}</td>
		<td>{{ item.given }}</td>
		<td>{{ item.expired }}</td>
		<td>									   	
			<a class="button is-warning" onclick="show_item('{{item.type_id}}')">
				<span class="icon">
					<i class="fa fa-eye"></i>
				</span> &nbsp;
				View
			</a>
		</td>
	</tr>	

	<div id={{item.type_id}}_modal class="modal">
		<div class="modal-background"></div>
		<div class="modal-card">
		    <header class="modal-card-head">
		    	<p class="modal-card-title has-text-white">{{item.name}}</p>
		    	<button class="delete" onclick="close_item('{{item.type_id}}')"></button>
		    </header>
		    <section class="modal-card-body">

		    	{% for i in breakdown %}

		    		{% if i.type_id==item.type_id %}
		    			<div>

		    				Hey
		    				
		    			<div>

		    		{% endif %}

		    	{% endfor %}

		    </section>
		    <footer class="modal-card-foot">
		      <button class="button is-success">Save changes</button>
		      <button class="button">Cancel</button>
		    </footer>
	  	</div>
	</div>