{% extends "admin-base.html" %}

{% block content %}

	<section class="hero is-fullheight">
		<div class="hero-body">
			<div class="box white">
				<form action="" method="POST" enctype="multipart/form-data">
					{{form.hidden_tag()}}
					<div class="columns">
				      	<div class="column">
				      		<article class="media">
								<figure class="media-left">
								    <a class="btn btn-follow btn-sm text-center" href="{{url_for('admin.inventory_show', page='1', search=' ')}}" role="button">
										<span class="back-icon">
								  			<i class="fas fa-arrow-circle-left fa-2x"></i>
								  		</span>
								  	</a>
								</figure>
							  
							  	<div class="media-right has-text-weight-bold">
							   		<p class="subtitle has-text-weight-bold">Back</p>
							 	</div>
							</article>
				      	</div>
				    </div>
				    <div class="columns">
				      	<div class="column">
				      		<p class="title has-text-centered">Add Item to Inventory</p>
				      	</div>
			     	</div>
					<div class="columns">
						<div class="column">
							<div class="field">
								{{form.item_type.label(class_='label')}}
							  	<div class="control">
                                    {% for subfield in form.item_type %}
                                        <label class = "radio">
                                          {{subfield(onclick='item_add(this.value)')}}
                                          {{subfield.label}}
                                        </label>
                                    {% endfor %}
							  	</div>
							</div>
						</div>
					</div>
					<div class="hidden" id='item_div'>
						<div class="hidden" id='new_item'>
							<div class="field">
								{{form.name.label(class_='label')}}
							  	<div class="control">
							    	{{form.name(class_='input', placeholder='Item')}}
	                                {% for error in form.name.errors %}
	                                <span style="color: red;">[{{ error }}]</span>
	                                {% endfor %}
							  	</div>
							</div>
						</div>
						<div class="hidden" id='existing_item'>
                        {% if no_item==0 %}
							<div class="field">
								{{form.items.label(class_='label')}}
							  	<div class="control">
							    	{{form.items(class_='input', placeholder='Quantity', type='number')}}
	                                {% for error in form.items.errors %}
	                                <span style="color: red;">[{{ error }}]</span>
	                                {% endfor %}
							  	</div>
							</div>
                        {% else %}
                            <div class="field">
								{{form.items.label(class_='label')}}
                                <div class="control">
                                   <span class="tag is-warning is-medium">Sorry there are no items in inventory.</span>
                                </div>
                            </div>
                        {% endif %}
						</div>
						<div class="column">
							<div class="field">
								{{form.quantity.label(class_='label')}}
							  	<div class="control">
							    	{{form.quantity(class_='input', placeholder='Quantity', type='number', min=0)}}
	                                {% for error in form.quantity.errors %}
	                                <span style="color: red;">[{{ error }}]</span>
	                                {% endfor %}
							  	</div>
							</div>
						</div>
						<div class="column">
							<div class="field">
								{{form.is_donation.label(class_='label')}}
							  	<div class="control">
                                    {% for subfield in form.is_donation %}
                                        <label class = "radio">
                                          {{subfield(onclick='donation(this.value)')}}
                                          {{subfield.label}}
                                        </label>
                                    {% endfor %}
							  	</div>
							</div>
						</div>
					</div>

					<div class="hidden" id="give_to">
						<div class="column">
							<div class="field">
								{{form.give_to.label(class_='label')}}
							  	<div class="control">
                                    {% for subfield in form.give_to %}
                                        <label class = "radio">
                                          {{subfield(onclick='donate_choose(this.value)')}}
                                          {{subfield.label}}
                                        </label>
                                    {% endfor %}
							  	</div>
							</div>
						</div>
						<div class="hidden" id="comm">
							<div class="field">
								{{form.sponsee.label(class_='label')}}
							  	<div class="control">
							    	{{form.sponsee(class_='input', placeholder='Quantity', type='number')}}
	                                {% for error in form.sponsee.errors %}
	                                <span style="color: red;">[{{ error }}]</span>
	                                {% endfor %}
							  	</div>
							</div>
						</div>
						<div class="hidden" id="events">
                        {% if no_event==0 %}
							<div class="field">
								{{form.event.label(class_='label')}}
							  	<div class="control">
							    	{{form.event(class_='input', placeholder='Quantity', type='number')}}
	                                {% for error in form.event.errors %}
	                                <span style="color: red;">[{{ error }}]</span>
	                                {% endfor %}
							  	</div>
							</div>
                        {% else %}
                            <div class="field">
								{{form.event.label(class_='label')}}
                                <div class="control">
                                    <span class="tag is-warning is-medium">Sorry there are no scheduled events.</span>
                                </div>
                            </div>
                        {% endif %}
						</div>
						<div class="hidden" id="sponsor">
							<div class="field">
								{{form.sponsor.label(class_='label')}}
							  	<div class="control">
							    	{{form.sponsor(class_='input', placeholder='Quantity', type='number')}}
	                                {% for error in form.event.errors %}
	                                <span style="color: red;">[{{ error }}]</span>
	                                {% endfor %}
							  	</div>
							</div>
						</div>
					</div>
					<div class="hidden" id="trans_slip">
						<div class="column">
							<div class="field">
								{{form.trans_slip.label(class_='label')}}
							  	<div class="control">
                              		{{form.trans_slip(class_='input')}}
	                                {% for error in form.trans_slip.errors %}
	                                <span style="color: red;">[{{ error }}]</span>
	                                {% endfor %}
							  	</div>
							</div>
						</div>
					</div>
					<div class="field is-grouped is-grouped-centered">
						<p class="control">
						  	{{form.submit(class_='button is-success')}}
						</p>
					</div>

				</form>
			</div>
		</div>
	</section>

{% endblock %}