
	<div class="column is-one-quarter">
		<div class="card select-list has-text-centered">
			<div class="card-content all-view">
				<div class="level">
					<div class="level-item">
						<img class="image is-128x128" src="../../../static/images/gg.png">
					</div>
				</div>
	      		<div class="title is-5">{{ event.name }}</div>
	      		<p class="subtitle is-6">
	      			<i class="fas fa-calendar"></i>&nbsp; {{event.event_date.strftime('%B %e, %Y')}}</br>
					<i class="fas fa-map-marker-alt"></i>&nbsp; {{ event.location }}
				</p>

	      		<div class="button event-btn" onclick="show_event('{{event.id}}')">More Details</div>	
			</div>
		</div>
	</div>

	<div id={{event.id}}_modal class="modal">
  		<div class="modal-background"></div>
  			<div class="modal-card">
    			<header class="modal-card-head">
    				<p class="modal-card-title has-text-white">{{event.name}}</p>
      				<button class="delete" onclick="close_event('{{event.id}}')"></button>
				</header>
    		<div class="overlay-card-modal has-text-centered">
		    	<div class="circular-event">
		    		<img src="https://i.mydramalist.com/jrWO8c.jpg">
		    	</div>
		    </div>
    		<section class="modal-card-body">
    			<div class="container modal-show" id="info_div">
			      	<div class="card">
						<header class="card-header has-background-light">
						    <p class="card-header-title">
						    Information
						    </p>
					  	</header>
					  	<div class="card-content profile">
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
										<span class="icon is-info tooltip" data-tooltip="Organizer">
											<i class="fas fa-user"></i>
										</span>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>{{event.company_name}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
										<span class="icon is-info tooltip" data-tooltip="Description">
											<i class="fas fa-newspaper"></i>
										</span>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>{{event.description}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
										<span class="icon is-info tooltip" data-tooltip="Objective">
											<i class="fas fa-exclamation"></i>
										</span>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>{{event.objective}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
										<span class="icon is-info tooltip" data-tooltip="Location">
											<i class="fas fa-map-marker-alt"></i>
										</span>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>{{event.location}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
										<span class="icon is-info tooltip" data-tooltip="Date">
											<i class="fas fa-newspaper"></i>
										</span>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>{{event.event_date.strftime('%B %e, %Y')}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
										<span class="icon is-info tooltip" data-tooltip="Thrust">
											<i class="fas fa-cubes"></i>
										</span>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>
								        			{% if event.thrust==1 %}
								        				Educational
								        			{% elif event.thrust==2 %}
								        				Environmental
								        			{% elif event.thrust==3 %}
								        				Health
								        			{% elif event.thrust==4 %}
								        				Livelihood
								        			{% elif event.thrust==5 %}
								        				Socio-Political
								        			{% elif event.thrust==6 %}
								        				Spiritual   
								        			{% endif %}
								        		</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
						</div>
					</div>
			    </div>

	  		</section>
    	
			<footer class="modal-card-foot buttons is-right">
    			<button class="button is-info">Join Event</button>
    		</footer>
  		</div>
	</div>