{% extends "registered-base.html" %}

{% block content %}

    <div class="notification gold">
      	<div class="columns is-centered">
	        <div class="column search-box">
	        	<a href="" class="button viewbtn is-active">
					<span class="icon">
						<i class="fa fa-list"></i>
					</span>
				</a>&nbsp
				<a href="{{url_for('registered.events_calendar')}}" class="button viewbtn">
					<span class="icon">
						<i class="fa fa-calendar-alt"></i>
					</span>
				</a>

				&nbsp&nbsp&nbsp

				<div class="field is-pulled-right has-addons has-addons-centered">
					<div class="control">
						<form action="" method="POST">
						{{form.hidden_tag()}}
				    		{{form.search(class_='input', placeholder='Search')}}
					</div>
					<p class="control">
				     	{{form.submit(class_='button search')}}
					</p>
					</form>
				</div>
	        </div>
      	</div>
    </div>


    <div class="columns is-gapless">
		<div class="column is-2">
			<div class="filter-btn is-size-5" onclick="filtershrink()">
				<i class="fas fa-filter"></i>&nbspFilter
			</div>
    		<div class="notification filter" id="filterDIV">
    			<div class="columns">
	                <div class="column">
	                	<p class="title is-size-5">Thrust</p>
	                  	<div class="field">
		                 	<div class="control">
		                    	<div class="select is-warning">
			                      	<select class="filter-dropdown">
										<option>All</option>
										<option>Educational</option>
										<option>Environment</option>
										<option>Health</option>
										<option>Livelihood</option>
										<option>Socio-Political</option>
										<option>Spiritual</option>
			                        </select>
		                    	</div>
		                  	</div>
		                </div>
		                <p class="title is-size-5">Type</p>

		                <div class="field">
		                  	<div class="control">
		                    	<div class="select is-warning">
			                      	<select class="filter-dropdown">
										<option>All</option>
										<option>Institutional</option>
										<option>Outside</option>
			                        </select>
		                    	</div>
		                  	</div>
                		</div>
	                </div>
	            </div>
			 	
    		</div>
    	</div>
		<div class="column">
			<div class="columns padding-el is-multiline">
				{% if events %}
					{% for event in events %}
						{% include 'registered/events/_events.html' %}
					{% endfor %}
				{% else %}
					<div class="has-text-centered">
						<span class="fas fa-ellipsis-h"></span>
						<span class="fas fa-ellipsis-h"></span>
						<span class="fas fa-ellipsis-h"></span>
						<span class="has-text-weight-bold"> NOTHING TO SHOW </span>
						<span class="fas fa-ellipsis-h"></span>
						<span class="fas fa-ellipsis-h"></span>
						<span class="fas fa-ellipsis-h"></span>
					</div>
				{% endif %}
			</div>
		</div>	
	</div>

    
{% endblock %}