<!DOCTYPE html>
<html>
	<head>
		<title>PDF</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<style type="text/css">
			.table-responsive{
				overflow-y: hidden;
			}

			.inside-address, .letter-body, .greetings, .closing{
				margin-top: 20px;
			}

			.salutation{
				margin-top: 40px;
			}

			.signature{
				padding-top: 40px;
			}

			.signature-line, .sign-line{
				margin-bottom: 0px;
				background-color: gray;
				width: 250px;
			}

			.sign-line{
				margin-left: 210px;
				height: 3px;
			}

		</style>
	</head>

	<body>
		<div class="columns">
			<div class="column">
				<div class="columns">
					<div class="column">
						<p class="title has-text-centered">Request Letter</p>
						<div class="container">
							<p class="has-text-right has-text-weight-bold">{{date.strftime('%B %e, %Y')}}</p>
						</div>

						<div class="container greetings" style="marg ">
							<p>To whom it may concern,</p>
						</div>

						<div class="container letter-body">
							<p class="has-text-justified">We, the {{event.company_name}} would like to request for your approval for out event entitled "{{event.name}}" which we are planning to conduct on {{event.event_date.strftime('%B %e, %Y')}} at {{event.location}}.</p>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="columns">
						<div class="column">
							<div class="table-responsive">
								<table class="table is-fullwidth">
									<thead class="has-background-light">
									    <tr class="has-text-centered">
									      <th>Event Name</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>[Event Name]</td>
									    </tr>
									  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="columns">
						<div class="column">
							<div class="table-responsive">
								<table class="table is-fullwidth">
									<thead class="has-background-light">
									    <tr class="has-text-centered">
									      <th>Organizer</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>[Name]</td>
									    </tr>
									  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="columns">
						<div class="column">
							<div class="table-responsive">
								<table class="table is-fullwidth">
									<thead class="has-background-light">
									    <tr class="has-text-centered">
									      <th>Description</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>[Description]</td>
									    </tr>
									  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="columns">
						<div class="column">
							<div class="table-responsive">
								<table class="table is-fullwidth">
									<thead class="has-background-light">
									    <tr class="has-text-centered">
									      <th>Objective</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>[Objective]</td>
									    </tr>
									  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="columns">
						<div class="column">
							<div class="table-responsive">
								<table class="table is-fullwidth">
									<thead class="has-background-light">
									    <tr class="has-text-centered">
									      <th>Proposed Budget</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>[Amount]</td>
									    </tr>
									  </tbody>
								</table>
							</div>
						</div>

						<div class="column">
							<div class="table-responsive">
								<table class="table is-fullwidth">
									<thead class="has-background-light">
									    <tr class="has-text-centered">
									      <th>Location</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>[Location]</td>
									    </tr>
									  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="columns">
						<div class="column">
							<div class="table-responsive">
								<table class="table is-fullwidth">
									<thead class="has-background-light">
									    <tr class="has-text-centered">
									      <th>Target Date</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>[Date]</td>
									    </tr>
									  </tbody>
								</table>
							</div>
						</div>

						<div class="column">
							<div class="table-responsive">
								<table class="table is-fullwidth">
									<thead class="has-background-light">
									    <tr class="has-text-centered">
									      <th>Thrust</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>[Thrust]</td>
									    </tr>
									  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="columns">
						<div class="column">
							<div class="table-responsive">
								<table class="table is-fullwidth">
									<thead>
									    <tr class="has-text-centered">
									      <th>Proposed Budget</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>[Amount]</td>
									    </tr>
									  </tbody>
								</table>
							</div>
						</div>

						<div class="column">
							<div class="table-responsive">
								<table class="table is-fullwidth">
									<thead class="has-background-light">
									    <tr class="has-text-centered">
									      <th>Approved On</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>[Date]</td>
									    </tr>
									  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="columns">
					<div class="column">
						<div class="container letter-body">
							<p class="has-text-justified">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
							tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
							quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
							consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
							cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
							proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						</div>
						<div class="container closing">
							<p>Many Thanks and God Bless.</p>
						</div>
					</div>
				</div>

				<div class="columns">
					<div class="column">
						<div class="container closing">
							<p>Sincerely yours,</p>
							<div class="container signature">
								<hr class="signature-line">
								<p class="has-text-weight-bold">[Name]</p>
								<p>Outreach Coordinator</p>
							</div>
						</div>
					</div>
				</div>

				<div class="container two-signatures">
					<div class="columns has-text-centered">
						<div class="column">
							<hr class="sign-line">
							<p class="has-text-weight-bold">[Name]</p>
							<p>Department Head</p>
						</div>

						<div class="column">
							<hr class="sign-line">
							<p class="has-text-weight-bold">[Name]</p>
							<p>Dean</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>

