<!DOCTYPE html>
<html>
	<head>
		<title>{{event.name|title}} Request</title>
		<meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<style type="text/css">
			.table-responsive{
				overflow-y: hidden;
			}

			.inside-address, .letter-body, .greetings, .closing{
				margin-top: 20px;
			}

			.salutation{
				margin-top: 40px;
			}

			.signature{
				padding-top: 40px;
			}

			.signature-line, .sign-line{
				margin-bottom: 0px;
				background-color: gray;
				width: 250px;
			}

			.sign-line{
				margin-left: 210px;
				height: 3px;
			}

		</style>
	</head>

	<body>
		<div class="columns">
			<div class="column">
				<div class="columns">
					<div class="column">
						<div class="container">
							<p class="has-text-right has-text-weight-bold">{{date.strftime('%B %e, %Y')}}</p>
						</div>

						<div class="container greetings">
							{% if admin.gender == 'M' %}
							<p>Dear Mr. {{ admin.last_name }},</p>
							{% else %}
							<p>Dear Ms./Mrs. {{ admin.last_name }},</p>
							{% endif %}
						</div>

						<div class="container letter-body">
							<p class="has-text-justified">We, the {{event.company_name}} would like to request for your approval for out event entitled "{{event.name}}" which we are planning to conduct on {{event.event_date.strftime('%B %e, %Y')}} at {{event.location}}.</p>
						</div>
						<div class="container letter-body">
							<p class="has-text-justified">Below are the detailed information about the event.</p>
						</div>
					</div>
				</div>

				<div class="container">
					<div class="columns">
						<div class="column">
							<div class="table-responsive">
								<table class="table is-fullwidth">
									<thead class="has-background-light">
									    <tr class="has-text-centered">
									      <th>Event Name</th>
									      <th>Description</th>									     
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>{{event.name}}</td>
									      <td>{{event.description}}</td>
									    </tr>
									  </tbody>
									<thead class="has-background-light">
									    <tr class="has-text-centered">
									      <th>Objective</th>
									      <th>Location</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>{{event.objective}}</td>
									      <td>{{event.location}}</td>
									    </tr>
									  </tbody>
									<thead class="has-background-light">
									    <tr class="has-text-centered">
									      <th>Target Date</th>
									      <th>Thrust</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>{{event.event_date}}</td>
									      <td>{{event.thrust}}</td>
									    </tr>
									  </tbody>
									<thead class="has-background-light">
									    <tr class="has-text-centered">
									      <th>Proposed Budget</th>
									      <th>Proposed On</th>
									    </tr>
									  </thead>
									  <tbody>
									    <tr>
									      <td>P {{event.budget}}</td>
									      <td>{{event.proposed_on.strftime('%B %e, %Y')}}</td>
									    </tr>
									  </tbody>
								</table>
							</div>
						</div>
					</div>
				</div>

				<div class="columns">
					<div class="column">
						<div class="container closing">
							<p>We are hoping for your immediate response. Thank you and God bless us all.</p>
						</div>
					</div>
				</div>

				<div class="columns">
					<div class="column">
						<div class="container closing">
							<p>Sincerely yours,</p>
							<div class="container signature">
								<hr class="signature-line">
								<p class="has-text-weight-bold">{{event.first_name + ' ' + event.last_name}}</p>
								<p>Outreach Coordinator - {{event.company_name}}</p>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="container two-signatures">
					<div class="columns">
						<div class="column">
							<hr class="signature-line">
							<p class="has-text-weight-bold">Department Head</p>
							<p>Signature Over Printed Name</p>
						</div>
						<br>
						<div class="column">
							<hr class="signature-line">
							<p class="has-text-weight-bold">Dean</p>
							<p>Signature Over Printed Name</p>
						</div>
					</div>
				</div>
			</div>
		</div>

	</body>
</html>

