									<tr class="table-row" >
										<td>{{ linkage.id }}</td>
									    <td>{{ linkage.company_name }}</td>
									    <td>{{ linkage.coordinator }}</td>
									    <td>{{ linkage.address }}</td>
									    {% if status=='all' %}
									    <td>
									    	{% if linkage.status=='A' %}
									    		Active
									    	{% elif linkage.status=='D' %}
									    		Disabled
									    	{% elif linkage.status=='P' %}
									    		MOA sent
									    	{% elif linkage.status=='X' %}
									    		Declined
									    	{% else %}
									    		New
									    	{% endif %}

										</td>
										{% endif %}
										<td>
											<a class="button is-warning tooltip" data-tooltip="View" href="{{url_for('admin.linkage_show', id=linkage.info_id)}}">
												<span class="icon">
													<i class="fa fa-eye"></i>
												</span>
											</a>
											{% if linkage.status!='P'%}
												{% if linkage.status=='N' or linkage.status=='X' %}
												{% if linkage.address=='San Sebastian College Recoletos de Cavite' %}
												<a class="button is-success tooltip" data-tooltip="Activate" href="{{url_for('admin.linkage_action', action='activate', id = linkage.info_id)}}")'>
													<span class="icon">
														<i class="fas fa-user-check"></i>
													</span>
												</a>
												{% else %}
												<a class="button is-info tooltip" data-tooltip="Send MOA" href="{{url_for('admin.linkage_action', action='send', id = linkage.info_id)}}")'>
													<span class="icon">
														<i class="fas fa-location-arrow"></i>
													</span>
												</a>
												{% endif %}
												{% if linkage.status!='X' %}
												<a class="button is-danger tooltip" data-tooltip="Decline" href="{{url_for('admin.linkage_action', action='decline', id = linkage.info_id)}}")'>
													<span class="icon">
														<i class="fas fa-user-slash"></i>
													</span>
												</a>
												{% endif %}
												{% elif linkage.status=='A' %}
												<a class="button is-danger tooltip" data-tooltip="Disable" href="{{url_for('admin.linkage_action', action='disable', id = linkage.info_id)}}")'>
													<span class="icon">
														<i class="fas fa-user-times"></i>
													</span>
												</a>
												{% else %}
												<a class="button is-success tooltip" data-tooltip="Activate" href="{{url_for('admin.linkage_action', action='activate', id = linkage.id)}}")'>
													<span class="icon">
														<i class="fas fa-user-check"></i>
													</span>
												</a>
												{% endif %}
												</span>
											</a>
											{% endif %}
										</td>
									</tr>