{% extends "admin-base.html" %}

{% block content %}

		<div class="panel panel-default">
			<div class="button-back">
				<a href="{{ url_for('admin.linkages', status='all', page='1', search=' ') }}" class = "button backbtnprof">
					<span class="icon is-small">
                		<i class="fas fa-arrow-alt-circle-left"></i>
					</span>
					<span>Back</span>
				</a>
			</div>
		    <div class="overlay-card has-text-centered">
		    	<div class="circular">
		    		<img src="../../../static/images/image-default.png">
		    	</div>
		        
		        <div class="row has-text-centered">
		            <p class="has-text-white is-size-4 has-text-weight-bold">{{linkage.company_name}}</p>
		            <a class="btn btn-follow is-size-6 btn-sm text-center has-text-white" href="#" role="button">{{linkage.email_address}}</a>
		            <p class="has-text-white is-size-6"> Last active on {{linkage.last_active.strftime('%b %e, %Y at %I:%M %p')}} </p>
		        </div>
		    </div>
		</div>

		<nav class="level is-mobile">
			<div class="level-item has-text-centered">
			    <div class="active-prof-nav">
			      	<a class="prof-icon">
			      		<p class="icon">
					      	<span class="icon">
					      		<i class="fas fa-user fa-2x prof"></i>
					      	</span>
					    </p>
			     	 	<p class="is-size-6 has-text-weight-bold ">About</p>
			  	  	</a>
			    </div>
			</div>

			<div class="level-item has-text-centered">
			    <div class="active-prof-nav">
			    	<a class="prof-icon">
				      	<p class="icon">
					      	<span class="icon">
					      		<i class="fas fa-calendar-alt fa-2x""></i>
					      	</span>
					    </p>
				      	<p class="is-size-6 has-text-weight-bold">Events Organized</p>
				    </a>
			    </div>
			</div>

			<div class="level-item has-text-centered">
			    <div class="active-prof-nav">
			    	<a class="prof-icon">
				      	<p class="icon">
					      	<span class="icon">
					      		<i class="fas fa-cog fa-2x"></i>
					      	</span>
					    </p>
				      	<p class="is-size-6 has-text-weight-bold">Settings</p>
				    </a>
			    </div>
			</div>
		</nav>

		<section class="hero">
			<div class="hero-body">
			    <div class="container">
			      	<div class="card">
						<header class="card-header has-background-light">
						    <p class="card-header-title">
						     {% if linkage.address == 'San Sebastian College Recoletos de Cavite' %} Organizational Information
						     {% else %}
						     Company Information
						     {% endif %}
						    </p>
					  	</header>
					  	<div class="card-content profile">
						    <div class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
								  		<span><i class="fas fa-building prof-panel-icon"></i></span>
								    	<p>Name</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>{{linkage.company_name}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</div>
							{% if linkage.address != 'San Sebastian College Recoletos de Cavite' %}
							<div class="panel-block">
						    	<article class="media">
									<figure class="media-left">
										<span><i class="fas fa-map-marker-alt prof-panel-icon"></i></span>
							    		<p>Address</p>
							  		</figure>
							  		<div class="media-content">
							   			<div class="content">
							      			<p>
							        			<strong>{{linkage.address}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>
						  	{% endif %}

							<div class="panel-block">
						    	<article class="media">
									<figure class="media-left">
										<span><i class="fas fa-user prof-panel-icon"></i></span>
							    		<p>Outreach Coordinator</p>
							  		</figure>
							  		<div class="media-content">
							   			<div class="content">
							      			<p>
							        			<strong>{{linkage.first_name}} {{linkage.middle_name}} {{linkage.last_name}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>

						  	<div class="panel-block">
						    	<article class="media">
							  		<figure class="media-left">
							  			<span><i class="fas fa-phone prof-panel-icon"></i></span>
							    		<p>Telephone</p>
							  		</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							      				{% if linkage.telephone=='' %}
					                            <strong>N/A</strong>
					                            {% else %}
							        			<strong>{{linkage.telephone}}</strong>
					                            {% endif %}
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>

						  	<div class="panel-block">
						     	<article class="media">
							  		<figure class="media-left">
							  			<span><i class="fas fa-mobile prof-panel-icon"></i></span>
							    		<p>Mobile</p>
							    	</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							      				{% if linkage.mobile_number=='' %}
					                            <strong>N/A</strong>
					                            {% else %}
							        			<strong>{{linkage.mobile_number}}</strong>
					                            {% endif %}
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>
						  	{% if mem_since %}
						  	<div class="panel-block">
						     	<article class="media">
							  		<figure class="media-left">
							  			<span><i class="fas fa-user-clock prof-panel-icon"></i></span>
							    		<p>Member Since</p>
							    	</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							        			<strong>{{mem_since.date_created.strftime('%b %e, %Y')}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>
						  	{% endif %}
						  	<div class="panel-block">
						     	<article class="media">
							  		<figure class="media-left">
							  			<span><i class="fas fa-user-cog prof-panel-icon"></i></span>
							    		<p>Status</p>
							    	</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							        			<strong>{{linkage.status}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>
						</div>
					</div>
			    </div>
			</div>
		</section>
{% endblock %}