
	<div class="column is-one-quarter">
		<div class="card select-list has-text-centered">
			<div class="card-content">
				<div class="level">
					<div class="level-item">
						<img class="image is-128x128" src="../../../static/images/gg.png">
					</div>
				</div>
	      		<div class="title is-5">{{ event.name }}</div>
	      		<p class="subtitle is-6">
	      			<i class="fas fa-calendar"></i>&nbsp; {{event.event_date.strftime('%B %e, %Y')}}</br>
					<i class="fas fa-map-marker-alt"></i>&nbsp; {{ event.location }}
				</p>

	      		<div class="button event-btn" onclick="show_event('{{event.id}}')">More Details</div>	
			</div>
		</div>
	</div>

	<div id={{event.id}}_modal class="modal">
  		<div class="modal-background"></div>
  			<div class="modal-card">
    			<header class="modal-card-head">
    				<p class="modal-card-title has-text-white">{{event.name}}</p>
      				<button class="delete" onclick="close_event('{{event.id}}')"></button>
				</header>
	    		<div class="overlay-card-modal has-text-centered">
			    	<div class="circular-event">
			    		<img src="https://i.mydramalist.com/jrWO8c.jpg">
			    	</div>
			    </div>
	    		<section class="modal-card-body">
	    			<div class="container modal-show" id="info_div">
				      	<div class="card">
							<header class="card-header has-background-light">
							    <p class="card-header-title">
							    Information
							    </p>
						  	</header>
						  	<div class="card-content profile">
							    <div class="panel-block">
								    <article class="media">
									  	<figure class="media-left">
									    	<p>Organizer</p>
									  	</figure>
									  	<div class="media-content">
									    	<div class="content">
									      		<p>
									        		<strong>{{event.company_name}}</strong>
									      		</p>
									    	</div>
									  	</div>
									</article>
								</div>
							    <div class="panel-block">
								    <article class="media">
									  	<figure class="media-left">
									    	<p>Description</p>
									  	</figure>
									  	<div class="media-content">
									    	<div class="content">
									      		<p>
									        		<strong>{{event.description}}</strong>
									      		</p>
									    	</div>
									  	</div>
									</article>
								</div>
							    <div class="panel-block">
								    <article class="media">
									  	<figure class="media-left">
									    	<p>Objective</p>
									  	</figure>
									  	<div class="media-content">
									    	<div class="content">
									      		<p>
									        		<strong>{{event.objective}}</strong>
									      		</p>
									    	</div>
									  	</div>
									</article>
								</div>
							    <div class="panel-block">
								    <article class="media">
									  	<figure class="media-left">
									    	<p>Location</p>
									  	</figure>
									  	<div class="media-content">
									    	<div class="content">
									      		<p>
									        		<strong>{{event.location}}</strong>
									      		</p>
									    	</div>
									  	</div>
									</article>
								</div>
							    <div class="panel-block">
								    <article class="media">
									  	<figure class="media-left">
									  		<p>{% if event.status!='A' %}
									    	Target Date
									    	{% else %}
									    	Date
									  		{% endif %}</p>
									  	</figure>
									  	<div class="media-content">
									    	<div class="content">
									      		<p>
									        		<strong>{{event.event_date.strftime('%B %e, %Y')}}</strong>
									      		</p>
									    	</div>
									  	</div>
									</article>
								</div>
							    <div class="panel-block">
								    <article class="media">
									  	<figure class="media-left">
									  		<p>Thrust</p>
									  	</figure>
									  	<div class="media-content">
									    	<div class="content">
									      		<p>
									        		<strong>
									        			{% if event.thrust==1 %}
									        				Educational
									        			{% elif event.thrust==2 %}
									        				Environmental
									        			{% elif event.thrust==3 %}
									        				Health
									        			{% elif event.thrust==4 %}
									        				Livelihood
									        			{% elif event.thrust==5 %}
									        				Socio-Political
									        			{% elif event.thrust==6 %}
									        				Spiritual   
									        			{% endif %}
									        		</strong>
									      		</p>
									    	</div>
									  	</div>
									</article>
								</div>
							    <div class="panel-block">
								    <article class="media">
									  	<figure class="media-left">
									  		<p>Proposed On</p>
									  	</figure>
									  	<div class="media-content">
									    	<div class="content">
									      		<p>
									        		<strong>
									        			{{event.proposed_on.strftime('%B %e, %Y')}}
									        		</strong>
									      		</p>
									    	</div>
									  	</div>
									</article>
								</div>
							</div>
						</div>
				    </div>

		  		</section>
	    	
				<footer class="modal-card-foot buttons is-centered">
	    			{% if event.address=='San Sebastian College Recoletos de Cavite' %}
	    			<div class="columns"{% for attach in letters %}{% if attach.event_id==event.id %}style="display:none"{% endif %}{% endfor %}">
	    				<div class="column">
	    					<a href="{{url_for('linkages.event_letter', id = event.id, name = event.name)}}" target='_blank' class="level-item">
			  					<button class="button is-info"><span class="icon is-small"><i class="fas fa-download"></i></span>&nbsp Request Letter</button>
							</a>
	    				</div>
	    				<div class="column">
		    		<form action="" method="POST" enctype="multipart/form-data">
		    		{{form.hidden_tag()}}
							<div class="file">
							  <label class="file-label">
								{{form.attach_letter(class_='file-input')}}
							    <span class="file-cta">
							      <span class="file-icon">
							        <i class="fas fa-paperclip"></i>
							      </span>
							      <span class="file-label">
 							       Signed Letter
							      </span>
							    </span>
							  </label>
								{{form.event_id(hidden='True', value = event.id)}}
								{{form.submit(class_='button is-success')}}
							</div>						
	    			  </form>
	    			</div>
	    		</div>
	    			{% endif %}	
	    			{% if event.status=='S' %}
	    			<div class="columns">
	    				<div class="column">
	    					<a href="" class="level-item">
			  					<button class="button is-info"><span class="icon is-small"><i class="fas fa-times"></i></span>&nbsp Reschedule</button>
							</a>
	    				</div>
	    				<div class="column">
	    					<a href="" class="level-item">
			  					<button class="button is-danger"><span class="icon is-small"><i class="fas fa-times"></i></span>&nbsp Cancel</button>
							</a>
	    				</div>
	    			</div>
	    			{% endif %}
    		</footer>
	  		</div>
	</div>