{% extends "linkages-base.html" %}

{% block content %}
		<style>
			.hero{
				background-color: #e6e6e6;
			}

			.box.white{
				transform: translateX(6%);
				width: 90%;
			}

			.fa-arrow-circle-left{
				color: #072000; 
			}

			.button.submit{
				background-color: #072000; 
				color: #ffb901;
				border-color: #072000;
			}
		</style>

	</head>
	<body>

		<section class="hero is-fullheight">
			<div class="hero-body">
			    <div class="box white is-white">
			    	<form action="" method="POST">
			    		{{form.hidden_tag()}}
					    <div class="columns">
					      	<div class="column">
					      		<article class="media">
									<figure class="media-left">
									    <a class="btn btn-follow btn-sm text-center" href="#" role="button">
											<span class="back-icon">
									  			<i class="fas fa-arrow-circle-left icon is-medium"></i>
									  		</span>
									  	</a>
									</figure>
								  
								  	<div class="media-right has-text-weight-bold">
								   		<p class="subtitle has-text-weight-bold">Propose</p>
								 	</div>
								</article>
					      	</div>
					    </div>

				        <div class="columns">
					      	<div class="column">
					      		<p class="title has-text-centered">Outreach Activity Proposal Form</p>
					      	</div>
				     	</div>

				     	<div class="columns">
							<div class="column">
								 <div class="field">
							        {{form.title.label(class_='label')}}
						            <div class="control">
						            	{{form.title(class_='input')}}
						            </div>
						        </div>
							</div>
						</div>

						<div class="columns">
							<div class="column">
								 <div class="field">
							        {{form.event_date.label(class_='label')}}
						            <div class="control">
						            	{{form.event_date(class_='input', type='date')}}
						            </div>
						        </div>
							</div>

							<div class="column">
								 <div class="field">
							        {{form.location.label(class_='label')}}
						            <div class="control">
						            	{{form.location(class_='input')}}
						            </div>
						        </div>
							</div>

						</div>

						<div class="columns">
							<div class="column">
								 <div class="field">
							        {{form.description.label(class_='label')}}
						            <div class="control">
						            	{{form.description(class_='input')}}
						            </div>
						        </div>
							</div>
						</div>


						<div class="columns">
					      	<div class="column">
					         	<div class="field">
							        <label class="label">Target Partner/s</label>
						            <div class="control">
						            	<input class="input" type="text" data-validate="require">
						            </div>
					          	</div>
					        </div>

					      	<div class="column">
					         	<div class="field">
							        <label class="label">Target Beneficiaries</label>
						            <div class="control">
						            	<input class="input" type="text" data-validate="require">
						            </div>
					          	</div>
					        </div>

						</div>

						<div class="columns">
							<div class="column">
								<div class="field">
							        {{form.category.label(class_='label')}}
						            <div class="control">
						              	{{form.category(class_='input')}}
						            </div>
						        </div>
							</div>

							<div class="column">
								<div class="field">
									{{form.objective.label(class_='label')}}
						            <div class="control">
										{{form.objective(class_='input')}}
									</div>
						        </div>
							</div>

							<div class="column">
								<div class="field">
									{{form.budget.label(class_='label')}}
						            <div class="control">
										{{form.budget(class_='input')}}
									</div>
						        </div>
							</div>
						</div>

						<hr>

						<label class="label">Resources (Please fill up all items)</label>
						<div class="columns">
							<div class="column">
								<div class="field">
									<label class="label">Human Resource</label>
						            <div class="control">
						              	<textarea class="textarea"></textarea>
						            </div>
						        </div>
							</div>

							<div class="column">
								<div class="field">
									<label class="label">Materials</label>
						            <div class="control is-expanded">
						              <textarea class="textarea"></textarea>
						            </div>
						        </div>
							</div>
						</div>

						<div class="columns">
							<div class="column">
								<div class="field">
									<label class="label">Estimated Budget</label>
						            <div class="control">
						              	<textarea class="textarea"></textarea>
						            </div>
						        </div>
							</div>

							<div class="column">
								<div class="field">
									<label class="label">Source of Fund</label>
						            <div class="control is-expanded">
						              <textarea class="textarea"></textarea>
						            </div>
						        </div>
							</div>
						</div>

						<div class="field is-grouped is-grouped-centered">
							<p class="control">
							    <a class="button previous">
							    	Cancel
							    </a>
							</p>
							<p class="control">
							  	{{form.submit(class_='button submit')}}
							</p>
						</div>

					</form>

				</div>
			</div>
		</section>
{% endblock %}