{% extends "linkages-base.html" %}	

{% block content %}

	<div class="notification gold">
		<div class="columns is-centered">
			<div class="column view-icons">
				<article class="media">
					<figure class="media-left"> 
				  		<a href="{{url_for('linkages.events_create')}}" class="button add">
								<i class="fa fa-plus-circle"></i>&nbsp Create
						</a>
			  			<a href="" class="button viewbtn is-active">
							<span class="icon">
								<i class="fa fa-list"></i>
							</span>
						</a>

						<a href="{{url_for('linkages.events_calendar')}}" class="button viewbtn">
							<span class="icon">
								<i class="fa fa-calendar-alt"></i>
							</span>
						</a>
					</figure>
				</article>
			</div>

			<div class="column">
				<div class="tabs proposal is-toggle is-toggle-rounded has-text-weight-bold is-centered">
				  <ul>
				    <li {% if status=='all' %} class="is-active" {% endif %}>
				      <a href="{{url_for('linkages.events', status='all', page='1',search=search)}}">
				        <span class="icon is-small"><i class="fas fa-list-ul" aria-hidden="true"></i></span>
				        <span class="proposal">All</span>
				      </a>
				    </li>
				    <li {% if status=='new' %} class="is-active" {% endif %}>
				      <a href="{{url_for('linkages.events', status='new', page='1',search=search)}}">
				        <span class="icon is-small"><i class="fas fa-calendar-plus" aria-hidden="true"></i></span>
				        <span class="proposal">New</span>
				      </a>
				    </li>
				    <li {% if status=='pending' %} class="is-active" {% endif %}>
				      <a href="{{url_for('linkages.events', status='pending', page='1',search=search)}}">
				        <span class="icon is-small"><i class="fas fa-file-signature" aria-hidden="true"></i></span>
				        <span class="proposal">Pending</span>
				      </a>
				    </li>
				    <li {% if status=='scheduled' %} class="is-active" {% endif %}>
				      <a href="{{url_for('linkages.events', status='scheduled', page='1',search=search)}}">
				        <span class="icon is-small"><i class="fas fa-calendar-alt" aria-hidden="true"></i></span>
				        <span class="proposal">Scheduled</span>
				      </a>
				    </li>
				    <li {% if status=='declined' %} class="is-active" {% endif %}>
				      <a href="{{url_for('linkages.events', status='declined', page='1',search=search)}}">
				        <span class="icon is-small"><i class="fas fa-calendar-minus" aria-hidden="true"></i></span>
				        <span class="proposal">Declined</span>
				      </a>
				    </li>
				    <li {% if status=='cancelled' %} class="is-active" {% endif %}>
				      <a href="{{url_for('linkages.events', status='cancelled', page='1',search=search)}}">
				        <span class="icon is-small"><i class="fas fa-calendar-times" aria-hidden="true"></i></span>
				        <span class="proposal">Cancelled</span>
				      </a>
				    </li>
				    <li {% if status=='finished' %} class="is-active" {% endif %}>
				      <a href="{{url_for('linkages.events', status='finished', page='1',search=search)}}">
				        <span class="icon is-small"><i class="fas fa-calendar-check" aria-hidden="true"></i></span>
				        <span class="proposal">Finished</span>
				      </a>
				    </li>
				  </ul>
				</div>
			</div>

			<div class="column search-box">
				<div class="field is-pulled-right has-addons has-addons-centered">
					<div class="control">
						<form action="" method="POST">
						{{form_search.hidden_tag()}}
				    		{{form_search.search(class_='input', placeholder='Search')}}
					</div>
					<p class="control">
				     	{{form_search.submit(class_='button search')}}
					</p>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="columns">

		<div class="column">
			<div class="card-header search-show">
				<p class="card-header-title">
					<span class="fas fa-poll-h"></span>&nbsp;
					{% if search!=' ' %}
					You searched for &nbsp;
					<span class="search-highlight">
						&nbsp;'{{search}}'
						<a href="{{url_for('linkages.events', status='all', page='1', search=' ')}}"><span class="fas fa-times-circle"></span></a>&nbsp;
					</span>
					&nbsp; in
					{% endif %}Events
				</p>
				<div class="is-pulled-right">
					<p class="card-header-title">
						Total: {{events.total}}
					</p>
				</div>
			</div>
			<div class="columns padding-el is-multiline">
				{% if events.items %}

						{% for event in events.items %}
							{% include 'linkages/events/_events.html' %}
						{% endfor %}

					{% else %}
					<table class="table is-fullwidth">
						<thead></thead>
					<tbody>

						<tr class = "table-row">
							<td class="has-text-centered">
								<div class='field has-text-centered'>
									<span class='tag is-warning is-large'>No results found</span>
								</div>
							</td>
					 	</tr>
						
					</tbody>
				</table>

				{% endif %}	
			</div>
		</div>	
	</div>
	{% if events.pages>1 %}
        <div class="card-content">
	<nav class="pagination" role="navigation" aria-label="pagination">
		<a class="pagination-previous"  {% if events.has_prev %}  href="{{url_for('linkages.events', search=search, page=events.prev_num|string)}}"{% else %} disabled {% endif %}>Previous</a>
		<a class="pagination-next" {% if events.has_next %} href="{{url_for('linkages.events', search=search, page=events.next_num|string)}}" {% else %} disabled {% endif %}>Next page</a>
		<ul class="pagination-list">
			Page {{events.page}} of {{events.pages}}
		</ul>
	</nav>
</div>
	{% endif %}
{% endblock %}