{% extends "linkages-base.html" %}

{% block content %}

	<div class="container has-text-centered">
			<a class="btn btn-follow btn-sm text-center" href="{{url_for('linkages.event_conduct', id=id)}}" role="button">
			<span class="back-icon">
				<i class="fas fa-arrow-circle-left fa-2x"></i>
			</span>
			</a>
		<p class='title'>Sample Stream</p>
		<video id='video' autoplay></video>
		<br>
	</div>

<script>
const mediaSource = new MediaSource();
let mediaRecorder;
let recordedBlobs;
let sourceBuffer;

window.onload = async function(){
	const constraints = {
    audio: {
      echoCancellation: true
    },
    video: {
      width: 1280, height: 720
    }
  };
  await init(constraints);
  startRecording();
  setTimeout(download, 6000);
 }

async function init(constraints) {
  try {
    const stream = await navigator.mediaDevices.getUserMedia(constraints);
    capture(stream);
  } catch (e) {
    console.error('navigator.getUserMedia error:', e);
  }
}

function capture(stream) {
  console.log('getUserMedia() got stream:', stream);
  window.stream = stream;

  const video = document.getElementById('video');
  video.srcObject = stream;
}

function startRecording() {
  recordedBlobs = [];
  let options = {mimeType: 'video/webm;codecs=vp9'};
  if (!MediaRecorder.isTypeSupported(options.mimeType)) {
    console.error(`${options.mimeType} is not Supported`);
    errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
    options = {mimeType: 'video/webm;codecs=vp8'};
    if (!MediaRecorder.isTypeSupported(options.mimeType)) {
      console.error(`${options.mimeType} is not Supported`);
      errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
      options = {mimeType: 'video/webm'};
      if (!MediaRecorder.isTypeSupported(options.mimeType)) {
        console.error(`${options.mimeType} is not Supported`);
        errorMsgElement.innerHTML = `${options.mimeType} is not Supported`;
        options = {mimeType: ''};
      }
    }
  }

  try {
    mediaRecorder = new MediaRecorder(window.stream, options);
  } catch (e) {
    console.error('Exception while creating MediaRecorder:', e);
   	return;
  }

  console.log('Created MediaRecorder', mediaRecorder, 'with options', options);
  mediaRecorder.onstop = (event) => {
    console.log('Recorder stopped: ', event);
  };
  mediaRecorder.ondataavailable = handleDataAvailable;
  mediaRecorder.start(10); // collect 10ms of data
  console.log('MediaRecorder started', mediaRecorder);
}

function handleSourceOpen(event) {
  console.log('MediaSource opened');
  sourceBuffer = mediaSource.addSourceBuffer('video/webm; codecs="vp8"');
  console.log('Source buffer: ', sourceBuffer);
}

function handleDataAvailable(event) {
  if (event.data && event.data.size > 0) {
    recordedBlobs.push(event.data);
  }
}	

function download(){
  const blob = new Blob(recordedBlobs, {type: 'video/webm'});
  const url = window.URL.createObjectURL(blob);
  const a = document.createElement('a');
  a.style.display = 'none';
  a.href = url;
  a.download = 'test.webm';
  document.body.appendChild(a);
  a.click();
  setTimeout(() => {
    document.body.removeChild(a);
    window.URL.revokeObjectURL(url);
  }, 100);

}

</script>

<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>

{% endblock %}