{% extends "admin-base.html" %}

{% block content %}
			<div class="notification gold">
				<div class="columns is-centered">
					<div class="column is-8">
						<div class="tab-center">
							<div class="tabs feedbacks is-toggle is-toggle-rounded has-text-weight-bold is-right">
							  	<ul>
								    <li>
								      <a href="">
								        <span class="icon is-small"><i class="fas fa-list-ul" aria-hidden="true"></i></span>
								        <span class="proposal">All</span>
								      </a>
								    </li>
								    <li>
								      <a href="">
								        <span class="icon is-small"><i class="fas fa-comment-dots" aria-hidden="true"></i></span>
								        <span class="proposal">New</span>
								      </a>
								    </li>
								    <li>
								      <a href="">
								        <span class="icon is-small"><i class="fas fa-reply" aria-hidden="true"></i></span>
								        <span class="proposal">Replied</span>
								      </a>
								    </li>
								    <li>
								      <a href="">
								        <span class="icon is-small"><i class="fas fa-comment-slash" aria-hidden="true"></i></span>
								        <span class="proposal">Ignored</span>
								      </a>
								    </li>
							  	</ul>
							</div>
						</div>
					</div>

					<div class="column search-box">
						<div class="field has-addons is-pulled-right has-addons-centered">
							<div class="control">
							    <input class="input" type="text" placeholder="Search">
							</div>
							<p class="control">
							    <a class="button search">
							      Search
							    </a>
							</p>
						</div>
					</div>
				</div>
			</div>


			<div class="columns is-gapless">
				<div class="column">
					<div class="card list">
						<div class="card-header">
							<p class="card-header-title">Feedbacks</p>
						</div>
						<div class="card-content">
							<div class="table-responsive">
								<table class="table is-fullwidth">
									<thead>
										<tr>
											<th class="newlist">ID</th>
										    <th class="newlist">Name</th>
										    <th class="newlist">Date</th>
										    <th class="newlist hidedesktop">Actions</th>
										 </tr>
										
									</thead>
									<tbody>
										<tr class="table-row">
											<td>1</td>
										    <td>Ivan Jaminal</td>
										    <td>01-15-19</td>
											<td>
												<a class="button is-warning tooltip" data-tooltip="View" href="">
													<span class="icon">
														<i class="fa fa-eye"></i>
													</span>
												</a>
												<a class="button is-danger tooltip" data-tooltip="" href="">
													<span class="icon">
														<i class="fa fa-archive">
														</i>
													</span>
												</a>
											</td>
										</tr>	
									</tbody>
								</table>
							</div>
						</div>
					</div>	
				</div>
			</div>

	
{% endblock %}