{% extends "admin-base.html" %}

{% block content %}

		<div class="panel panel-default">
			<div class="button-back">
				<a href="{{ url_for('admin.communities', status='all', page='1', search=' ') }}" class = "button backbtnprof">
					<span class="icon is-small">
                		<i class="fas fa-arrow-alt-circle-left"></i>
					</span>
					<span>Back</span>
				</a>
			</div>
		    <div class="overlay-card has-text-centered">
		    	<div class="circular">
		    		<img src="../../../static/images/user-default.png">
		    	</div>
		        
		        <div class="row has-text-centered">
		            <p class="has-text-white is-size-4 has-text-weight-bold">{{community.address}}</p>
		            <a class="btn btn-follow is-size-6 btn-sm text-center has-text-white" href="#" role="button">{{community.email_address}}</a>
		            <p class="has-text-white is-size-6"> Last active on {{community.last_active.strftime('%b %e, %Y at %I:%M %p')}} </p>
		        </div>
		    </div>
		</div>

		<nav class="level is-mobile">
			<div class="level-item has-text-centered">
			    <div class="active-prof-nav">
			      	<a class="menu prof-icon" id = "info" onclick = "event_pages(this.id)">
			      		<p class="icon">
					      	<span class="icon">
					      		<i class="fas fa-user fa-2x prof"></i>
					      	</span>
					    </p>
			     	 	<p class="is-size-6 has-text-weight-bold ">About</p>
			  	  	</a>
			    </div>
			</div>

			<div class="level-item has-text-centered">
			    <div class="active-prof-nav">
			    	<a class="menu prof-icon" id = "tracker" onclick = "event_pages(this.id)">
				      	<p class="icon">
					      	<span class="icon">
					      		<i class="fas fa-calendar-alt fa-2x""></i>
					      	</span>
					    </p>
				      	<p class="is-size-6 has-text-weight-bold">Events Attended</p>
				    </a>
			    </div>
			</div>

			<div class="level-item has-text-centered">
			    <div class="active-prof-nav">
			    	<a class="menu prof-icon" id = "participants" onclick = "event_pages(this.id)">
				      	<p class="icon">
					      	<span class="icon">
					      		<i class="fas fa-users fa-2x"></i>
					      	</span>
					    </p>
				      	<p class="is-size-6 has-text-weight-bold">Members</p>
				    </a>
			    </div>
			</div>
		</nav>

		<section class="hero">
			<div class="hero-body">
			    <div class="container" id="info_div">
			      	<div class="card">
						<header class="card-header has-background-light">
						    <p class="card-header-title">
						    	Community Information
						    </p>
					  	</header>
					  	<div class="card-content profile">
							<div class="panel-block">
						    	<article class="media">
									<figure class="media-left">
										<span><i class="fas fa-map-marker-alt prof-panel-icon"></i></span>
							    		<p>Address</p>
							  		</figure>
							  		<div class="media-content">
							   			<div class="content">
							      			<p>
							        			<strong>{{community.address}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>

							<div class="panel-block">
						    	<article class="media">
									<figure class="media-left">
										<span><i class="fas fa-user prof-panel-icon"></i></span>
							    		<p>Outreach Coordinator</p>
							  		</figure>
							  		<div class="media-content">
							   			<div class="content">
							      			<p>
							        			<strong>{{community.first_name}} {{community.middle_name}} {{community.last_name}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>

						  	<div class="panel-block">
						    	<article class="media">
							  		<figure class="media-left">
							  			<span><i class="fas fa-phone prof-panel-icon"></i></span>
							    		<p>Telephone</p>
							  		</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							      				{% if community.telephone=='' %}
					                            <strong>N/A</strong>
					                            {% else %}
					                            <strong>{{community.telephone}}</strong>
					                            {% endif %}
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>

						  	<div class="panel-block">
						     	<article class="media">
							  		<figure class="media-left">
							  			<span><i class="fas fa-mobile prof-panel-icon"></i></span>
							    		<p>Mobile</p>
							    	</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							      				{% if community.mobile_number=='' %}
					                            <strong>N/A</strong>
					                            {% else %}
							        			<strong>{{community.mobile_number}}</strong>
					                            {% endif %}
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>
						  	{% if mem_since %}
						  	<div class="panel-block">
						     	<article class="media">
							  		<figure class="media-left">
							  			<span><i class="fas fa-user-clock prof-panel-icon"></i></span>
							    		<p>Member Since</p>
							    	</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							        			<strong>{{mem_since.date_created.strftime('%b %e, %Y')}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>
						  	{% endif %}
						  	<div class="panel-block">
						     	<article class="media">
							  		<figure class="media-left">
							  			<span><i class="fas fa-users-cog prof-panel-icon"></i></span>
							    		<p>Status</p>
							    	</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							        			<strong>{{community.status}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>
						</div>
					</div>
			    </div>

			    <div class="container hidden" id="tracker_div">
			      	<div class="card">
						<header class="card-header has-background-light">
						    <p class="card-header-title">
						    	Events Attended
						    </p>
					  	</header>
					  	<div class="card-content profile">
							<div class="panel-block">
						    	<article class="media">
									<figure class="media-left">
							    		<p>Address</p>
							  		</figure>
							  		<div class="media-content">
							   			<div class="content">
							      			<p>
							        			<strong>{{community.address}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>

							<div class="panel-block">
						    	<article class="media">
									<figure class="media-left">
							    		<p>Outreach Coordinator</p>
							  		</figure>
							  		<div class="media-content">
							   			<div class="content">
							      			<p>
							        			<strong>{{community.first_name}} {{community.middle_name}} {{community.last_name}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>

						  	<div class="panel-block">
						    	<article class="media">
							  		<figure class="media-left">
							    		<p>Telephone</p>
							  		</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							        			<strong>{{community.telephone}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>

						  	<div class="panel-block">
						     	<article class="media">
							  		<figure class="media-left">
							    		<p>Mobile</p>
							    	</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							        			<strong>{{community.mobile_number}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>
						  	{% if mem_since %}
						  	<div class="panel-block">
						     	<article class="media">
							  		<figure class="media-left">
							    		<p>Member Since</p>
							    	</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							        			<strong>{{mem_since.date_created.strftime('%b %e, %Y')}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>
						  	{% endif %}
						  	<div class="panel-block">
						     	<article class="media">
							  		<figure class="media-left">
							    		<p>Status</p>
							    	</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							        			<strong>{{community.status}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</div>
						</div>
					</div>
			    </div>

			    <div class="container hidden" id="participant_div">
			      	<div class="card">
						<header class="card-header has-background-light">
						    <p class="card-header-title">
						    	Members
						    </p>
					  	</header>
					  	<div class="card-content profile"> 
					  		<div class="table-responsive">
								<table class="table is-striped is-hoverable is-fullwidth">
									{% if members %}
									<thead>
										<tr>
										    <th class="newlist">Name</th>
										    <th class="newlist">Address</th>
										    <th class="newlist">Occupation</th>
										    <th class="newlist">Status</th>
										 </tr>
										
									</thead>

										{% for member in members %}
											{% if member.member %}
												{% include 'admin/communities/_members.html' %}
											{% endif %}
										{% endfor %}

									{% else %}

									<tbody>

										<tr class = "table-row">
											<td class = "has-text-centered">---Nothing to show---</td>
									 	</tr>
										
									</tbody>

									{% endif %}
								</table>
							</div>
						</div>
					</div>
			    </div>
			</div>
		</section>
{% endblock %}