{% extends "admin-base.html" %}

{% block content %}

<div class="column">
    <div class="card box">
        <div class="card-header">
            <p class="card-header-title">Dashboard</p>
        </div><br>
        <div class="tile is-ancestor">
        	<div class="tile is-parent">
				<div class="tile is-child is-6">
					{{ events_chart.render().decode('utf-8')|safe }}
				</div>
				<div class="tile is-child is-6">
					{{ events_chart.render().decode('utf-8')|safe }}
				</div>
        	</div>
        </div>
    </div>
</div>
{% endblock %}