{% extends "registered-base.html" %}

{% block content %}
		<section class="hero is-primary is-medium">
          <div class="hero-body">
              <div class="container has-text-centered">
                <h1 class="title">
                    CONTACT US
                  </h1>
                  <h2 class="subtitle size is-6">
                    <strong>Phone Number:</strong>&nbsp 0966-705-7033<br>
                    <strong>Land Line:</strong>&nbsp 434-1234<br>
                    <strong>Email Address:</strong>&nbsp Recopcomex@yahoo.com
                  </h2>
              </div>
           </div>
      </section>
        <br>
      <div class="container"> 
          <div class="columns is-centered">
              <div class="column is-8">
                <div class="box">
                    <div class="field">
                      <div class="control">
                          <input class="input" type="text" placeholder="Name">
                      </div>
                  </div>
                    <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="Email Address">
                        </div>
                    </div>
                    <div class="field">
                        <div class="control">
                          <input class="input" type="text" placeholder="Contact Number">
                        </div>
                    </div>
                  <div class="field is-horizontal">
                        <div class="field-label is-normal">
                          <label class="label">Question</label>
                        </div>
                        <div class="field-body">
                            <div class="field">
                              <div class="control">
                                <textarea class="textarea" placeholder="Explain how we can help you"></textarea>
                              </div>
                            </div>
                      </div>
                  </div>
                  <div class="control has-text-right">
                        <button class="button is-primary">
                            Send message
                        </button>
                    </div>
              </div>
              </div>
          </div>
        </div>

{% endblock %}