{% extends "linkages-base.html" %}

{% block content %}

	<div class="notification gold">
		<div class="columns is-centered">
			<div class="column">
				<a href="{{url_for('communities.referral_users')}}" class="button refer is-warning">
	            	<span class="has-text-weight-bold">Do you know someone can help us?</span>
	            </a>
			</div>
			<div class="column search-box">
				<div class="field has-addons has-addons-centered is-pulled-right">
					<p class="control">
					    <input class="input" type="text" placeholder="Search">
					</p>
					<p class="control">
					    <a class="button search">
					      Search
					    </a>
					</p>
				</div>
			</div>
		</div>
	</div>

	<!--  -->
	<div class="columns">
		<div class="column">
			<div class="columns padding-el is-multiline">
				<table class="table is-fullwidth">
					<tbody>

						<tr class = "table-row">
							<td class = "has-text-centered">---Nothing to show---</td>
					 	</tr>
						
					</tbody>
				</table>
			</div>
		</div>
	</div>

		





{% endblock %}