{% extends "linkages-base.html" %}

{% block content %}

		<div class="notification gold">
			<div class="columns is-centered">
				<div class="column search-box">
					<div class="field has-addons has-addons-centered is-pulled-right">
						<p class="control">
						    <input class="input" type="text" placeholder="Search">
						</p>
						<p class="control">
						    <a class="button search">
						      Search
						    </a>
						</p>
					</div>
				</div>
			</div>
		</div>

<!--  -->
<div class="container">
 	<div class="columns padding">
 		<div class="column is-one-quarter">
 			<div class="card select-list has-text-centered">
 				<div class="card-image">
 					<div class="level">
 						<div class="level-item">
 							<img class="picture" src="../../../static/images/beneficiary.jpg">					
 						</div>
 					</div>
 				</div>
 				<div class="card-content">
 					<div class="title is-5">Barangay 11 Lawin</div>
        			<p class="subtitle is-7 has-text-grey">San Roque Cavite City</p>
 					<div class="button event-btn">More Details</div> 
 				</div>
 			</div>
 		</div>
 		<div class="column is-one-quarter">
 			<div class="card select-list has-text-centered">
 				<div class="card-image">
 					<div class="level">
 						<div class="level-item">
 							<img class="picture" src="../../../static/images/beneficiary.jpg">					
 						</div>
 					</div>
 				</div>
 				<div class="card-content">
 					<div class="title is-5">Barangay 11 Lawin</div>
        			<p class="subtitle is-7 has-text-grey">San Roque Cavite City</p>
 					<div class="button event-btn">More Details</div> 
 				</div>
 			</div>

 		</div>

	 </div>
 </div>




{% endblock %}