{% extends "linkages-base.html" %}

{% block content %}

		<div class="notification gold">
			<div class="columns">
				<div class="column">
					<article class="media">
						<figure class="media-left">
						   	<p class="has-text-black has-text-weight-bold">Filter by:</p>
						</figure>
						<div class="media-content">
						    <div class="content">
							    <div class="field-body">
									<div class="field is-narrow">
									    <div class="control">
									        <div class="select is-fullwidth">
									          <select>
									          	<option>Select Category</option>
									            <option>Spiritual</option>
									            <option>Education</option>
									            <option>Health</option>
									            <option>Livelihood</option>
									            <option>Environmental</option>
									            <option>Socio-Political Concerns</option>
									          </select>
									        </div>
									    </div>
									</div>
								</div>
						    </div>    
						</div>
					</article>
				</div>

				<div class="column">
					
				</div>

				<div class="column">
					<div class="field has-addons has-addons-centered">
						<p class="control">
						    <input class="input" type="text" placeholder="Search">
						</p>
						<p class="control">
						    <a class="button search">
						      Search
						    </a>
						</p>
					</div>
				</div>
			</div>
		</div>

<!--  -->
<br>
<div class="container">
    <div class="columns is-centered">
        
            <div class="column is-4">
                <div class="post-module">
            <!-- Thumbnail-->
                    <div class="thumbnail">
                        <img class = "images" src="../../static/images/beneficiary.jpg" />
                    </div>
            <!-- Post Content-->
                        <div class="post-content">
                            <div class="category">Adopted Barangay</div>
                                <h1 class="title">Barangay 11 Lawin</h1>
                                    <p class="description">LOCATION:</p>
                                    <p class="description">CONTACT:</p> 
                        </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="post-module">
            <!-- Thumbnail-->
                    <div class="thumbnail">
                        <img class = "images" src="../../static/images/pic1.jpg" />
                    </div>
            <!-- Post Content-->
                        <div class="post-content">
                           <div class="category">Adopted Barangay</div>
                                <h1 class="title">Barangay 11 Lawin</h1>
                                    <p class="description">LOCATION:</p>
                                    <p class="description">CONTACT:</p> 

                        </div>
                </div>
            </div>
            <div class="column is-4">
                <div class="post-module">
            <!-- Thumbnail-->
                    <div class="thumbnail">
                        <img class = "images" src="../../static/images/pic1.jpg" />
                    </div>
            <!-- Post Content-->
                        <div class="post-content">
                            <div class="category">Adopted Barangay</div>
                                <h1 class="title">Barangay 11 Lawin</h1>
                                    <p class="description">LOCATION:</p>
                                    <p class="description">CONTACT:</p> 
                        </div>
                </div>
            </div>
       

    </div>
</div>

<script type = "text/javascript" src="../../../static/scripts/jquery11_2.min.js"></script>
</body>
<script type="text/javascript">
	$(window).load(function() {
  $('.post-module').hover(function() {
    $(this).find('.description').stop().animate({
      height: "toggle",
      opacity: "toggle"
    }, 300);
  });
});
</script>

		
{% endblock %}