{% extends "unregistered-base.html" %}

{% block content %}
		<div class="columns">
			<div class="column is-2">
				<aside class="menu">
					<ul class="menu-list">
						<li>
							<a><strong>Events</strong></a>
							<ul>
								<li><a>Education</a></li>
								<li><a>Environmental</a></li>
								<li><a>Health</a></li>
								<li><a>Livelihood</a></li>
								<li><a>Sociopolitical</a></li>
								<li><a>Spiritual</a></li>
							</ul>
						</li>
				</aside>
			</div>
		</div>
{% endblock %}