{% extends "unregistered-base.html" %}

{% block content %}
<section class="hero">
			<div class="notification gold">
				<div class="columns">
					<div class="column is-2">
						

						<a href="" class="button eventbtn is-active">
							<span class="icon">
								<i class="fa fa-list"></i>
							</span>
						</a>

						<a href="" class="button eventbtn">
							<span class="icon">
								<i class="fa fa-calendar-alt"></i>
							</span>
						</a>
					</div>

					<div class="column">
						<article class="media">
							<figure class="media-left">
							   	<p class="has-text-black has-text-weight-bold">Filter by:</p>
							</figure>
							<div class="media-content">
							    <div class="content">
								    <div class="field-body">
										<div class="field is-narrow">
										    <div class="control">
										        <div class="select is-fullwidth">
										          <select>
										          	<option>Select Category</option>
										            <option>Spiritual</option>
										            <option>Education</option>
										            <option>Health</option>
										            <option>Livelihood</option>
										            <option>Environmental</option>
										            <option>Socio-Political Concerns</option>
										          </select>
										        </div>
										    </div>
										</div>
									</div>
							    </div>    
							</div>
						</article>
					</div>

					<div class="column is-2">
						<div class="field has-addons has-addons-centered">
							<p class="control">
							    <input class="input" type="text" placeholder="Search">
							</p>
							<p class="control">
							    <a class="button search">
							      Search
							    </a>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="hero-body">
				<div class="box white is-white">
					<div class="column">
						<div class="card-header">
							<p class="card-header-title">Events</p>
						</div>
						<div class="card-content">
							<table class="table is-fullwidth">
								<thead>
									<tr>
										
									    <th class="newlist">Name</th>
									    <th class="newlist">Description</th>
									    <th class="newlist">Venue</th>
									    <th class="newlist">Event Date</th>
									    
									 </tr>
									
								</thead>
								<tbody>
									<tr class="table-row">
										
									    <td>E-environment</td>
									    <td>Tree planting</td>
									    <td>San Sebastian College-Recoletos de Cavite City</td>
									    <td>January 21, 2019</td>
										
									</tr>	
								</tbody>
							</table>
						</div>
					</div>	
				</div>
			</div>
		</section>

{% endblock %}