{% extends "unregistered-base.html" %}

{% block content %}

  <div class="cd-fixed-bg cd-bg-1">
       
  </div>


<!-- CAROUSEL AUTOPLAY START -->
<div class="container padding">
  <div class="card">
    <div class="card-content">
      <div class="columns">
        <div class="column is-5">
          <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
              <div class='carousel-container'>
              <!-- CAROUSEL ITEMS -->
                <div class='carousel-item has-background'>
                    <img class="is-background" src="../../../static/images/beneficiary.jpg" alt="" width="640" height="310" />
                  </div>

                  <div class='carousel-item has-background'>
                    <img class="is-background" src="../../../static/images/volunteer.jpg" alt="" width="640" height="310" />
                </div>

                <div class='carousel-item has-background'>
                    <img class="is-background" src="../../../static/images/pic4.jpg" alt="" width="640" height="310" />
                </div>
                  
                  <div class='carousel-item has-background'>
                    <img class="is-background" src="../../../static/images/beneficiary.jpg" alt="" width="640" height="310" />
                    </div>
                </div>
          </div>
        </div>
<br>
<!--CAROUSEL AUTOPLAY ENDS  -->

<!-- RECOPCOMEX DETAILS START -->
        <div class="column">
          <a class="title is-2 has-text-grey" href="../">Re-COP ComEx</a>
              <br><br>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
<br><br>
              Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
            </p>        
        </div>
      </div>
    </div>
  </div>
</div>
<BR>




<!-- EVENTS AND SERVICES START -->
  <div class="notification is-light has-text-grey">
    <h1 class="has-text-centered title is-3">EVENTS AND SERVICES</h1>
  </div>
  <br>
  
  <div class="container padding_home">
    <div class="columns is-centered padding">
      <div class="column is-4">  
        <div class="card">
          <div class="content">
            <div class="content-overlay"></div>
              <img class="image_home" src="../../static/images/beneficiary.jpg"> 
                <div class="content-details">
                  <h5 class="button is-primary is-outlined is-inverted">Learn more</h5>
                </div>
          </div>
        </div>
  
      <div class="card">
        <h1 class="has-text-centered notification is-light has-text-grey title is-5">Outreach Activities</h1>
      </div>    
      
      <div class="card">
        <div class="card-content">  
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam 
          </p>
        </div>
      </div>
    </div>
          
    <div class="column is-4">  
      <div class="card">
        <div class="content">
          <div class="content-overlay"></div>
            <img class="image_home" src="../../static/images/volunteer.jpg"> 
              <div class="content-details">
                <h5 class="button is-primary is-outlined is-inverted">Learn more</h5>
              </div>
        </div>
      </div>
  
    <div class="card">
      <h1 class="has-text-centered notification is-light has-text-grey title is-5">Volunteer</h1>
    </div>    
  
    <div class="card">
      <div class="card-content">  
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam 
        </p>
      </div>
    </div>
  </div>

  <div class="column is-4">  
    <div class="card">
      <div class="content">
        <div class="content-overlay"></div>
          <img class="image_home" src="../../static/images/pic4.jpg"> 
            <div class="content-details">
              <h5 class="button is-primary is-outlined is-inverted">Learn more</h5>
            </div>
      </div>
    </div>
  
    <div class="card">
      <h1 class="has-text-centered notification is-light has-text-grey title is-5">Community Services</h1>
    </div>    
  
    <div class="card">
      <div class="card-content">  
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam 
      </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<br>
<br>

<!-- EVENTS AND SERVICES ENDS -->


<!-- WHO WE ARE START -->  
<section class="hero is-dark">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-4">
            <h1 class="title is-3">Who we are</h1>
          <span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </span>
           <br>
            <br>
            <a class="button is-light is-rounded is-outlined" href="../">Learn more</a>
        </div>
        <div class="column is-4">
            <h1 class="title is-3">Be a Volunteer</h1>
          <span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </span>
           <br>
            <br>
            <a class="button is-light is-rounded is-outlined" href="../">Learn more</a>
        </div>
        <div class="column is-4">
            <h1 class="title is-3">Get Information</h1>
          <span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </span>
           <br>
            <br>
            <a class="button is-light is-rounded is-outlined " href="../">Learn more</a>
        </div>
      </div>  
    </div>
  </div>
</section>


{% endblock %}
