{% extends "unregistered-base.html" %}

{% block content %}

  <div class="cd-fixed-bg cd-bg-1">
    <div class="card notif">
      <div class="card-content">
        <h1 class="title is-3 has-text-centered has-text-light">"Together we can YES WE CAN!!"</h1>
     </div> 
    </div> 
  </div>


<!-- CAROUSEL AUTOPLAY START -->
<div class="container padding">
	<div class="card">
		<div class="card-content">
      <div class="columns">
				<div class="column is-5">
					<div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
  						<div class='carousel-container'>
    					<!-- CAROUSEL ITEMS -->
    						<div class='carousel-item has-background'>
      							<img class="is-background" src="../../../static/images/beneficiary.jpg" alt="" width="640" height="310" />
         					</div>

      						<div class='carousel-item has-background'>
      							<img class="is-background" src="../../../static/images/volunteer.jpg" alt="" width="640" height="310" />
    						</div>

    						<div class='carousel-item has-background'>
      							<img class="is-background" src="../../../static/images/pic4.jpg" alt="" width="640" height="310" />
    						</div>
        					
        					<div class='carousel-item has-background'>
         						<img class="is-background" src="../../../static/images/beneficiary.jpg" alt="" width="640" height="310" />
          					</div>
      					</div>
					</div>
				</div>
<br>
<!--CAROUSEL AUTOPLAY ENDS  -->

<!-- RECOPCOMEX DETAILS START -->
				<div class="column">
					<a class="title is-2" href="../">Re-COP ComEx</a>
        			<br><br>
        			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
       				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
       				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
       				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
       				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.		
    				</p>				
				</div>
			</div>
		</div>
	</div>
</div>
<BR>


<!-- EVENTS AND SERVICES START -->
<div class="container padding_home">

     <h1 class="has-text-centered notification is-light has-text-grey title is-4">EVENTS AND SERVICES</h1>
            
        <div class="columns is-centered">
          <div class="column is-4"> 
            
            <div class="card">
          <div class="card-image">
            <figure class="image_home">
            <img src="../../static/images/beneficiary.jpg">
             <h1 class="has-text-centered notification is-light has-text-grey title is-4">Outreach Activities</h1>
             </figure>


          </div>

          <div class="card-content">
            <div class="content">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam 
            </p>
             
          <div class="content">
          <div class="button is-pulled-right is-rounded">Learn more</div>
          </div>
      </div>
      </div>

      </div>
          
      
          </div>
          
          <div class="column is-4">
           <div class="card">
          <div class="card-image">
            <figure class="image_home">
                <img src="../../static/images/volunteer.jpg">
                 <h1 class="has-text-centered notification is-light has-text-grey title is-4">Volunteer</h1>
            
            </figure>  
          </div>
           <div class="card-content">
            <div class="content">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam 
            </p>
             <div class="button is-pulled-right is-rounded">Learn more</div>
          </div>
          
      </div>
      
          
        </div>
          </div>
          
                <div class="column is-4">  
            <div class="card">
          <div class="card-image">
            <figure class="image_home">
            <img src="../../static/images/pic4.jpg">
             <h1 class="has-text-centered notification is-light has-text-grey title is-4">Community Services</h1>
            
             </figure> 
          </div>
            <div class="card-content">
            <div class="content">
           <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam 
            </p>
             <div class="button is-pulled-right is-rounded">Learn more</div>
          </div>
          
      </div>
      
          
        </div>
          </div>
          </div>
</div>

<br>
<br>

<!-- EVENTS AND SERVICES ENDS -->


<!-- WHO WE ARE START -->
<div class="card notification is-dark">
  <div class="card-content">
    <div class="columns is-centered"> 
        <div class="column is-3">
            <h1 class="title is-3">Who we are</h1>
          <span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo

              consequat. 
            </span>
           <br>
            <br>
            <a class="button is-primary is-rounded" href="../">Learn more</a>
        </div>
        
        <div class="column is-3">
            <h1 class="title is-3">Be a volunteer</h1>
            <span>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo

              consequat. 
            </span>
           <br>
           <br>
            <a class="button is-primary is-rounded" href="../">Learn more</a> 
        </div>
        
        <div class="column is-3">
          <h1 class="title is-3">Get Information</h1>
          <span>
          It’s better when more people know about the great things happening at RECOP COMEX. If you’d like to get a monthly message about our activities, &nbsp;<a class="title is-6 primary">Sign up here</a>
          </span>
          <br>
          <br>
          <a class="button is-primary is-rounded" href="../">Learn more</a>
        </div>        
    </div>
  </div>
</div>

<!-- WHO WE ARE ENDS -->

{% endblock %}