{% extends "unregistered-base.html" %}

{% block content %}

 
  <div class="cd-fixed-bg cd-bg-1">
      <h1 class="container-h1">Welcome to ReCOP-ComEx</h1>

 <!--  <label class="label center-label is-1 has-text-light">"Bringing Hope to the Community"</label>
 -->
<div class="getstarted">
      <button class="button title is-6 is-large getstarted">GET STARTED</button>
  </div>
  </div>

   <div class="notification title has-text-centered is-light has-text-grey title-home">
      About Us
  </div>

<!-- CAROUSEL AUTOPLAY START -->
  <div class="container padding">
      <div class="columns padding">
        <div class="column is-6">
          <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
              <div class='carousel-container'>
              <!-- CAROUSEL ITEMS -->
                <div class='carousel-item has-background'>
                    <img class="is-background" src="../../../static/images/c1.jpg" alt="" width="60" height="310" />
                  </div>

                  <div class='carousel-item has-background'>
                    <img class="is-background" src="../../../static/images/c2.jpg" alt="" width="640" height="310" />
                </div>

                <div class='carousel-item has-background'>
                    <img class="is-background" src="../../../static/images/c3.jpg" alt="" width="640" height="310" />
                </div>
                  
                  <div class='carousel-item has-background'>
                    <img class="is-background" src="../../../static/images/c4.jpg" alt="" width="640" height="310" />
                    </div>
                </div>
          </div>
        </div>
<br>
<!--CAROUSEL AUTOPLAY ENDS  -->

<!-- RECOPCOMEX DETAILS START -->
        
        <div class="column label-home">
          <div class="title label-home has-text-centered notification is-light has-text-grey">The ReCOP-ComEx</div>
          
              <p>The Recoletos de Cavite Community Outreach Program - Community Extension Mobile Responsive Website is a mobile responsive web base application system that organize and facilitates relevant outreach programs and services conducted for the partner communities.  
                </p>
                <br>
                <p>
                  With the schools commitment to provide services to the community even beyond its walls, SSCR de Cavite through the Re-COP Office commits itself to develop for the transformation and development of the community.
                </p>
                     
        </div>
      </div>
    </div>
 
<BR>




<!-- EVENTS AND SERVICES START -->
  
 <h1 class="title title-home has-text-grey has-text-centered notification has-text-light">What We Do</h1>
  <br>
  
  <div class="container padding_home">
    <div class="columns is-centered padding">
      <div class="column is-4">  
        <div class="card">
          <div class="content">
            <div class="content-overlay"></div>
              <img class="image_home" src="../../static/images/outreach activities.jpg"> 
                <div class="content-details">
                  <h5 class="button is-dark is-outlined is-inverted">Learn more</h5>
                </div>
          </div>
        </div>
  
      <div class="card">
        <h1 class="has-text-centered notification is-light has-text-grey title label-home">Outreach Activities</h1>
      </div>    
      
      <div class="card">
        <div class="card-content label-home">  
          <p>Conducted different outreach activities in the neigboring communities like school, foundation and orphanages to serve better those who are in need.
          </p>
        
        </div>
      </div>
    </div>
          
    <div class="column is-4">  
      <div class="card">
        <div class="content">
          <div class="content-overlay"></div>
            <img class="image_home" src="../../static/images/volunteer2.jpg"> 
              <div class="content-details">
                <h5 class="button is-dark is-outlined is-inverted">Learn more</h5>
              </div>
        </div>
      </div>
  
    <div class="card">
      <h1 class="has-text-centered notification is-light has-text-grey title label-home">Volunteer</h1>
    </div>    
  
    <div class="card">
      <div class="card-content label-home">  
        <p>
            Developed the spirit of volunteerism through different community outreach activities for the transformation and development of the community.
        </p>
      </div>
    </div>
  </div>

  <div class="column is-4">  
    <div class="card">
      <div class="content">
        <div class="content-overlay"></div>
          <img class="image_home" src="../../static/images/c2.jpg"> 
            <div class="content-details">
              <h5 class="button is-dark is-outlined is-inverted">Learn more</h5>
            </div>
      </div>
    </div>
  
    <div class="card">
      <h1 class="has-text-centered notification is-light has-text-grey title label-home">Community Services</h1>
    </div>    
  
    <div class="card">
      <div class="card-content label-home">  
      <p>
        Organize and facilitate relevant outreach programs and services for the formation and development of partner communities.
      </p>

      </div>
    </div>
  </div>
</div>
</div>
</div>

<br>


<!-- EVENTS AND SERVICES ENDS -->
 <h1 class="title title-home has-text-grey has-text-centered notification has-text-light">Upcoming Events</h1>
          
  <div class="container padding">
  <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                   Upcoming Events
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                 
                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Action</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                      <div class="container-donate">
                      <img class="donate" src="../../static/images/help now.jpg">
                      <div class="centered">JOIN&nbsp;US
                        <button class="button is-primary is-outlined is-inverted has-text-centered is-rounded" href="{{url_for('unregistered.donate')}}">DONATE NOW</button>
                      </div>


                    </div>
            </div>
          </div>
        </div>
        <br>

        <!--REFER SOMEONE  -->
        <h1 class="title title-home has-text-grey has-text-centered notification has-text-light">Refer someone</h1>
           <div class="container padding">
              
            <div class="columns is-centered has-text-centered padding"> 
              <div class="column is-4">
                <div class="card select-list">
                  <div class="card-content">
                    <div class="card-box notification is-light">
                      <h1 class="title is-1">1200</h1>
                        <span class="label has-text-grey">Volunteers</span>
                    </div>
                      <button class="button is-medium is-primary is-fullwidth">Refer Someone</button>
                  </div>
                </div>
              </div>
               <div class="column is-4">
                <div class="card select-list">
                  <div class="card-content">
                    <div class="card-box notification is-light">
                      <h1 class="title is-1">190</h1>
                        <span class="label has-text-grey">Communities</span>
                    </div>
                      <button class="button is-medium is-primary is-fullwidth">Refer Someone</button>
                  </div>
                </div>
              </div>
               <div class="column is-4">
                <div class="card select-list">
                  <div class="card-content">
                    <div class="card-box notification is-light">
                      <h1 class="title is-1">110</h1>
                        <span class="label has-text-grey">Partners</span>
                    </div>
                      <button class="button is-medium is-primary is-fullwidth">Refer Someone</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
<BR>
<br>
        <!--REFER SOMEONE END -->

<div class="cd-fixed-bg3 cd-bg-3">
  </div>
<!-- WHO WE ARE START -->  

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container bottom">
      <div class="columns is-centered">
        <div class="column is-3">
            <h1 class="title has-text-left title-home">Who we are</h1>
            <p>
               We the ReCOP-ComEx organize and facilitate relevant outreach programs and services 
               to meet identified needs of the community and partner communities.
            </p>
           <br>
         
            <a class="button is-light is-rounded is-outlined " href="{{url_for('unregistered.signup_choose')}}">Learn more</a>
        </div>
        <div class="column is-3">
            <h1 class="title has-text-left title-home">Our Events</h1>
          <p>
             Different Outreach activities has been conducted for the formation and development of it's partner communities.
            </p>
           <br>
           <br>
          
            <a class="button is-light is-rounded is-outlined " href="{{url_for('unregistered.signup_choose')}}">Learn more</a>
        </div>
        <div class="column is-3">
            <h1 class="title has-text-left title-home">Get Involved</h1>
          <p>
              We'd love to hear from you about volunteering with ReCOP-ComEx join us and support our cause and get involved today!

            </p>
           
            <br>
            <br>
            <a class="button is-light is-rounded is-outlined " href="{{url_for('unregistered.signup_choose')}}">Learn more</a>
        </div>
      </div>  
    </div>
  </div>

</section>
<div class="cd-fixed-bg2 cd-bg-2">
  </div>

{% endblock %}
