{% extends "unregistered-base.html" %}

{% block content %}
<br>
<br>
	<div class="container">
		<div class="columns is-centered">
			<div class="column is-8">
				<!-- 1 -->
				<div class="card">
					<div class="card-content">
						<article class="media">
  								<figure class="media-left">
    								<p class="image is-128x128">
      									<img src="../../../static/images/Partners.png">
    								</p>
  								</figure>
  							<div class="media-content">
    							<div class="content">
      								<p>
        								<a class="title is-6" href="../">Department of Environment and Natural Resources</a>
        							<br>   
        								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
      								</p>
    							</div>
    				<!-- icons -->
	 				   <nav class="level is-mobile">
	      					<div class="level-left">
        						<a class="level-item">
          							<span class="icon is-small"><i class="fas fa-reply"></i></span>
        						</a>
        						<a class="level-item">
          							<span class="icon is-small"><i class="fas fa-retweet"></i></span>
        						</a>
        						<a class="level-item">
          							<span class="icon is-small"><i class="fas fa-heart"></i></span>
        						</a>
      						</div>
    					</nav>
  							</div>
  
						</article>
					</div>
				</div>
				<!-- 2 -->
				<div class="card">
					<div class="card-content">
						<article class="media">
  							
  							<figure class="media-left">
    							<p class="image is-128x128">
      								<img src="../../../static/images/gg.png">
    							</p>
  							</figure>
  						
  						<div class="media-content">
    						<div class="content">
      							<p>
        							<a class="title is-6" href="../">Global Giving</a>
        							<br>
        								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
      							</p>
    						</div>
    				<!-- icons -->
    					<nav class="level is-mobile">
      						<div class="level-left">
        						<a class="level-item">
          							<span class="icon is-small"><i class="fas fa-reply"></i></span>
        						</a>
        						<a class="level-item">
          							<span class="icon is-small"><i class="fas fa-retweet"></i></span>
        						</a>
        						<a class="level-item">
          							<span class="icon is-small"><i class="fas fa-heart"></i></span>
        						</a>
      						</div>
    					</nav>
  					</div>
					</article>
				</div>
			</div>	
				<!--3-->
					<div class="card">
						<div class="card-content">
							<article class="media">
  								
  								<figure class="media-left">
    								<p class="image is-128x128">
      									<img src="../../../static/images/Philippine-Medical.png">
    								</p>
  								</figure>
  								
  								<div class="media-content">
    								<div class="content">
     									<p>
        									<a class="title is-6" href="../">Philippine Medical Association<a class="title is-6" href="../"></a> 
        									<br>
        								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
      									</p>
    								</div>
    							<!--icons  -->
    							<nav class="level is-mobile">
      								<div class="level-left">
        								<a class="level-item">
          									<span class="icon is-small"><i class="fas fa-reply"></i></span>
        								</a>
        								<a class="level-item">
          									<span class="icon is-small"><i class="fas fa-retweet"></i></span>
        								</a>
        								<a class="level-item">
          									<span class="icon is-small"><i class="fas fa-heart"></i></span>
        								</a>
      								</div>
    							</nav>
  								</div>
							</article>
						</div>
					</div>

		</div>
	

<div class="column  has-text-centered">
	<div class=""></div>
</div>
</div>

<script type="text/javascript" src="jquery-2.0.0.min.js"></script>
<script type="text/javascript" src="owl.carousel.min.js"></script>
<script type="text/javascript" src="jquer.js"></script>

{% endblock %}