{% extends "unregistered-base.html" %}

{% block content %}
		<div class="columns">
			<div class="column">1</div>
			<div class="column">2</div>
			<div class="column">3</div>
			<div class="column">4</div>
			<div class="column">5</div>
		</div>

		<style type="text/css">
	/*body{
		background-color: #f3f3f3;
	}*/
	.green{
		background-color:#0d3105;
		color: #feb801;
		}

	.green:hover{
		color:#feb801;
		
	}

	.whitesmoke{
		background-color: #f3f3f3;
	}
	.white{
		background-color: #ffffff;
	}

</style>
<br>
		<div class="columns is-centered is-mobile">
			<div class="column is-7">
				<div class="card">
			    	<div class="card-content">
					    	<!-- <div class="column has-text-centered">
								<br>
								<img src="../../../static/images/logo.png" height="256" width="256">
							</div> -->
							
								<div class="field has-text-centered">
									<label class="title is-3">SIGN UP</label><br>
									<label class="size is-size-7 has-text-grey">Create Account</label>
								</div>
								<br>
								<div class="field">	
							<div class="columns" >					
								<div class="column is-4">
									<label class=" title is-6 ">First Name</label>
									<div class="control has-icons-left has-icons-right">
										<input class="input" type="text" placeholder="doodle@example.com">
									<span class="icon is-small is-left">
				      					<i class="fa fa-user"></i>
				    				</span>
									</div>
								</div>
								
								<div class="column is-4">
								<div class="field">						
							<label class="title is-6">Middle Name</label>
						<div class="control has-icons-left has-icons-right">
							<input class="input" type="text" placeholder="**********">
								<span class="icon is-small is-left">
			      					<i class="fa fa-user"></i>
			    				</span>
						</div>
					</div>
				</div>
				<div class="column">
								<div class="field">						
							<label class="title is-6">Last Name</label>
						<div class="control has-icons-left has-icons-right">
							<input class="input" type="text" placeholder="**********">
								<span class="icon is-small is-left">
			      					<i class="fa fa-user"></i>
			    				</span>
						</div>
					</div>
				</div>
			</div>

			<div class="columns">
				
						
						<div class="column is-half">
											
								<label class="title is-6">Username</label>
							<div class="control has-icons-left has-icons-right">
								<input class="input" type="text" placeholder="**********">
									<span class="icon is-small is-left">
				      					<i class="fa fa-key"></i>
				    				</span>
							</div>
						</div>	

						<div class="column">
											
								<label class="title is-6">Email Address</label>
							<div class="control has-icons-left has-icons-right">
								<input class="input" type="text" placeholder="**********">
									<span class="icon is-small is-left">
				      					<i class="fa fa-key"></i>
				    				</span>
							</div>
						</div>
					</div>

					<div class="columns">
						<div class="column is-10">
					<div class="field">
							<label class="title is-6">Address</label>
							<div class="control has-icons-left has-icons-right">
								<input class="input" type="text" placeholder="**********">
									<span class="icon is-small is-left">
				      					<i class="fa fa-key"></i>
				    				</span>
							</div>
</div>					</div>

				<div class="column">
					<label class="title is-6">Gender</label>
					<div class="control">
						  <div class="select">
						    <select>
						      <option>Gender</option>
						      <option>Female</option>
						       <option>Male</option>
						    </select>
						  </div>
						</div>
					</div>
</div>
					<div class="columns">
						<div class="column is-half">
							<label class="title is-6">Mobile Number</label>
							<div class="control has-icons-left has-icons-right">
								<input class="input" type="text" placeholder="Mobile Number">
									<span class="icon is-small is-left">
				      					<i class="fa fa-key"></i>
				    				</span>
							</div>
							<br>
								<label class="title is-6">Username</label>
							<div class="control has-icons-left has-icons-right">
								<input class="input" type="text" placeholder="**********">
									<span class="icon is-small is-left">
				      					<i class="fa fa-key"></i>
				    				</span>
							</div>
							<br>
								<label class="title is-6">Password</label>
							<div class="control has-icons-left has-icons-right">
								<input class="input" type="text" placeholder="**********">
									<span class="icon is-small is-left">
				      					<i class="fa fa-key"></i>
				    				</span>
							</div>
							<br>
								<label class="title is-6"> Confirm Password</label>
							<div class="control has-icons-left has-icons-right">
								<input class="input" type="text" placeholder="**********">
									<span class="icon is-small is-left">
				      					<i class="fa fa-key"></i>
				    				</span>
							</div>
						</div>
													<div class="column">
														<label class="title is-6">Telephone Number</label>
							<div class="control has-icons-left has-icons-right">
								<input class="input" type="text" placeholder="Mobile Number">
									<span class="icon is-small is-left">
				      					<i class="fa fa-key"></i>
				    				</span>
							</div>
							<br>
							<div class="field">
						<div class="button green is-fullwidth is-medium is-size-5"><strong>Create Account</strong></div>
					</div>

						</div>


						</div>
					</div>





				</div>


							
					</div>
				</div>
	</div>
					
					
			

							</div>
						</div>
			    	</div>
				</div>
			</div>
		</div>

{% endblock %}

