{% extends "unregistered-base.html" %}

{% block content %}
		
<br>
<br>
	<div class="container">	
		<div class="columns is-centered">
			<div class="column is-7">
				<div class="box">
					<h1 class="title has-text-centered">SIGN UP</h1>
<!-- Steps -->
		<div class="steps" id="stepsDemo">
		  <div class="step-item is-active is-success">
	    <div class="step-marker">1</div>
	    <div class="step-details">
	      <p class="step-title">Account</p>
	    </div>
	  </div>
	  <div class="step-item">
	    <div class="step-marker">2</div>
	    <div class="step-details">
	      <p class="step-title">Personal</p>
	    </div>
	  </div>
	  <div class="step-item">
	    <div class="step-marker">3</div>
	    <div class="step-details">
	      <p class="step-title">Contact Info</p>
	    </div>
	  </div>
	  <div class="step-item">
	    <div class="step-marker">4</div>
	    <div class="step-details">
	      <p class="step-title">Finish</p>
	    </div>
	  </div>

<!-- Steps-Content -->
  <div class="steps-content">
    <div class="step-content has-text-centered is-active">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Username</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" name="username" id="username" type="text" placeholder="Username" autofocus data-validate="require">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control has-icon has-icon-right">
              <input class="input" type="password" name="password" id="password" placeholder="Password" data-validate="require">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Confirm password</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control has-icon has-icon-right">
              <input class="input" type="password" name="password_confirm" id="password_confirm" placeholder="Confirm password" data-validate="require">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="step-content has-text-centered">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">First name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" name="firstname" id="firstname" type="text" placeholder="Firstname" autofocus data-validate="require">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Last name</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control has-icon has-icon-right">
              <input class="input" type="text" name="lastname" id="lastname" placeholder="Last name" data-validate="require">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Gender</label>	

        </div>
        <div class="field-body">
              <div class="control">
						  <div class="select">
						    <select>
						      <option>Select Gender</option>
						      <option>Female</option>
						       <option>Male</option>
						    </select>
						  </div>
						</div>
        </div>
      </div>
    </div>
    <div class="step-content has-text-centered">
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Address</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" name="facebook" id="facebook" type="text" placeholder="City" autofocus data-validate="require">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Contact Number</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" name="twitter" id="twitter" type="text" placeholder="Telephone&nbsp|&nbsp Mobile Number" autofocus data-validate="require">
            </div>
          </div>
        </div>
      </div>
      <div class="field is-horizontal">
        <div class="field-label is-normal">
          <label class="label">Email Address</label>
        </div>
        <div class="field-body">
          <div class="field">
            <div class="control">
              <input class="input" name="twitter" id="twitter" type="text" placeholder="doodle@example.com" autofocus data-validate="require">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="step-content has-text-centered">
      <h1 class="title is-4">Your account is now created!</h1>
    </div>
  </div>
  <div class="steps-actions">
    <div class="steps-action">
      <a href="#" data-nav="previous" class="button is-primary">Previous</a>
    </div>
    <div class="steps-action">
      <a href="#" data-nav="next" class="button is-success">Next</a>
    </div>
  </div>
</div>
</div>
</div>
</div>

<script type="text/javascript" src="bulma-steps.min.js"></script>
<script>
    new bulmaSteps(document.getElementById('stepsDemo'), {
    onShow: (id) => console.log(id)
})
  </script>
</body>
{% endblock %}

