								<tbody>
									<tr class="table-row">
										<td>{{ partner.id }}</td>
									    <td>{{ partner.company_name }}</td>
									    <td>{{ partner.coordinator }}</td>
									    <td>{{ partner.address }}</td>
									    {% if status=='all' %}
									    <td>
									    	{% if partner.status=='A' %}
									    		Active
									    	{% elif partner.status=='D' %}
									    		Disabled
									    	{% elif partner.status=='P' %}
									    		MOA sent
									    	{% else %}
									    		New
									    	{% endif %}

										</td>
										{% endif %}
										<td>
											<div class="dropdown is-hoverable">
												<div class="dropdown-trigger">
													<button class="button">
														<span>Actions</span>
														<span class="icon">
															<i class="fa fa-angle-down"></i>
														</span>
													</button>
												</div>
												<div class="dropdown-menu">
													<div class="dropdown-content">
														<a class="dropdown-item" href="{{url_for('admin.partner_show', id=partner.id)}}"><span class="icon is-small"><i class="fa fa-eye"></i></span>&nbsp View</a>
														{% if partner.status!='P'%}
														<a class="dropdown-item" href="{{url_for('admin.partner_action', id = partner.id)}}")'><span class="icon is-small"><i class="fas fa-location-arrow"></i></span>
														{% if partner.status=='N' %}
															Send MOA
														{% elif partner.status=='A' %}
															Disable
														{% else %}
															Activate
														{% endif %}
														</span>
														</a>
														{% endif %}
													</div>
												</div>
											</div>
										</td>
									</tr>	
								</tbody>