								<tbody>
									<tr class="table-row">
										<td>1</td>
									    <td>Red Cross Cavite Chapter</td>
									    <td>Cavite City</td>
										<td>
											<div class="dropdown is-hoverable">
												<div class="dropdown-trigger">
													<button class="button">
														<span>Actions</span>
														<span class="icon">
															<i class="fa fa-angle-down"></i>
														</span>
													</button>
												</div>
												<div class="dropdown-menu">
													<div class="dropdown-content">
														<a class="dropdown-item" href=""><span class="icon is-small"><i class="fa fa-eye"></i></span>&nbsp View</a>
														<a class="dropdown-item" href=""><span class="icon is-small"><i class="fa fa-archive"></i></span>&nbsp Archive</a>
													</div>
												</div>
											</div>
										</td>
									</tr>	
								</tbody>