{% extends "admin-base.html" %}

{% block content %}
			<div class="notification gold">
				<div class="columns is-centered">
					<div class="column is-3">
						<article class="media">
						  	<figure class="media-left"> 
						  		<a class="button add" href="{{url_for('admin.partners_create')}}" ><i class="fas fa-plus-circle"> </i>&nbsp Add</a>
						  	</figure>
						</article>
					</div>

					<div class="column is-6">
						<div class="tabs proposal is-toggle has-text-weight-bold is-centered">
						  <ul>
						    <li {% if status=='all' %} class="is-active" {% endif %}>
						      <a href="{{url_for('admin.partners', status='all', search=search)}}">
						        <span class="icon is-small"><i class="fas fa-list-ul" aria-hidden="true"></i></span>
						        <span class="proposal">All</span>
						      </a>
						    </li>
						    <li {% if status=='new' %} class="is-active" {% endif %}>
						      <a href="{{url_for('admin.partners', status='new', search=search)}}">
						        <span class="icon is-small"><i class="fas fa-user-plus" aria-hidden="true"></i></span>
						        <span class="proposal">New</span>
						      </a>
						    </li>
						    <li {% if status=='pending' %} class="is-active" {% endif %}>
						      <a href="{{url_for('admin.partners', status='pending', search=search)}}">
						        <span class="icon is-small"><i class="fas fa-user-clock" aria-hidden="true"></i></span>
						        <span class="proposal">Pending</span>
						      </a>
						    </li>
						    <li {% if status=='active' %} class="is-active" {% endif %}>
						      <a href="{{url_for('admin.partners', status='active', search=search)}}">
						        <span class="icon is-small"><i class="fas fa-user-check" aria-hidden="true"></i></span>
						        <span class="prop">Active</span>
						      </a>
						    </li>
						    <li {% if status=='disabled' %} class="is-active" {% endif %}>
						      <a href="{{url_for('admin.partners', status='disabled', search=search)}}">
						        <span class="icon is-small"><i class="fas fa-user-times" aria-hidden="true"></i></span>
						        <span>Disabled</span>
						      </a>
						    </li>
						  </ul>
						</div>
					</div>

					<div class="column is-3">
						<div class="field is-horizontal is-pulled-right has-addons has-addons-centered">
							<form action="" method="POST">
								{{form.hidden_tag()}}
							<div class="field-body">
								<p class="control">
							    	{{form.search(class_='input', placeholder='Search')}}
								</p>
								<p class="control">
							     	{{form.submit(class_='button search')}}
								</p>
							</div>
							</form>
						</div>
					</div>
				</div>
			</div>

			<div class="columns is-gapless">
				<div class="column is-2">
					<div class="notification filter">
						<p class="title is-size-5">Filter</p>

		    			<div class="columns">
		    				<div class="column">
		    					<div class="select is-fullwidth">
								    <select>
								      <option>Please choose</option>
								      <option>All</option>
								      <option>Organizations</option>
								      <option>Departmental</option>
								      <option>Partners</option>
								    </select>
							 	</div>
		    				</div>
		    			</div>

		    			<div class="columns">
		    				<div class="column">
		    					<div class="select is-fullwidth">
								    <select>
								      <option>Please choose</option>
								      <option>All</option>
								      <option>Organizations</option>
								      <option>Departmental</option>
								      <option>Partners</option>
								    </select>
							 	</div>
		    				</div>
		    			</div>

		    			<div class="columns">
		    				<div class="column">
		    					<div class="select is-fullwidth">
								    <select>
								      <option>Please choose</option>
								      <option>All</option>
								      <option>Organizations</option>
								      <option>Departmental</option>
								      <option>Partners</option>
								    </select>
							 	</div>
		    				</div>
		    			</div>
					</div>
				</div>

				<div class="column">
					<div class="card box">
						<div class="card-header">
							<p class="card-header-title">
							{% if search!=' ' %}
							You searched for '{{search}}'
							<a href="{{url_for('admin.partners', status=status, search=' ')}}"><span class="fas fa-times"></span></a>
							&nbsp; in
							{% endif %}
							{{status | title }} Partners
							</p>
							<div class="is-pulled-right">
								<p class="card-header-title">
									Total: {{partners | length}}
								</p>
							</div>
						</div>
						<div class="card-content">
							<table class="table is-fullwidth">
								{% if partners %}
								<thead>
									<tr>
										<th class="newlist">ID</th>
									    <th class="newlist">Company Name</th>
									    <th class="newlist">Coordinator</th>
									    <th class="newlist">Address</th>
									   	{% if status=='all' %}<th class="newlist">Status</th>{% endif %}
									    <th class="newlist hidedesktop">Actions</th>
									 </tr>
									
								</thead>

									{% for partner in partners %}
										{% include 'admin/partners/_partners.html' %}
									{% endfor %}

								{% else %}

								<tbody>

									<tr class = "table-row">
										<td class = "has-text-centered">---Nothing to show---</td>
								 	</tr>
									
								</tbody>

								{% endif %}
							</table>
						</div>
					</div>	
				</div>
			</div>
{% endblock %}