{% extends "admin-base.html" %}

{% block content %}
		<section class="hero">
			<div class="notification gold">
				<div class="columns">
					<div class="column">
						<article class="media">
							<figure class="media-left">
							   	<p class="has-text-black has-text-weight-bold">Filter by:</p>
							</figure>
							<div class="media-content">
							    <div class="content">
								    <div class="field-body">
										<div class="field is-narrow">
										    <div class="control">
										        <div class="select is-fullwidth">
										          <select>
										          	<option>Select Category</option>
										            <option>Spiritual</option>
										            <option>Education</option>
										            <option>Health</option>
										            <option>Livelihood</option>
										            <option>Environmental</option>
										            <option>Socio-Political Concerns</option>
										          </select>
										        </div>
										    </div>
										</div>
									</div>
							    </div>    
							</div>
						</article>
					</div>

					<div class="column">
						
					</div>

					<div class="column">
						<div class="field has-addons has-addons-centered">
							<p class="control">
							    <input class="input" type="text" placeholder="Search">
							</p>
							<p class="control">
							    <a class="button search">
							      Search
							    </a>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="hero-body">
				<div class="box white is-white">
					<div class="column">
						<div class="card-header">
							<p class="card-header-title">Partners</p>
						</div>
						<div class="card-content">
							<table class="table is-fullwidth">
								{% if partners %}
								<thead>
									<tr>
										<th class="newlist">ID</th>
									    <th class="newlist">Company Name</th>
									    <th class="newlist">Address</th>
									   	<th class="newlist">Status</th>
									    <th class="newlist hidedesktop">Actions</th>
									 </tr>
									
								</thead>

									{% for partners in partners %}
										{% include 'admin/partners/_partners.html' %}
									{% endfor %}

								{% else %}

								<tbody>

									<tr class = "table-row">
										<td class = "has-text-centered">---Nothing to show---</td>
								 	</tr>
									
								</tbody>

								{% endif %}
							</table>
						</div>
					</div>	
				</div>
			</div>
		</section>
{% endblock %}