{% extends "admin-base.html" %}

{% block content %}
			<div class="notification gold">
				<div class="columns">
					<div class="column">
						<div class="tabs proposal is-toggle has-text-weight-bold">
						  <ul>
						    <li class="is-active">
						      <a>
						        <span class="icon is-small"><i class="fas fa-plus" aria-hidden="true"></i></span>
						        <span class="proposal">New</span>
						      </a>
						    </li>
						    <li>
						      <a>
						        <span class="icon is-small"><i class="fas fa-ellipsis-h" aria-hidden="true"></i></span>
						        <span class="prop">Ongoing</span>
						      </a>
						    </li>
						    <li>
						      <a>
						        <span class="icon is-small"><i class="fas fa-check" aria-hidden="true"></i></span>
						        <span>Completed</span>
						      </a>
						    </li>
						  </ul>
						</div>
					</div>

					<div class="column">
						<article class="media">
						  	<figure class="media-left">
						  		<button class="button add"><i class="fas fa-plus-circle"></i>&nbsp Add</button>
						  	</figure>
						</article>
					</div>

					<div class="column is-3">
						<div class="field has-addons has-addons-centered">
							<p class="control">
							    <input class="input" type="text" placeholder="Search">
							</p>
							<p class="control">
							    <a class="button search">
							      Search
							    </a>
							</p>
						</div>
					</div>
				</div>
			</div>

			<div class="columns is-gapless">
				<div class="column is-2">
					<div class="notification filter">
						<p class="title is-size-5">Filter</p>

		    			<div class="columns">
		    				<div class="column">
		    					<div class="select is-fullwidth">
								    <select>
								      <option>Please choose</option>
								      <option>All</option>
								      <option>Organizations</option>
								      <option>Departmental</option>
								      <option>Partners</option>
								    </select>
							 	</div>
		    				</div>
		    			</div>

		    			<div class="columns">
		    				<div class="column">
		    					<div class="select is-fullwidth">
								    <select>
								      <option>Please choose</option>
								      <option>All</option>
								      <option>Organizations</option>
								      <option>Departmental</option>
								      <option>Partners</option>
								    </select>
							 	</div>
		    				</div>
		    			</div>

		    			<div class="columns">
		    				<div class="column">
		    					<div class="select is-fullwidth">
								    <select>
								      <option>Please choose</option>
								      <option>All</option>
								      <option>Organizations</option>
								      <option>Departmental</option>
								      <option>Partners</option>
								    </select>
							 	</div>
		    				</div>
		    			</div>
					</div>
				</div>

				<div class="column">
					<div class="card box">
						<div class="card-header">
							<p class="card-header-title">Partners</p>
						</div>
						<div class="card-content">
							<table class="table is-fullwidth">
								{% if partners %}
								<thead>
									<tr>
										<th class="newlist">ID</th>
									    <th class="newlist">Company Name</th>
									    <th class="newlist">Address</th>
									   	<th class="newlist">Status</th>
									    <th class="newlist hidedesktop">Actions</th>
									 </tr>
									
								</thead>

									{% for partner in partners %}
										{% include 'admin/partners/_partners.html' %}
									{% endfor %}

								{% else %}

								<tbody>

									<tr class = "table-row">
										<td class = "has-text-centered">---Nothing to show---</td>
								 	</tr>
									
								</tbody>

								{% endif %}
							</table>
						</div>
					</div>	
				</div>
			</div>
{% endblock %}