{% extends "admin-base.html" %}

{% block content %}
		<div class="panel panel-default">
			<div style ="position:absolute; margin: 1%">
				<a href="{{ url_for('admin.partners') }}" class = "button">
					<span class="icon is-small">
                		<i class="fas fa-arrow-alt-circle-left"></i>
					</span>
					<span>Back</span>
				</a>
			</div>
		    <div class="overlay-card has-text-centered">

		    	<div class="circular">
		    		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTpor1YLOvnGDBQ_kPENgXeX8Nk0m_WQ9TCmQrFyFmHFqlZICVqIA">
		    	</div>
		        
		        <div class="row has-text-centered">
		            <p class="has-text-white is-size-3 has-text-weight-bold">{{partner.company_name}}</p>
		            <a class="btn btn-follow btn-sm text-center has-text-white" href="#" role="button">{{partner.email_address}}</a>
		            <p class="has-text-white is-size-6"> Last active on {{partner.last_active.strftime('%b %e, %Y at %I:%M %p')}} </p>
		        </div>
		    </div>
		</div>

		<nav class="level is-mobile">
			<div class="level-item has-text-centered">
			    <div>
			      	<a class="menu">
			      		<p class="icon">
					      	<span class="icon">
					      		<i class="fas fa-user fa-2x"></i>
					      	</span>
					    </p>
			     	 	<p class="is-size-6 has-text-weight-bold">About</p>
			  	  	</a>
			    </div>
			</div>

			<div class="level-item has-text-centered">
			    <div>
			    	<a class="menu">
				      	<p class="icon">
					      	<span class="icon">
					      		<i class="fas fa-calendar-alt icon fa-2x""></i>
					      	</span>
					    </p>
				      	<p class="is-size-6 has-text-weight-bold">Events Attended</p>
				    </a>
			    </div>
			</div>

			<div class="level-item has-text-centered">
			    <div>
			    	<a class="menu">
				      	<p class="icon">
					      	<span class="icon">
					      		<i class="fas fa-cog icon fa-2x"></i>
					      	</span>
					    </p>
				      	<p class="is-size-6 has-text-weight-bold">Settings</p>
				    </a>
			    </div>
			</div>
		</nav>

		<section class="hero">
			<div class="hero-body">
			    <div class="container">
			      	<div class="card">
						<header class="card-header is-active">
						    <p class="card-header-title">
						      Company Information
						    </p>
						    <a href="#" class="card-header-icon" aria-label="more options">
						      <span class="icon">
						        <i class="fas fa-edit" aria-hidden="true"></i>
						      </span>
						    </a>
					  	</header>
					  	<div class="card-content profile">
						    <a class="panel-block">
							    <article class="media">
								  	<figure class="media-left">
								    	<p>Name:</p>
								  	</figure>
								  	<div class="media-content">
								    	<div class="content">
								      		<p>
								        		<strong>{{partner.company_name}}</strong>
								      		</p>
								    	</div>
								  	</div>
								</article>
							</a>
							
							<a class="panel-block">
						    	<article class="media">
									<figure class="media-left">
							    		<p>Address:</p>
							  		</figure>
							  		<div class="media-content">
							   			<div class="content">
							      			<p>
							        			<strong>{{partner.address}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</a>

							<a class="panel-block">
						    	<article class="media">
									<figure class="media-left">
							    		<p>Contact Person:</p>
							  		</figure>
							  		<div class="media-content">
							   			<div class="content">
							      			<p>
							        			<strong>{{partner.first_name}} {{partner.middle_name}} {{partner.last_name}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</a>

						  	<a class="panel-block">
						    	<article class="media">
							  		<figure class="media-left">
							    		<p>Telephone:</p>
							  		</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							        			<strong>{{partner.telephone}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</a>

						  	<a class="panel-block">
						     	<article class="media">
							  		<figure class="media-left">
							    		<p>Mobile:</p>
							    	</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							        			<strong>{{partner.mobile_number}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</a>
						  	{% if mem_since %}
						  	<a class="panel-block">
						     	<article class="media">
							  		<figure class="media-left">
							    		<p>Member Since:</p>
							    	</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							        			<strong>{{mem_since.date_created.strftime('%b %e, %Y')}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</a>
						  	{% endif %}
						  	<a class="panel-block">
						     	<article class="media">
							  		<figure class="media-left">
							    		<p>Status:</p>
							    	</figure>
							  		<div class="media-content">
							    		<div class="content">
							      			<p>
							        			<strong>{{partner.status}}</strong>
							      			</p>
							    		</div>
							  		</div>
								</article>
						  	</a>
						</div>
					</div>
			    </div>
			</div>
		</section>
{% endblock %}