{% extends "religious_admin-base.html" %}

{% block content %}

 
  <div class="cd-fixed-bg cd-bg-1">
      <h1 class="container-h1">Welcome to ReCOP-ComEx</h1>

 <!--  <label class="label center-label is-1 has-text-light">"Bringing Hope to the Community"</label>
 -->
<div class="getstarted">
      <button class="button title is-6 is-large getstarted">GET STARTED</button>
  </div>
  </div>

   <div class="notification title has-text-centered is-light has-text-grey title-home">
      About Us
  </div>

<!-- CAROUSEL AUTOPLAY START -->
  <div class="container padding">
      <div class="columns padding">
        <div class="column is-6">
          <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
              <div class='carousel-container'>
              <!-- CAROUSEL ITEMS -->
                <div class='carousel-item has-background'>
                    <img class="is-background" src="../../../static/images/beneficiary.jpg" alt="" width="60" height="310" />
                  </div>

                  <div class='carousel-item has-background'>
                    <img class="is-background" src="../../../static/images/volunteer.jpg" alt="" width="640" height="310" />
                </div>

                <div class='carousel-item has-background'>
                    <img class="is-background" src="../../../static/images/pic4.jpg" alt="" width="640" height="310" />
                </div>
                  
                  <div class='carousel-item has-background'>
                    <img class="is-background" src="../../../static/images/beneficiary.jpg" alt="" width="640" height="310" />
                    </div>
                </div>
          </div>
        </div>
<br>
<!--CAROUSEL AUTOPLAY ENDS  -->

<!-- RECOPCOMEX DETAILS START -->
        
        <div class="column label-home">
          <div class="has-text-grey title label-home">The ReCOP-ComEx</div>
          
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              Lorumrem ipsum dolor sit amet, consectetur adipiscing elit. 
                </p>
                <br>
                <p>
              Proin ornare magna eros, eu pellentesque tortor vestibulum ut. Maecenas non massa sem. Etiam finibus odio quis feugiat facilisis.
              consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
              cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
              proident, sunt in culpa qui officia deserunt mollit anim id est laborum.    
            </p>        
        </div>
      </div>
    </div>
 
<BR>




<!-- EVENTS AND SERVICES START -->
  
 <h1 class="title title-home has-text-grey has-text-centered notification has-text-light">What We Do</h1>
  <br>
  
  <div class="container padding_home">
    <div class="columns is-centered padding">
      <div class="column is-4">  
        <div class="card">
          <div class="content">
            <div class="content-overlay"></div>
              <img class="image_home" src="../../static/images/beneficiary.jpg"> 
                <div class="content-details">
                  <h5 class="button is-dark is-outlined is-inverted">Learn more</h5>
                </div>
          </div>
        </div>
  
      <div class="card">
        <h1 class="has-text-centered notification is-light has-text-grey title label-home">Outreach Activities</h1>
      </div>    
      
      <div class="card">
        <div class="card-content label-home">  
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam 
          </p>
        </div>
      </div>
    </div>
          
    <div class="column is-4">  
      <div class="card">
        <div class="content">
          <div class="content-overlay"></div>
            <img class="image_home" src="../../static/images/volunteer.jpg"> 
              <div class="content-details">
                <h5 class="button is-dark is-outlined is-inverted">Learn more</h5>
              </div>
        </div>
      </div>
  
    <div class="card">
      <h1 class="has-text-centered notification is-light has-text-grey title label-home">Volunteer</h1>
    </div>    
  
    <div class="card">
      <div class="card-content label-home">  
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam 
        </p>
      </div>
    </div>
  </div>

  <div class="column is-4">  
    <div class="card">
      <div class="content">
        <div class="content-overlay"></div>
          <img class="image_home" src="../../static/images/pic4.jpg"> 
            <div class="content-details">
              <h5 class="button is-dark is-outlined is-inverted">Learn more</h5>
            </div>
      </div>
    </div>
  
    <div class="card">
      <h1 class="has-text-centered notification is-light has-text-grey title label-home">Community Services</h1>
    </div>    
  
    <div class="card">
      <div class="card-content label-home">  
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam 
      </p>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<br>


<!-- EVENTS AND SERVICES ENDS -->
 <h1 class="title title-home has-text-grey has-text-centered notification has-text-light">Upcoming Events</h1>
          
  <div class="container padding">
  <div class="columns is-centered">
                    <div class="column is-half">
                        <div class="card events-card">
                            <header class="card-header">
                                <p class="card-header-title">
                                   Upcoming Events
                                </p>
                                <a href="#" class="card-header-icon" aria-label="more options">
                 
                </a>
                            </header>
                            <div class="card-table">
                                <div class="content">
                                    <table class="table is-fullwidth is-striped">
                                        <tbody>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Register Now</a></td>
                                            </tr>
                                            <tr>
                                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                                <td>Lorum ipsum dolem aire</td>
                                                <td><a class="button is-small is-primary" href="#">Action</a></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <footer class="card-footer">
                                <a href="#" class="card-footer-item">View All</a>
                            </footer>
                        </div>
                    </div>
                    <div class="column has-text-centered">
                      <div class="container-donate">
                      <img class="donate" src="../../static/images/donate2.jpg">
                      <div class="centered">JOIN&nbsp;US
                        <div class="button is-primary is-outlined is-inverted has-text-centered is-rounded">DONATE NOW</div>
                      </div>


                    </div>
            </div>
          </div>
        </div>
        <br>

        <!--REFER SOMEONE  -->
        <h1 class="title title-home has-text-grey has-text-centered notification has-text-light">Refer someone</h1>
           <div class="container padding">
              
            <div class="columns is-centered has-text-centered padding"> 
              <div class="column is-4">
                <div class="card select-list">
                  <div class="card-content">
                    <div class="card-box notification is-light">
                      <h1 class="title is-1">1200</h1>
                        <span class="label has-text-grey">Volunteers</span>
                    </div>
                      <button class="button is-medium is-primary is-fullwidth">Refer Someone</button>
                  </div>
                </div>
              </div>
               <div class="column is-4">
                <div class="card select-list">
                  <div class="card-content">
                    <div class="card-box notification is-light">
                      <h1 class="title is-1">190</h1>
                        <span class="label has-text-grey">Communities</span>
                    </div>
                      <button class="button is-medium is-primary is-fullwidth">Refer Someone</button>
                  </div>
                </div>
              </div>
               <div class="column is-4">
                <div class="card select-list">
                  <div class="card-content">
                    <div class="card-box notification is-light">
                      <h1 class="title is-1">110</h1>
                        <span class="label has-text-grey">Partners</span>
                    </div>
                      <button class="button is-medium is-primary is-fullwidth">Refer Someone</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
<BR>
<br>
        <!--REFER SOMEONE END -->

<div class="cd-fixed-bg3 cd-bg-3">
  </div>
<!-- WHO WE ARE START -->  

<section class="hero is-dark">
  <div class="hero-body">
    <div class="container bottom">
      <div class="columns is-centered">
        <div class="column is-4">
            <h1 class="title title-home">Who we are</h1>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
           <br>
         
            <a class="button is-light is-rounded is-outlined " href="../">Learn more</a>
        </div>
        <div class="column is-4">
            <h1 class="title title-home">Our Events</h1>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
           <br>
          
            <a class="button is-light is-rounded is-outlined " href="../">Learn more</a>
        </div>
        <div class="column is-4">
            <h1 class="title title-home">Get Involved</h1>
          <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
              tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

            </p>
           
            <br>
            <a class="button is-light is-rounded is-outlined " href="../">Learn more</a>
        </div>
      </div>  
    </div>
  </div>

</section>
<div class="cd-fixed-bg2 cd-bg-2">
  </div>


{% endblock %}
