{% extends "religious_admin-base.html" %}

{% block content %}

    {% include 'religious_admin/profile/settings/settings-base.html' %}

            <div class="column">
                <div class="columns padding">
                    <div class="column">
                        <div class="card box">
                            <form action ="" method = "POST" onsubmit="return check_pass()">
                                {{form.hidden_tag()}}
                                <div class="card-header">
                                    <p class="card-header-title">Change Password</p>
                                </div>

                                <div class="card-content">

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{form.oldpassword.label(class_='label')}}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control">
                                                    {{form.oldpassword(class_='input', placeholder='Old Password')}}
                                                    {% for error in form.oldpassword.errors %}
                                                    <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            {{form.password.label(class_='label')}}
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control has-icon has-icon-right">
                                                    {{form.password(class_='input', placeholder='Password')}}
                                                    {% for error in form.password.errors %}
                                                    <span style="color: red;">[{{ error }}]</span>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="field is-horizontal">
                                        <div class="field-label is-normal">
                                            <label class="label">Confirm</label>
                                        </div>
                                        <div class="field-body">
                                            <div class="field">
                                                <div class="control has-icon has-icon-right">
                                                    <input class="input" type="password" name="password_confirm" id="password_confirm" placeholder="Confirm password" data-validate="require">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="has-text-centered">
                                    {{form.submit(class='button is-primary')}}
                                    </div>
                                </div>
                            </form>      
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}