{% extends "registered-base.html" %}

{% block content %}

 <div class="container margin-donate"> 
    <div class="columns is-centered padding-donation">
        <div class="column">
            <div class="card">
            <div class="card notification gold-donate">
              <h1 class="title is-4">Donation History</h1>
            </div>
        
            </div>
            <div class="card events-card">
                            <div class="card-table">
                                <div class="content">
                                    {% if donations %}
                                    <table class="table is-fullwidth is-hoverable is-striped">
                                        <thead>
                                            <th>Gave to</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                            <th>Status</th>
                                        </thead>
                                        {% for donation in donations %}
                                             {% include 'registered/donate/_donations.html' %}
                                        {% endfor %}
                                    </table>
                                    {% else %}
                                    <table class="table is-fullwidth is-hoverable is-striped">
            <thead></thead>
          <tbody>

            <tr class = "table-row">
              <td class="has-text-centered">
                <div class='field has-text-centered'>
                  <span class='tag is-warning is-medium'>No results found</span>
                </div>
              </td>
            </tr>
            
          </tbody>
                                    </table>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
        </div>
        
        <div class="column is-6">
            <form action ="" method = "POST" enctype="multipart/form-data">
            {{form.hidden_tag()}}
                <div class="card">
                    <div class="card-content">
                       
                <div class="columns is-centered">
                    <div class="column is-9">
                        <h1>Donate Now</h1>
                        <p class="subtitle fancy"><span>Help us build hope</span>
                        </p>
                        <div class="field">
                            <label class="label">
                                {{form.give_to.label(class_='label')}}
                            </label>

            
                                    <div class="control has-icon has-icon-right">
                                        {% for subfield in form.give_to %}
                                            &nbsp;&nbsp;&nbsp;
                                            <label class = "radio">
                                                {{subfield(onclick='donate_choose(this.value)')}}
                                                {{subfield.label}}
                                            </label>
                                            {% endfor %}
                                    </div>
                             
                            </div>
                        
                        <div class="hidden" id='comm'>
                            <div class="field width">
                                <label class="label">
                                {{form.sponsee.label(class_='label')}}
                                </label>
                           
                                    <div class="control has-icon has-icon-right is-expanded">
                                        <div class="select is-fullwidth">
                                        {{form.sponsee(class_='input', placeholder='Amount')}}
                                        {% for error in form.sponsee.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="hidden" id='events'>
                            {% if no_event==0 %}
                            <div class="field">
                                <label class="label">
                                {{form.event.label(class_='label')}}
                                </label>
                                    <div class="control has-icon has-icon-right">
                                        {{form.event(class_='input')}}
                                        {% for error in form.event.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                    </div> 
                            </div>
                            {% else %}
                            <div class="field-body"> 
                                <div class="field">
                                    <p class="notification title is-6 gold-donate has-text-centered">
                                        Sorry there are no scheduled events as of the moment
                                    </p>
                                </div>
                            </div>
                            {% endif %}
                        </div>
                        <div class="field">
                            <label class="label">
                                {{form.type.label(class_='label nowrap')}}
                            </label> 
                                    <div class="control has-icon has-icon-right">
                                        {% for subfield in form.type %}
                                        &nbsp;&nbsp;&nbsp;
                                            <label class = "radio">
                                                {{subfield(onclick='donate_type(this.value)')}}
                                                {{subfield.label}}
                                            </label>
                                            {% endfor %}
                                    </div>
                              
                            </div>
                       
                        <div class="hidden" id = "amount_div">
                            <div class="field width">
                                <label class="label">
                                {{form.amount.label(class_='label')}}
                            </label>
                           
                                    <div class="control has-icon has-icon-left">
                                        {{form.amount(class_='input', placeholder='Amount')}}
                                        {% for error in form.amount.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}
                                         &nbsp;&nbsp;&nbsp;
                                        <span class="icon is-small is-left">
                                                   <i class="fas fa-money-bill-alt"></i>
                                        </span>
                                    </div>
                              
                            </div>
                        </div>
                        <div class="hidden" id = "trans_div">
                            <div class="field width">
                                <label class="label">
                                {{form.trans_slip.label(class_='label')}}
                                </label>
                                    <div class="control has-icon has-icon-right">
                                        {{form.trans_slip(class_='input', accept='.png, .jpg, .jpeg, .gif')}}
                                        {% for error in form.trans_slip.errors %}
                                        <span style="color: red;">[{{ error }}]</span>
                                        {% endfor %}

                                    </div>
                         
                        </div>
                    </div>
            </div>
        </div>
                        <div class="columns">
                            <div class="column">
                                <div class="field">
                                    <p class="control">
                                    {{form.submit(class='button green-donate is-pulled-right title is-6')}}
                                    </p>
                                </div>
                                <br><br>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="footer-margin-top"></div>

{% endblock %}
