{% extends "registered-base.html" %}

{% block content %}

<form action ="" method = "POST" enctype="multipart/form-data">
    {{form.hidden_tag()}}
    <section class="hero">
        <div class="columns">
            <div class="column">
                <div class="nav-gold">
                    <strong>Help Someone Today!</strong>
                </div>
            </div>
        </div>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                {{form.amount.label(class_='label')}}
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control has-icon has-icon-right">
                        {{form.amount(class_='input', placeholder='Amount')}}
                        {% for error in form.amount.errors %}
                        <span style="color: red;">[{{ error }}]</span>
                        {% endfor %}
                        <title>Upload new File</title>
                        <p>{{form.file}}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="columns">
        <div class="column">
            <div class="field is-grouped is-grouped-centered">
                <p class="control">
                    {{form.submit(class='button is-primary')}}
                </p>
            </div>
        </div>
    </div>
</form>


{% endblock %}