{% extends "religious_admin-base.html" %}

{% block content %}

			<div class="notification gold">
				<div class="columns is-centered">
					<div class="column">
						<article class="media">
						  	<figure class="media-left"> 
						  		<a class="button viewbtn" href="{{url_for('religious_admin.events',status='all', page='1', search=' ')}}">
									<span class="icon">
										<i class="fa fa-list"></i>
									</span>
								</a>
								<a class="button viewbtn is-active" href="{{url_for('religious_admin.events_calendar')}}">
									<span class="icon">
										<i class="fa fa-calendar-alt"></i>
									</span>
								</a>
						  	</figure>
						</article>
					</div>
				</div>
			</div>

			<div class="column">
				<div class="card box">

					<hr class="is-marginless">
					<div class="card-content">
						<table class="table is-hoverable is-fullwidth" id = "event">

							{% if events %}
							<tbody>

								<tr class = "table">
									<td>
									<table class = "table is-bordered is-hoverable is-fullwidth">
										<tr class="table-row">

											<td colspan="1" id="prev">
												<button class = "button backbtnprof is-small" id="prev" onclick="prev_next(this.id)">
													<i class="fas fa-arrow-left"></i>
												</button>
											</td>

											<td colspan="5" id="month_year" style = "text-align:center"></td>

											<td colspan="1" id="next">
												<button class = "button backbtnprof is-small is-pulled-right" id="next" onclick="prev_next(this.id)">
													<i class="fas fa-arrow-right"></i>
												</button>
											</td>

										</tr>	

										<tr class="table-row">

											<td width = "14%">Sun</td>
											<td width = "14%">Mon</td>
											<td width = "14%">Tue</td>
											<td width = "14%">Wed</td>
											<td width = "14%">Thu</td>
											<td width = "14%">Fri</td>
											<td width = "14%">Sat</td>

										</tr>
									</table>
									</td>
								</tr>

								<tr class = "table-row">

									<td colspan = 7 id = "calendar"> </td>


								</tr>	

							</tbody>

						</table>


						<script>

							function Calendar(min, max, month, year){

								var table = document.createElement('table')
								var last = max.getDate()
								var start_day = min.getDay()
								var day=1
								var sw = 0
								var mark=0

								table.className ="table is-bordered is-fullwidth"

								while(day<=last){

									var tr = document.createElement('tr')

										for (col=0; col<=6; col++){
											
											var td = document.createElement('td')
											td.style.width= "14%"

											if (today.getDate()==day && today.getMonth()+1==month && today.getFullYear()==year){
												td.innerHTML='<span class="tag is-black is-small is-rounded">'+ day +'</span>'
											}
											else{
												td.innerHTML=day												
											}

											url=''
											name = ''

											{% for event in events %}

												if ({{event.event_date.strftime('%e')}}==day && {{event.event_date.strftime('%m')}}==month && {{event.event_date.strftime('%Y')}}==year){
													name = '{{event.name}}<br>'
													url = ""
													td.innerHTML= td.innerHTML + '<br><a href = "'+url+'"><span class="tag is-success is-small">'+ name+'</span></a>'
												}

											{% endfor %}

											 
											if (sw==0 && day<=last){
												if (col==start_day){
													tr.appendChild(td)
													sw=1
													day++
												}
												else{
													td.innerHTML=''
													tr.appendChild(td)
												}

											}
											else if (sw==1 && day<=last){
												tr.appendChild(td)
												day++						
											}
											else{
												td.innerHTML=''
												tr.appendChild(td)
												sw=1
												day++
											}
										}	
									
										table.appendChild(tr)

								}

								return table
							}

						</script>

							{% else %}

							<tbody>

								<tr class = "table-row">
									<td class = "has-text-centered">---Nothing to show---</td>
							 	</tr>
								
							</tbody>

							{% endif %}
					</div>
				</div>
			</div>




{% endblock %}