								<tbody>
									<tr class="table-row">
									    <td>{{ member.company_name }}</td>
									    <td>{{ member.coordinator }}</td>
									    <td>{{ member.address }}</td>
										<td>
											<a class="button is-warning tooltip" data-tooltip="View" href="">
												<span class="icon">
													<i class="fa fa-eye"></i>
												</span>
											</a>
											<a class="button is-danger tooltip" data-tooltip="Archive" href="">
												<span class="icon">
													<i class="fa fa-archive"></i>
												</span>
											</a>
										</td>
									</tr>	
								</tbody>